<style>
    #febs-saleBusinessPersonnel xm-select {
        min-height: 30px;
        line-height: 30px;
    }
    #febs-saleBusinessPersonnel xm-select > .xm-label .scroll .label-content {
        display: flex;
        padding: 0 30px 0 10px;
    }
</style>
<div class="layui-fluid layui-anim febs-anim" id="febs-saleBusinessPersonnel" lay-title="业务人员">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="parameter-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md8">
                                <div class="layui-form-item">
                                    <div class="layui-inline" >
                                        <label class="layui-form-label layui-form-label-sm">工号</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="personnelNumber" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline" >
                                        <label class="layui-form-label layui-form-label-sm">姓名</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="personnelName" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">状态</label>
                                        <div class="layui-input-inline">
                                            <select name="personnelState">
                                                <option value="">全部</option>
                                                <option value="1">启用</option>
                                                <option value="2">禁用</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="layui-col-md4 layui-col-sm12 layui-col-xs12 table-action-area">
                                <!--搜索按钮-->
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>搜索
                                </div>
                               <!-- 刷新表格按钮-->
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-green-plain table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>刷新
                                </div>
                                <!--添加按钮-->
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action "shiro:hasAnyPermissions="saleBusinessPersonnel:add" id="addTo">
                                    <i class="layui-icon">&#xe78a;</i>新增
                                </div>
                                <!--删除按钮-->
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action "shiro:hasAnyPermissions="saleBusinessPersonnel:delete" id="deleteTo">
                                    <i class="layui-icon">&#xe8a1;</i>删除
                                </div>
                                <!--修改按钮-->
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action "
                                     shiro:hasAnyPermissions="saleBusinessPersonnel:update" id="updateTo">
                                    <i class="layui-icon">&#xe642;</i>修改
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="saleBusinessPersonnelTable" lay-data="{id: 'saleBusinessPersonnelTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="personnel-state">
    {{#
    let personnelState = {
    1: {title: '启用', color: 'green'},
    2: {title: '禁用', color: 'volcano'}
    }[d.personnelState];
    }}
    <span class="layui-badge febs-bg-{{personnelState.color}}">{{ personnelState.title }}</span>
</script>
<script type="text/html" id="parameter-option">
    <span shiro:lacksPermission="saleBusinessPersonnel:view,saleBusinessPersonnel:update,saleBusinessPersonnel:delete">
        <span class="layui-badge-dot febs-bg-orange"></span> 无权限
    </span>
    <a lay-event="edit" shiro:hasPermission="saleBusinessPersonnel:update"><i
            class="layui-icon febs-edit-area febs-blue">&#xe7a4;</i></a>
    <a lay-event="del" shiro:hasPermission="saleBusinessPersonnel:delete"><i class="layui-icon febs-edit-area febs-red">&#xe7f9;</i></a>
</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdownMenu', 'jquery', 'laydate', 'form', 'table', 'febs', 'xmSelect'], function () {
        let $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            dropdownMenu = layui.dropdownMenu,
            $view = $('#febs-saleBusinessPersonnel'),
            $query = $view.find('#query'),
            $addTo = $view.find('#addTo'),
            $updateTo = $view.find('#updateTo'),
            $deleteTo = $view.find('#deleteTo'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'createTime', type: null},
            tableIns;

        form.render();

        initTable();



        dropdownMenu.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                let checkStatus = table.checkStatus('saleBusinessPersonnelTable');
                if (name === 'add') {
                    febs.modal.open('新增人事参数', 'personnel/saleBusinessPersonnel/add', {
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        yes: function (index, layero) {
                            $('#saleBusinessPersonnel-add').find('#submit').trigger('click');
                        },
                        btn2: function () {
                            $('#saleBusinessPersonnel-add').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        let checkStatus = table.checkStatus('loginLogTable');
                        febs.alert.warn('请选择需要删除的数据');
                    } else {
                        febs.modal.confirm('删除参数信息', '确定删除？', function () {
                            let ids = [];
                            layui.each(checkStatus.data, function (key, item) {
                                ids.push(item.id)
                            });
                            deleteSaleBusinessPersonnel(ids.join(','));
                        });
                    }
                }
            },
            options: [{
                name: 'add',
                title: '新增',
                perms: 'saleBusinessPersonnel:add'
            }, {
                name: 'delete',
                title: '删除',
                perms: 'saleBusinessPersonnel:delete'
            }]
        });

        table.on('tool(saleBusinessPersonnelTable)', function (obj) {
            let data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'del') {
                febs.modal.confirm('删除参数信息', '确定删除？', function () {
                    deleteSaleBusinessPersonnel(data.id);
                });
            }
            if (layEvent === 'edit') {
                febs.modal.open('修改参数', 'personnel/saleBusinessPersonnel/update/' + data.id, {
                    area: $(window).width() <= 750 ? '90%' : '50%',
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#saleBusinessPersonnel-update').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }
        });

        table.on('sort(saleBusinessPersonnelTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });

        $query.on('click', function () {
            let params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
            tableIns.reload({where: getQueryParams(), page: {curr: 1}});
        });
        $addTo.on('click', function () {
            febs.modal.open('新增业务人员参数', 'sale/saleBusinessPersonnel/add', {
                btn: ['提交', '重置'],
                area: $(window).width() <= 750 ? '95%' : '30%',
                yes: function (index, layero) {
                    $('#saleBusinessPersonnel-add').find('#submit').trigger('click');
                },
                btn2: function () {
                    $('#saleBusinessPersonnel-add').find('#reset').trigger('click');
                    return false;
                }
            });
        });
        $updateTo.on('click', function () {
            let checkStatus = table.checkStatus('saleBusinessPersonnelTable');
            if (!checkStatus.data.length) {
                febs.alert.warn('请选择需要修改的数据');
            }else if(checkStatus.data.length>1){
                febs.alert.warn('请选择一条需要修改的数据');
            }else{
                layui.each(checkStatus.data, function (key, item) {
                    febs.modal.open('修改参数', 'sale/saleBusinessPersonnel/update/' + item.id, {
                        area: $(window).width() <= 750 ? '90%' : '30%',
                        btn: ['提交', '取消'],
                        yes: function (index, layero) {
                            $('#saleBusinessPersonnel-update').find('#submit').trigger('click');
                        },
                        btn2: function () {
                            layer.closeAll();
                        }
                    });
                });
            }
        });
        $deleteTo.on('click', function () {
            let checkStatus = table.checkStatus('saleBusinessPersonnelTable');
            if (!checkStatus.data.length) {
                febs.alert.warn('请选择需要删除的数据');
            } else {
                febs.modal.confirm('删除参数信息', '确定删除？', function () {
                    let ids = [];
                    layui.each(checkStatus.data, function (key, item) {
                        ids.push(item.id)
                    });
                    deleteSaleBusinessPersonnel(ids.join(','));
                });
            }
        });

        function initTable() {
            tableIns = febs.table.init({
                elem: $view.find('table'),
                id: 'saleBusinessPersonnelTable',
                url: ctx + 'saleBusinessPersonnel/list',
                cols: [[
                    {type: 'checkbox'},
                    {field:'number',title:'序列号',align:'center',width:100,templet:function (d) {
                                        return d.LAY_INDEX;}},
                    {field: 'personnelNumber', title: '工号',align:'center', minWidth: 100},
                    {field: 'personnelName', title: '姓名',align:'center', minWidth: 100},
                    {field: 'parameterName',align:'center', title: '业务区域'},
                    {title: '状态', templet: '#personnel-state',align:'center'},
                    {field: 'personnelRemarks',align:'center', title: '备注'}
                ]]
            });
        }

        function getQueryParams() {
            let params = $searchForm.serializeJson();
            params.invalidate_ie_cache = new Date();
            return params;
        }

        function deleteSaleBusinessPersonnel(ids) {
            febs.get(ctx + 'saleBusinessPersonnel/delete/' + ids, null, function () {
                febs.alert.success('删除参数成功');
                $query.click();
            });
        }

    })

</script>