<style>
    #purchaseRequisition-list xm-select {
        min-height: 30px;
        line-height: 30px;
    }
    #purchaseRequisition-list xm-select > .xm-label .scroll .label-content {
        display: flex;
        padding: 0 30px 0 10px;
    }
</style>
<div class="layui-fluid layui-anim febs-anim" id="purchaseRequisition-list" lay-title="采购申请">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="parameter-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md8">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">状态</label>
                                        <div class="layui-input-inline">
                                            <select name="purchaseRequisitionState">
                                                <option value=""></option>
                                                <option value="1">启用</option>
                                                <option value="2">禁用</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">参数类别</label>
                                        <div class="layui-input-inline">
                                            <select name="applyState">
                                                <option value=""></option>
                                                <option value="1">材质</option>
                                                <option value="2">订购类型</option>
                                                <option value="3">付款方式</option>
                                                <option value="4">计量单位</option>
                                                <option value="5">物料类别</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-inline" >
                                        <label class="layui-form-label layui-form-label-sm">参数名称</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="purchaseRequisitionName" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md4 layui-col-sm12 layui-col-xs12 table-action-area">
                                <!--搜索按钮-->
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>查询
                                </div>
                               <!-- 刷新表格按钮-->
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-green-plain table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>刷新
                                </div>
                                <!--添加按钮-->
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action
                                     "shiro:hasAnyPermissions="purchaseRequisition:add" id="addTo">
                                    <i class="layui-icon">&#xe78a;</i>新增
                                </div>
                                <!--修改按钮-->
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action "
                                     shiro:hasAnyPermissions="purchaseRequisition:update" id="updateTo">
                                    <i class="layui-icon">&#xe642;</i>修改
                                </div>
                                <!--删除按钮-->
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action
                                     "shiro:hasAnyPermissions="purchaseRequisition:delete" id="deleteTo">
                                    <i class="layui-icon">&#xe8a1;</i>删除
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="purchaseRequisitionTable" lay-data="{id: 'purchaseRequisitionTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="apply-state">
    {{#
    let applyState = {
    1: {title: '登记'},
    2: {title: '确认'},
    3: {title: '核准'}
    }[d.applyState];
    }}
    <span>{{ applyState.title }}</span>
</script>
<script type="text/html" id="parameter-option">
    <span shiro:lacksPermission="purchaseRequisition:view,purchaseRequisition:update,purchaseRequisition:delete">
        <span class="layui-badge-dot febs-bg-orange"></span> 无权限
    </span>
    <a lay-event="edit" shiro:hasPermission="purchaseRequisition:update"><i
            class="layui-icon febs-edit-area febs-blue">&#xe7a4;</i></a>
    <a lay-event="del" shiro:hasPermission="purchaseRequisition:delete"><i class="layui-icon febs-edit-area febs-red">&#xe7f9;</i></a>
</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdownMenu', 'jquery', 'laydate', 'form', 'table', 'febs', 'xmSelect'], function () {
        let $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            dropdownMenu = layui.dropdownMenu,
            $view = $('#purchaseRequisition-list'),
            $query = $view.find('#query'),
            $addTo = $view.find('#addTo'),
            $updateTo = $view.find('#updateTo'),
            $deleteTo = $view.find('#deleteTo'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'createTime', type: null},
            tableIns;

        form.render();

        initPurchaseRequisitionTable();



        dropdownMenu.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                let checkStatus = table.checkStatus('purchaseRequisitionTable');
            },
            options: []
        });

        table.on('tool(purchaseRequisitionTable)', function (obj) {
            let data = obj.data,
                layEvent = obj.event;
        });

        table.on('sort(purchaseRequisitionTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });

        $query.on('click', function () {
            let params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
            tableIns.reload({where: getQueryParams(), page: {curr: 1}});
        });
        $addTo.on('click', function () {
            febs.modal.open('【采购申请】 新增', 'purchase/purchaseRequisition/add', {
                btn: ['增加行','删除行','删除整单','保存', '关闭'],
                area: ["80%","60%"],
                yes: function (index, layero) {
                    $('#purchaseRequisition-add').find('#submit').trigger('click');
                },
                btn2: function () {
                    $('#purchaseRequisition-add').find('#reset').trigger('click');
                    return false;
                }
            });
        });
        $updateTo.on('click', function () {
            let checkStatus = table.checkStatus('purchaseRequisitionTable');
            if (!checkStatus.data.length) {
                febs.alert.warn('请选择需要修改的数据');
            }else if(checkStatus.data.length>1){
                febs.alert.warn('请选择一条需要修改的数据');
            }else{
                layui.each(checkStatus.data, function (key, item) {
                    febs.modal.open('【采购参数】 修改', 'purchase/purchaseRequisition/update/' + item.id, {
                        area:["35%","60%"],
                        btn: ['保存', '关闭'],
                        yes: function (index, layero) {
                            $('#purchaseRequisition-update').find('#submit').trigger('click');
                        },
                        btn2: function () {
                            layer.closeAll();
                        }
                    });
                });
            }
        });
        $deleteTo.on('click', function () {
            let checkStatus = table.checkStatus('purchaseRequisitionTable');
            if (!checkStatus.data.length) {
                febs.alert.warn('请选择需要删除的数据');
            } else {
                febs.modal.confirm('删除采购参数', '确定删除？', function () {
                    let ids = [];
                    layui.each(checkStatus.data, function (key, item) {
                        ids.push(item.id)
                    });
                    deletePurchaseRequisition(ids.join(','));
                });
            }
        });

        function initPurchaseRequisitionTable() {
            tableIns = febs.table.init({
                elem: $view.find('table'),
                id: 'purchaseRequisitionTable',
                url: ctx + 'purchaseRequisition/list',
                cols: [[
                    {type: 'checkbox'},
                    {field:'number',title:'序列号',align:'center',width:100,templet:function (d) {
                                        return d.LAY_INDEX;}},
                    {title: '状态', templet: '#apply-state'},
                    {field: 'purchaseRequisitionDate', title: '日期',align:'center',templet:'<div>{{ layui.util.toDateString(d.purchaseRequisitionDate, "yyyy-MM-dd") }}</div>', minWidth: 170, sort: true},
                    {field: 'oddNumbers', title: '单号', minWidth: 100},
                    {field: 'departmentName', title: '部门', minWidth: 100},
                    {field: 'applyQuantity', title: '数量', minWidth: 100},
                    {field: 'applyPreparer', title: '制单人', minWidth: 100},
                    {field: 'applyPreparationDate', title: '制单日期',align:'center',templet:'<div>{{ layui.util.toDateString(d.applyPreparationDate, "yyyy-MM-dd HH:mm:ss") }}</div>', minWidth: 170, sort: true}

                ]]
            });
        }
``
        function getQueryParams() {
            let params = $searchForm.serializeJson();
            params.invalidate_ie_cache = new Date();
            return params;
        }

        function deletePurchaseRequisition(ids) {
            febs.get(ctx + 'purchaseRequisition/delete/' + ids, null, function () {
                febs.alert.success('删除采购参数成功');
                $query.click();
            });
        }

    })

</script>