<style>
    #purchaseMaterialCode-update xm-select {
        min-height: 30px;
        line-height: 30px;
    }
    #purchaseMaterialCode-update xm-select > .xm-label .scroll .label-content {
        display: flex;
        padding: 0 30px 0 10px;
    }
    .layui-form-item .layui-input-inline {
        width: 160px;
    }
</style>
<div class="layui-fluid layui-anim febs-anim" id="purchaseMaterialCode-update" lay-title="物料编码选择列表">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="parameter-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline" >
                                        <label class="layui-form-label layui-form-label-sm">物料名称</label>
                                        <div class="layui-input-inline" style="width: 100px">
                                            <input type="text" name="productName" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">小类</label>
                                        <div class="layui-input-inline" style="width: 90px">
                                            <select name="productSubclassId">
                                                <option value="">全部</option>
                                                <option value="1">整机</option>
                                                <option value="2">配件</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-inline" >
                                        <label class="layui-form-label layui-form-label-sm">规格型号</label>
                                        <div class="layui-input-inline" style="width: 100px">
                                            <input type="text" name="productSpecificationModel" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline" >
                                        <label class="layui-form-label layui-form-label-sm">简拼</label>
                                        <div class="layui-input-inline" style="width: 100px">
                                            <input type="text" name="productNameAbbreviation" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <!--搜索按钮-->
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>查询
                                </div>
                                <!--添加按钮-->
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action " id="addTo">
                                    <i class="layui-icon">&#xe78a;</i>确定
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="purchaseMaterialCodeTable-update" id="purchaseMaterialCodeTable-update" lay-data="{id: 'purchaseMaterialCodeTable-update'}"></table>
                    <br>
                    <table lay-filter="purchaseMaterialCodeTable_update" id="purchaseMaterialCodeTable_update" lay-data="{id: 'purchaseMaterialCodeTable_update'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="parameter-option">
    <span shiro:lacksPermission="saleProduct:list,saleProduct:update,saleProduct:delete">
        <span class="layui-badge-dot febs-bg-orange"></span> 无权限
    </span>
    <a lay-event="edit" shiro:hasPermission="saleProduct:update"><i
            class="layui-icon febs-edit-area febs-blue">&#xe7a4;</i></a>
    <a lay-event="del" shiro:hasPermission="saleProduct:delete"><i class="layui-icon febs-edit-area febs-red">&#xe7f9;</i></a>
</script>
<script type="text/html" id="material-state">
    {{#
    let materialState = {
    1: {title: '启用', color: 'green'},
    2: {title: '禁用', color: 'volcano'}
    }[d.materialState];
    }}
    <span class="layui-badge febs-bg-{{materialState.color}}">{{ materialState.title }}</span>
</script>
<script langguage="JavaScript">
    var deliveryDateTo = new Date().getFullYear() + '-' + (new Date().getMonth() + 1) + '-' + new Date().getDate();
</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdownMenu', 'jquery', 'laydate', 'form', 'table', 'febs', 'xmSelect'], function () {
        let $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            dropdownMenu = layui.dropdownMenu,
            $view = $('#purchaseMaterialCode-update'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $addTo = $view.find('#addTo'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'createDate', type: null},
            tableIns;

        form.render();

        initTable();

        //日期同时绑定多个
        lay('.createTime').each(function(){
            laydate.render({
                elem: this,
                range: true,
                trigger: 'click'
            });
        })
        dropdownMenu.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                let checkStatus = table.checkStatus('purchaseMaterialCodeTable-update');
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        febs.alert.warn('请选择需要删除的数据');
                    } else {
                        febs.modal.confirm('删除领取记录信息', '确定删除？', function () {
                            let ids = [];
                            layui.each(checkStatus.data, function (key, item) {
                                ids.push(item.id)
                            });
                            deleteSaleProduct(ids.join(','));
                        });
                    }
                }
            },
            options: []
        });
        table.on('tool(purchaseMaterialCodeTable-update)', function (obj) {
            let data = obj.data,
                layEvent = obj.event;

        });

        table.on('sort(purchaseMaterialCodeTable-update)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });
        table.on('rowDouble(purchaseMaterialCodeTable-update)', function (obj) {
             var data = obj.data;
             var materialCode = data.materialCode;
             var materialName = data.materialName;
             var specificationsModel = data.specificationsModel;
             var materialQuality = data.materialQuality;
             var materialBrand = data.materialBrand;
             var meteringCompany = data.meteringCompany;
             var materialSubclass = data.materialSubclass;
             var materialRemarks = data.materialRemarks;
            var materialLocation = data.materialLocation;
             var materialState = data.materialState;
            $.ajax({
                url: '/saleOrder/random',
                success : function(data) {
                    var random = data.data;
                    var oldData =  table.cache["purchaseMaterialCodeTable_update"];
                    var dataOne={"materialCode":materialCode,"materialName":materialName,"specificationsModel":specificationsModel,"materialQuality":materialQuality,
                        "materialBrand":materialBrand,"meteringCompany":meteringCompany,"materialSubclass":materialSubclass,"materialRemarks":materialRemarks,
                        "materialLocation":materialLocation,"materialState":materialState};
                    oldData.push(dataOne);
                    layui.table.reload('purchaseMaterialCodeTable_update',{
                        data : oldData
                    });
                }
            });
        });
        var tableData=new Array(); // 用于存放表格数据
        $query.on('click', function () {
            let params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });
        $addTo.on('click', function () {
                    var oldDataOne;
                    var oldData =  table.cache["purchaseMaterialCodeTable_update"];
                    for (i=0;i<oldData.length;i++){
                        var dataOne={"applyCode":oldData[i].materialCode,"applyName":oldData[i].materialName,"applySpecifications":oldData[i].specificationsModel,
                            "applyQuality":oldData[i].materialQuality,"applyBrand":oldData[i].materialBrand,"applyCompany":oldData[i].meteringCompany,
                            "applyQuantity":0,"applyLocation":oldData[i].materialLocation,"applyRemarks":oldData[i].materialRemarks};
                        oldDataOne =  table.cache["purchaseRequisitionTableList"];
                        oldDataOne.push(dataOne);
                    }
                    layui.table.reload('purchaseRequisitionTableList',{
                        data : oldDataOne
                    });
            parent.layer.close(layer.index); //再执行关闭
        });
        $reset.on('click', function () {
            $searchForm[0].reset();
            tableIns.reload({where: getQueryParams(), page: {curr: 1}});
        });

        function initTable() {
            tableIns = febs.table.init({
                elem: '#purchaseMaterialCodeTable-update',
                id: 'purchaseMaterialCodeTable-update',
                url: ctx + 'purchaseMaterialFile/list',
                cols: [
                    [
                    {type: 'checkbox'},
                    {field: 'materialCode', title: '物料编码',sort: true},
                    {field: 'materialName', title: '物料名称',align:'center', minWidth: 100},
                    {field: 'specificationsModel', title: '规格型号',align:'center', minWidth: 100},
                    {field: 'materialQuality', title: '材质',align:'center', minWidth: 100},
                    {field: 'materialBrand', title: '品牌',align:'center', minWidth: 100},
                    {field: 'meteringCompany', title: '单位',align:'center', minWidth: 100},
                    {field: 'materialSubclass', title: '小类',align:'center', minWidth: 100},
                    {field: 'materialRemarks', title: '备注',align:'center', minWidth: 80},
                        {field: 'materialLocation', title: '库位',align:'center', minWidth: 80},
                    {title: '状态', templet: '#material-state'}
                 ]
                ]
            });
        };
         table.render({
                elem:'#purchaseMaterialCodeTable_update',
                data:tableData,
                cols: [[
                    {field: 'materialCode', title: '物料编码',sort: true},
                    {field: 'materialName', title: '物料名称',align:'center', minWidth: 100},
                    {field: 'specificationsModel', title: '规格型号',align:'center', minWidth: 100},
                    {field: 'materialQuality', title: '材质',align:'center', minWidth: 100},
                    {field: 'materialBrand', title: '品牌',align:'center', minWidth: 100},
                    {field: 'meteringCompany', title: '单位',align:'center', minWidth: 100},
                    {field: 'materialSubclass', title: '小类',align:'center', minWidth: 100},
                    {field: 'materialRemarks', title: '备注',align:'center', minWidth: 80},
                    {field: 'materialLocation', title: '库位',align:'center', minWidth: 80},
                    {title: '状态', templet: '#material-state'}
                ]]
            });
        table.on('rowDouble(purchaseMaterialCodeTable_update)', function (obj) {
            var data = obj.data;
            var oldData =  table.cache["purchaseMaterialCodeTable_update"];
            if (obj.tr.data('index') != -1) {
                oldData.splice(obj.tr.data('index'), 1)//根据索引删除当前行
                layui.table.reload('purchaseMaterialCodeTable_update',{
                    data: oldData
                });
            }
        });
        function getQueryParams() {
            let params = $searchForm.serializeJson();
            params.invalidate_ie_cache = new Date();
            return params;
        };



    });
</script>