<style>
    #personnelDormitoryInformation-add {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="personnelDormitoryInformation-add">
    <form class="layui-form" action="" lay-filter="personnelDormitoryInformation-add-form">
        <input type="hidden" name="usedBeds" id="usedBeds"
               autocomplete="off" class="layui-input" readonly>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require" >员工姓名:</label>
            <div class="layui-input-inline">
                <input type="text" name="employeeName" id="mobilityUserName"
                       autocomplete="off" class="layui-input" placeholder="员工姓名" ondblclick="dblclickt()" readonly>
            </div>
            <label class="layui-form-label febs-form-item-require" >员工电话:</label>
            <div class="layui-input-inline">
                <input type="text" name="employeeTelephone" id="mobilityPhone"
                       autocomplete="off" class="layui-input" placeholder="员工电话" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require" >员工部门:</label>
            <div class="layui-input-inline">
                <input type="text" name="employeeDept" id="mobilityDepartmentName"
                       autocomplete="off" class="layui-input" placeholder="员工部门" readonly>
            </div>
        </div>
        <br>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require" >宿舍编号:</label>
            <div class="layui-input-inline">
                <input type="text" name="dormitoryNo" id="dormitoryNoDormitory"
                       autocomplete="off" class="layui-input" placeholder="宿舍编号" ondblclick="dblclicktDormitoryNo()" readonly>
            </div>
            <label class="layui-form-label febs-form-item-require" >宿舍地址:</label>
            <div class="layui-input-inline">
                <input type="text" name="dormitoryLocation" id="dormitoryLocationDormitory"
                       autocomplete="off" class="layui-input" placeholder="宿舍地址" readonly>
            </div>

        </div>
        <br>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">入住时间</label>
            <div class="layui-input-inline">
                <input type="text" name="checkInTime" id="checkInTime" class="layui-input createDate">
            </div>
        </div>

        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="personnelDormitoryInformation-add-form-submit" id="submit"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>
    layui.use(['febs', 'form', 'validate', 'xmSelect','laydate'], function () {
        let $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            form = layui.form,
            laydate = layui.laydate,
            validate = layui.validate;

        form.verify(validate);
        form.render();


        form.on('submit(personnelDormitoryInformation-add-form-submit)', function (data) {
            febs.post(ctx + 'personnelDormitoryInformation/add', data.field, function () {
                layer.closeAll();
                febs.alert.success('新增宿舍入住人员成功');
                $('#febs-personnelDormitoryInformation').find('#query').click();
            });
            return false;

        });
        //日期同时绑定多个
        lay('.createDate').each(function(){
            laydate.render({
                 elem: this
                ,type: 'datetime'
                ,trigger: 'click'
            });
        })
    });
    function dblclickt(){
        layui.use(['febs', 'form', 'validate', 'xmSelect'], function () {
            let $ = layui.$,
                febs = layui.febs;

            febs.modal.open('员工档案', 'personnel/employeeFile', {
                area:["75%","90%"],
                yes: function (index, layero) {

                }

            });
        });
    }
    function dblclicktDormitoryNo(){
        layui.use(['febs', 'form', 'validate', 'xmSelect'], function () {
            let $ = layui.$,
                febs = layui.febs;

            febs.modal.open('宿舍列表', 'personnel/dormitoryList', {
                area:["65%","70%"],
                yes: function (index, layero) {

                }

            });
        });
    }
</script>