<style>
    #personnelDormitoryInformation-update {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="personnelDormitoryInformation-update">
    <form class="layui-form" action="" lay-filter="personnelDormitoryInformation-update-form">
        <div class="layui-form-item febs-hide">
            <label class="layui-form-label febs-form-item-require">宿舍人员id：</label>
            <div class="layui-input-block">
                <input type="text" name="id" data-th-value="${dormitoryInformation.id}">
                <input type="hidden" name="dormitoryId" id="dormitoryId"
                       autocomplete="off" class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require" >员工姓名:</label>
            <div class="layui-input-inline">
                <input type="text" name="employeeName" id="mobilityUserName"
                       autocomplete="off" class="layui-input" placeholder="员工姓名" readonly>
            </div>
            <label class="layui-form-label febs-form-item-require" >员工电话:</label>
            <div class="layui-input-inline">
                <input type="text" name="employeeTelephone" id="mobilityPhone"
                       autocomplete="off" class="layui-input" placeholder="员工电话" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require" >员工部门:</label>
            <div class="layui-input-inline">
                <input type="text" name="employeeDept" id="mobilityDepartmentName"
                       autocomplete="off" class="layui-input" placeholder="员工部门" readonly>
            </div>
        </div>
        <br>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require" >宿舍编号:</label>
            <div class="layui-input-inline">
                <input type="text" name="dormitoryNo" id="dormitoryNoDormitoryInformation"
                       autocomplete="off" class="layui-input" placeholder="宿舍编号" ondblclick="dblclicktDormitoryNo()">
            </div>
            <label class="layui-form-label febs-form-item-require" >宿舍地址:</label>
            <div class="layui-input-inline">
                <input type="text" name="dormitoryLocation" id="dormitoryLocationDormitoryInformation"
                       autocomplete="off" class="layui-input" placeholder="宿舍地址" >
            </div>

        </div>
        <br>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">入住时间</label>
            <div class="layui-input-inline">
                <input type="text" name="checkInTime" id="checkInTime" class="layui-input createDate">
            </div>
        </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="personnelDormitoryInformation-update-form-submit" id="submit"></button>
        </div>
    </form>
</div>

<script data-th-inline="javascript">
    layui.use(['febs', 'form', 'validate','laydate'], function () {
        let $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            form = layui.form,
            laydate = layui.laydate,
            dormitoryInformation = [[${dormitoryInformation}]],
            checkInTime = [[${checkInTime}]],
            validate = layui.validate;

        form.verify(validate);
        form.render();

        initPersonnelDormitoryInformationValue();

        function initPersonnelDormitoryInformationValue() {
            form.val("personnelDormitoryInformation-update-form", {
                "employeeName": dormitoryInformation.employeeName,
                "employeeTelephone": dormitoryInformation.employeeTelephone,
                "employeeDept": dormitoryInformation.employeeDept,
                "dormitoryNo": dormitoryInformation.dormitoryNo,
                "dormitoryLocation": dormitoryInformation.dormitoryLocation,
                "checkInTime": checkInTime
            });
        }
        //日期同时绑定多个
        lay('.createDate').each(function(){
            laydate.render({
                elem: this
                ,type: 'datetime'
                ,trigger: 'click'
            });
        })
        form.on('submit(personnelDormitoryInformation-update-form-submit)', function (data) {
            febs.post(ctx + 'personnelDormitoryInformation/update', data.field, function () {
                layer.closeAll();
                febs.alert.success('数据修改成功');
                $('#febs-personnelDormitoryInformation').find('#query').click();
            });
            return false;
        });
    });

    function dblclickt(){
        layui.use(['febs', 'form', 'validate', 'xmSelect'], function () {
            let $ = layui.$,
                febs = layui.febs;

            febs.modal.open('员工档案', 'personnel/employeeFile', {
                area:["75%","90%"],
                yes: function (index, layero) {

                }

            });
        });
    }
    function dblclicktDormitoryNo(){
        layui.use(['febs', 'form', 'validate', 'xmSelect'], function () {
            let $ = layui.$,
                febs = layui.febs;

            febs.modal.open('宿舍列表', 'personnel/dormitoryList', {
                area:["65%","70%"],
                yes: function (index, layero) {

                }

            });
        });
    }
</script>