<style>
    #febs-personnelDormitoryInformation xm-select {
        min-height: 30px;
        line-height: 30px;
    }
    #febs-personnelDormitoryInformation xm-select > .xm-label .scroll .label-content {
        display: flex;
        padding: 0 30px 0 10px;
    }
    .layui-form-item .layui-input-inline {
        width: 160px;
    }
</style>
<div class="layui-fluid layui-anim febs-anim" id="febs-personnelDormitoryInformation" lay-title="人员信息">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="parameter-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md9">
                                <div class="layui-form-item">
                                    <div class="layui-inline" >
                                        <label class="layui-form-label layui-form-label-sm">员工姓名</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="employeeName" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline" >
                                        <label class="layui-form-label layui-form-label-sm">宿舍编号</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="dormitoryNo" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">宿舍地址</label>
                                        <div class="layui-input-inline">
                                            <select name="dormitoryLocation">
                                                <option value="">请选择</option>
                                                <option value="1">东宿舍</option>
                                                <option value="2">西宿舍</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md3 layui-col-sm12 layui-col-xs12 table-action-area">
                                <!--搜索按钮-->
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                               <!-- 刷新表格按钮-->
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-green-plain table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <!--添加按钮-->
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action "shiro:hasAnyPermissions="personnelDormitoryInformation:add" id="addTo">
                                    <i class="layui-icon">&#xe78a;</i>添加
                                </div>
                                <!--删除按钮-->
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action "shiro:hasAnyPermissions="personnelDormitoryInformation:delete" id="deleteTo">
                                    <i class="layui-icon">&#xe8a1;</i>批量删除
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action action-more"
                                     shiro:hasAnyPermissions="personnelDormitoryInformation:export" id="exportTo">
                                    <i class="layui-icon">&#xe7a8;</i>导出
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="dormitoryInformationTable" lay-data="{id: 'dormitoryInformationTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="dormitory-location">
    {{#
    let dormitoryLocation = {
    1: {title: '东宿舍'},
    2: {title: '西宿舍'}
    }[d.dormitoryLocation];
    }}
    <span>{{ dormitoryLocation.title }}</span>
</script>
<script type="text/html" id="parameter-option">
    <span shiro:lacksPermission="personnelDormitoryInformation:list,personnelDormitoryInformation:update,personnelDormitoryInformation:delete">
        <span class="layui-badge-dot febs-bg-orange"></span> 无权限
    </span>
    <a lay-event="edit" shiro:hasPermission="personnelDormitoryInformation:update"><i
            class="layui-icon febs-edit-area febs-blue">&#xe7a4;</i></a>
    <a lay-event="del" shiro:hasPermission="personnelDormitoryInformation:delete"><i class="layui-icon febs-edit-area febs-red">&#xe7f9;</i></a>
</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdownMenu', 'jquery', 'laydate', 'form', 'table', 'febs', 'xmSelect'], function () {
        let $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            dropdownMenu = layui.dropdownMenu,
            $view = $('#febs-personnelDormitoryInformation'),
            $query = $view.find('#query'),
            $addTo = $view.find('#addTo'),
            $deleteTo = $view.find('#deleteTo'),
            $exportTo = $view.find('#exportTo'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'createDate', type: null},
            tableIns;

        form.render();

        initTable();

        dropdownMenu.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                let checkStatus = table.checkStatus('dormitoryInformationTable');
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        febs.alert.warn('请选择需要删除的数据');
                    } else {
                        febs.modal.confirm('删除领取记录信息', '确定删除？', function () {
                            let ids = [];
                            layui.each(checkStatus.data, function (key, item) {
                                ids.push(item.id)
                            });
                            deletePersonnelDormitoryInformation(ids.join(','));
                        });
                    }
                }
            },
            options: [{
                name: 'add',
                title: '新增',
                perms: 'personnelDormitoryInformation:add'
            }, {
                name: 'delete',
                title: '删除',
                perms: 'personnelDormitoryInformation:delete'
            }]
        });
        table.on('tool(dormitoryInformationTable)', function (obj) {
            let data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'del') {
                febs.modal.confirm('删除宿舍人员信息', '确定删除？', function () {
                   deletePersonnelDormitoryInformation(data.id);
                });
            }
            if (layEvent === 'edit') {
                febs.modal.open('修改宿舍人员信息', 'personnel/personnelDormitoryInformation/update/' + data.id, {
                    area: $(window).width() <= 750 ? '90%' : '40%',
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#personnelDormitoryInformation-update').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }
        });

        table.on('sort(dormitoryInformationTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });

        $query.on('click', function () {
            let params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
            tableIns.reload({where: getQueryParams(), page: {curr: 1}});
        });
        $addTo.on('click', function () {
            febs.modal.open('新增宿舍入住人员信息', 'personnel/personnelDormitoryInformation/add', {
                type:1,
                btn: ['提交', '重置'],
                area: $(window).width() <= 750 ? '95%' : '35%',
                yes: function (index, layero) {
                    $('#personnelDormitoryInformation-add').find('#submit').trigger('click');
                },
                btn2: function () {
                    $('#personnelDormitoryInformation-add').find('#reset').trigger('click');
                    $("#receiveName").attr("value","");
                    $("#receiveWno").attr("value","");
                    return false;
                }
            });
        });
        $deleteTo.on('click', function () {
            let checkStatus = table.checkStatus('dormitoryInformationTable');
            if (!checkStatus.data.length) {
                febs.alert.warn('请选择需要删除的数据');
            } else {
                febs.modal.confirm('删除宿舍人员信息', '确定删除？', function () {
                    let ids = [];
                    layui.each(checkStatus.data, function (key, item) {
                        ids.push(item.id)
                    });
                    deletePersonnelDormitoryInformation(ids.join(','));
                });
            }
        });
        $exportTo.on('click', function () {
            let params = getQueryParams();
            params.pageSize = $view.find(".layui-laypage-limits option:selected").val();
            params.pageNum = $view.find(".layui-laypage-em").next().html();
            febs.download(ctx + 'personnelDormitoryInformation/excel', params, '员工合同表.xlsx');
        });
        function initTable() {
            tableIns = febs.table.init({
                elem: $view.find('table'),
                id: 'dormitoryInformationTable',
                url: ctx + 'personnelDormitoryInformation/list',
                cols: [[
                    {type: 'checkbox'},
                    {field:'number',title:'序列号',align:'center',width:100,templet:function (d) {
                                        return d.LAY_INDEX;}},
                    {field: 'dormitoryNo', title: '宿舍编号',align:'center',minWidth: 100},
                    {title: '宿舍地址', templet: '#dormitory-location',align:'center'},
                    {field: 'usedBeds', title: '已用床位',align:'center', minWidth: 100},
                    {field: 'employeeName', title: '员工姓名',align:'center', minWidth: 100},
                    {field: 'employeeTelephone', title: '员工电话',align:'center', minWidth: 100},
                    {field: 'employeeDept', title: '员工部门',align:'center', minWidth: 100},
                    {field: 'checkInTime', title: '入住时间',align:'center',minWidth: 180},
                    {title: '操作', toolbar: '#parameter-option', minWidth: 140}
                ]]
            });
        }

        function getQueryParams() {
            let params = $searchForm.serializeJson();
            params.invalidate_ie_cache = new Date();
            return params;
        }


        function deletePersonnelDormitoryInformation(ids) {
            febs.get(ctx + 'personnelDormitoryInformation/delete/' + ids, null, function () {
                febs.alert.success('删除宿舍人员成功');
                $query.click();
            });
        }

    })

</script>