<style>
    #lackRecipients-update {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="lackRecipients-update">
    <form class="layui-form" action="" lay-filter="lackRecipients-update-form">
        <div class="layui-form-item">
            <label class="layui-form-mid">日期&nbsp;<b>:</b></label>
            <div class="layui-input-inline" style="width: 100px">
                <input type="text" name="lackRecipientsDate" id="lackRecipientsDate"
                       autocomplete="off" class="layui-input createDate" readonly>
            </div>
            <label class="layui-form-label febs-form-item-require" >领用部门</label>
            <div class="layui-input-inline" style="width: 190px">
                <input type="text" name="lackDepartment" id="lackDepartment" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
            <label class="layui-form-mid layui-form-label-sm">领用人</label>
            <div class="layui-input-inline" style="width: 145px">
                <input type="text" name="lackPeople" id="lackPeople" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
            <label class="layui-form-mid layui-form-label-sm">库房</label>
            <div class="layui-input-inline" style="width: 145px">
                <select name="lackWarehouse" lay-verify="required" id="lackWarehouse">
                    <option value=""></option>
                    <option value="1">外购库</option>
                    <option value="2">机加库</option>
                    <option value="3">废品库</option>
                    <option value="4">资产库</option>
                    <option value="5">成品库</option>
                </select>
            </div>
        </div>
        <table class="layui-table layui-form" id="lackRecipientsUpdate-table" lay-filter="lackRecipientsUpdate-table"></table>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="lackRecipients-update-form-submit" id="submit"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script data-th-inline="javascript">
    layui.use(['febs', 'form', 'validate','table', 'xmSelect','upload','laydate'], function () {
        let $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            form = layui.form,
            laydate = layui.laydate,
            validate = layui.validate,
            table = layui.table,
            lackRecipients = [[${lackRecipients}]],
            lackRecipientsDate = [[${lackRecipientsDate}]],
            deptXmlSelect;


        form.verify(validate);
        form.render();
        initPurchaseRequisitionCreatorValue();

        function initPurchaseRequisitionCreatorValue() {
            form.val("lackRecipients-update-form", {
                "lackRecipientsDate":lackRecipientsDate,
                "lackDepartment":lackRecipients.lackDepartment,
                "lackPeople":lackRecipients.lackPeople,
                "lackWarehouse":lackRecipients.lackWarehouse
            });
        }

        var tableData=new Array(); // 用于存放表格数据
        $.ajax({
            url: 'lackRecipients/query'
            ,data:{"lackCode":lackRecipients.lackCode}
            ,async:false
            ,dataType:"json"
            , success: function(data){
                tableData=data.replies;
            }
        });

        table.render({
            elem: "#lackRecipientsUpdate-table",
            data:tableData,
            cols: [
                [
                    {type: 'checkbox'},
                    {field: 'recipientsLackCode',title: '缺件单号',align:'center', minWidth: 145,event:'choice'},
                    {field: 'lackMachine',title: '机器码', align:'center',minWidth: 115},
                    {field: 'lackMaterial', title: '名称',align:'center', minWidth: 90},
                    {field: 'lackSpecifications', title: '规格型号', align:'center',minWidth: 90},
                    {field: 'lackUnit',title: '单位', minWidth: 55,align:'center'},
                    {field: 'inventoryNumber',title: '库存数量', minWidth: 55,align:'center'},//未定义
                    {field: 'lackNumber',title: '缺件数量', minWidth: 55,align:'center'},
                    {field: 'recipientsNumber',title: '已领数量', minWidth: 50,align:'center'},
                    {field: 'theNumber',edit:true, title: '本次领用数量', minWidth: 72},
                    {field: 'lackNote',edit:true, title: '备注', minWidth: 72},
                    {field: 'lackLocation',edit:true, title: '库位', minWidth: 72,hide:true},
                    {field: 'lackCoding',edit:true, title: '物料编码', minWidth: 72,hide:true}
                ]
            ]
        });

        table.on('tool(lackRecipientsUpdate-table)', function (obj) {
            let data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'choice') {
                var tableData = layui.table.cache['lackRecipientsUpdate-table'];
                var rowIndex = $(obj.tr).attr('data-index');//当前行的索引
                if (tableData != ""){
                    $("#parameterIndex").val(rowIndex);//获取索引
                    tableData.splice(rowIndex,1); //删除缓存的行
                }
                febs.modal.view('缺件选择列表', "production/lackRecipientsUpdateQuery", {
                    area:["70%","80%"]
                });
            }
        });

        form.on('submit(lackRecipients-update-form-submit)', function (data) {
            let dataThree = new Array();
            let lackRecipientsAdd =  table.cache["lackRecipientsUpdate-table"];
            for (i=0;i<lackRecipientsAdd.length;i++){
                let dataOne={
                    "recipientsLackCode":lackRecipientsAdd[i].recipientsLackCode,
                    "lackMachine":lackRecipientsAdd[i].lackMachine,
                    "lackMaterial":lackRecipientsAdd[i].lackMaterial,
                    "lackSpecifications":lackRecipientsAdd[i].lackSpecifications,
                    "lackUnit":lackRecipientsAdd[i].lackUnit,
                    "inventoryNumber":lackRecipientsAdd[i].inventoryNumber,
                    "lackNumber":lackRecipientsAdd[i].lackNumber,
                    "recipientsNumber":lackRecipientsAdd[i].recipientsNumber,
                    "theNumber":lackRecipientsAdd[i].theNumber,
                    "lackNote":lackRecipientsAdd[i].lackNote,
                    "lackLocation":lackRecipientsAdd[i].lackLocation,
                    "lackCoding":lackRecipientsAdd[i].lackCoding
                };
                dataThree.push(dataOne);
            }
            $.ajax({
                url: '/lackRecipients/update',
                type:"post",
                data: {lackCode:lackRecipients.lackCode,dataTable:JSON.stringify(dataThree)},
                success : function(res) {
                    layer.closeAll();
                    $('#lackRecipients-list').find('#query').click();
                    var dataBak = [];
                    layui.table.reload('lackRecipientsTable',{
                        data:dataBak
                    });
                }
            });
            return false;
        });
    })
</script>