<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.purchase.mapper.PurchaseRequisitionMapper">
    <sql id="countPurchaseRequisitionSql">
        SELECT
            COUNT( 1 )
        FROM
            jr_purchase_requisition pr
        WHERE
            1 = 1
    </sql>

    <sql id="countPurchaseCancelSql">
        SELECT
            COUNT( 1 )
        FROM
            jr_purchase_requisition pr
        LEFT JOIN t_dept d ON ( pr.department_id = d.dept_id )
        LEFT JOIN jr_purchase_requisition_schedule prs ON ( pr.odd_numbers = prs.odd_numbers )
        WHERE
            1 =1
            <if test="purchaseRequisition.signedDateFrom != null and purchaseRequisition.signedDateFrom !=''">
                And pr.purchase_requisition_date &gt;= #{purchaseRequisition.signedDateFrom}
            </if>
            <if test="purchaseRequisition.signedDateTo != null and purchaseRequisition.signedDateTo !=''">
                And pr.purchase_requisition_date &lt;= #{purchaseRequisition.signedDateTo}
            </if>
            <if test="purchaseRequisition.oddNumbers != null and purchaseRequisition.oddNumbers != ''">
                AND pr.odd_numbers = #{purchaseRequisition.oddNumbers}
            </if>
            <if test="purchaseRequisition.applyName != null and purchaseRequisition.applyName != ''">
                AND prs.apply_name = #{purchaseRequisition.applyName}
            </if>
            <if test="purchaseRequisition.applySpecifications != null and purchaseRequisition.applySpecifications != ''">
                AND prs.apply_specifications = #{purchaseRequisition.applySpecifications}
            </if>
            <if test="purchaseRequisition.applyCancel != null and purchaseRequisition.applyCancel != ''">
                AND prs.apply_cancel = #{purchaseRequisition.applyCancel}
            </if>
            <if test="purchaseRequisition.departmentName != null and purchaseRequisition.departmentName != ''">
                AND d.DEPT_NAME = #{purchaseRequisition.departmentName}
            </if>
            <if test="purchaseRequisition.applySubclass != null and purchaseRequisition.applySubclass != ''">
                AND prs.apply_subclass = #{purchaseRequisition.applySubclass}
            </if>
    </sql>

    <sql id="findPurchaseRequisitionSql">
        SELECT
            pr.id,
            pr.apply_state applyState,
            pr.odd_numbers oddNumbers,
            pr.purchase_requisition_date purchaseRequisitionDate,
            d.DEPT_NAME departmentName,
            pr.apply_preparer applyPreparer,
            pr.apply_preparation_date applyPreparationDate,
            sum( prs.apply_quantity ) applyQuantity
        FROM
            jr_purchase_requisition pr
            LEFT JOIN t_dept d ON ( pr.department_id = d.dept_id )
            LEFT JOIN jr_purchase_requisition_schedule prs ON ( pr.odd_numbers = prs.odd_numbers )
        WHERE
            1 = 1
            <if test="purchaseRequisition.signedDateFrom != null and purchaseRequisition.signedDateFrom !=''">
                And pr.purchase_requisition_date &gt;= #{purchaseRequisition.signedDateFrom}
            </if>
            <if test="purchaseRequisition.signedDateTo != null and purchaseRequisition.signedDateTo !=''">
                And pr.purchase_requisition_date &lt;= #{purchaseRequisition.signedDateTo}
            </if>
            <if test="purchaseRequisition.oddNumbers != null and purchaseRequisition.oddNumbers != ''">
                AND pr.odd_numbers = #{purchaseRequisition.oddNumbers}
            </if>
            <if test="purchaseRequisition.departmentId != null and purchaseRequisition.departmentId != ''">
                AND pr.department_id = #{purchaseRequisition.departmentId}
            </if>
            <if test="purchaseRequisition.applyState != null and purchaseRequisition.applyState != ''">
                AND pr.apply_state = #{purchaseRequisition.applyState}
            </if>
        GROUP BY
            oddNumbers
    </sql>

    <sql id="findOrderPurchaseRequisitionSql">
        SELECT
            pr.id,
            pr.purchase_requisition_date purchaseRequisitionDate,
            pr.odd_numbers oddNumbers,
            d.DEPT_NAME departmentName,
            prs.apply_code applyCode,
            prs.apply_name applyName,
            prs.apply_specifications applySpecifications,
            prs.apply_quality applyQuality,
            prs.apply_brand applyBrand,
            prs.apply_company applyCompany,
            prs.apply_quantity applyQuantity,
            prs.delivery_date deliveryDate,
            prs.apply_remarks applyRemarks,
            prs.apply_subclass applySubclass,
            prs.apply_category applyCategory,
            pr.apply_preparer applyPreparer,
            pr.apply_preparation_date applyPreparationDate
        FROM
            jr_purchase_requisition pr
            LEFT JOIN t_dept d ON ( pr.department_id = d.dept_id )
            LEFT JOIN jr_purchase_requisition_schedule prs ON ( pr.odd_numbers = prs.odd_numbers )
        WHERE
            1 = 1
    </sql>
    <sql id="findPurchaseCancelPageSql">
        SELECT
            prs.id,
            pr.odd_numbers oddNumbers,
            pr.purchase_requisition_date purchaseRequisitionDate,
            d.DEPT_NAME departmentName,
            prs.apply_code applyCode,
            prs.apply_name applyName,
            prs.apply_specifications applySpecifications,
            prs.apply_brand applyBrand,
            prs.apply_quantity applyQuantity,
            prs.apply_company applyCompany,
            prs.apply_category applyCategory,
            prs.apply_subclass applySubclass,
            prs.apply_cancel applyCancel,
            prs.apply_remarks applyRemarks
        FROM
            jr_purchase_requisition pr
                LEFT JOIN t_dept d ON ( pr.department_id = d.dept_id )
                LEFT JOIN jr_purchase_requisition_schedule prs ON ( pr.odd_numbers = prs.odd_numbers )
        WHERE
            1 =1
        <if test="purchaseRequisition.signedDateFrom != null and purchaseRequisition.signedDateFrom !=''">
            And pr.purchase_requisition_date &gt;= #{purchaseRequisition.signedDateFrom}
        </if>
        <if test="purchaseRequisition.signedDateTo != null and purchaseRequisition.signedDateTo !=''">
            And pr.purchase_requisition_date &lt;= #{purchaseRequisition.signedDateTo}
        </if>
        <if test="purchaseRequisition.oddNumbers != null and purchaseRequisition.oddNumbers != ''">
            AND pr.odd_numbers = #{purchaseRequisition.oddNumbers}
        </if>
        <if test="purchaseRequisition.applyName != null and purchaseRequisition.applyName != ''">
            AND prs.apply_name = #{purchaseRequisition.applyName}
        </if>
        <if test="purchaseRequisition.applySpecifications != null and purchaseRequisition.applySpecifications != ''">
            AND prs.apply_specifications = #{purchaseRequisition.applySpecifications}
        </if>
        <if test="purchaseRequisition.applyCancel != null and purchaseRequisition.applyCancel != ''">
            AND prs.apply_cancel = #{purchaseRequisition.applyCancel}
        </if>
        <if test="purchaseRequisition.departmentName != null and purchaseRequisition.departmentName != ''">
            AND d.DEPT_NAME = #{purchaseRequisition.departmentName}
        </if>
        <if test="purchaseRequisition.applySubclass != null and purchaseRequisition.applySubclass != ''">
            AND prs.apply_subclass = #{purchaseRequisition.applySubclass}
        </if>
    </sql>

    <select id="countPurchaseRequisition" parameterType="com.erp.purchase.entity.PurchaseRequisition" resultType="long">
        <include refid="countPurchaseRequisitionSql"/>
    </select>

    <select id="findPurchaseRequisitionPage" parameterType="com.erp.purchase.entity.PurchaseRequisition" resultType="com.erp.purchase.entity.PurchaseRequisition">
        <include refid="findPurchaseRequisitionSql"/>
    </select>

    <select id="findOrderPurchaseRequisitionPage" parameterType="com.erp.purchase.entity.PurchaseRequisition" resultType="com.erp.purchase.entity.PurchaseRequisition">
        <include refid="findOrderPurchaseRequisitionSql"/>
    </select>

    <select id="findPurchaseCancelPage" parameterType="com.erp.purchase.entity.PurchaseRequisition" resultType="com.erp.purchase.entity.PurchaseRequisition">
        <include refid="findPurchaseCancelPageSql"/>
    </select>

    <select id="countPurchaseCancel" parameterType="com.erp.purchase.entity.PurchaseRequisitionSchedule" resultType="long">
        <include refid="countPurchaseCancelSql"/>
    </select>

    <!--查询出最后一个采购申请单号-->
    <select id="queryPurchaseRequisition" resultType="com.erp.purchase.entity.PurchaseRequisition">
        SELECT
            pr.id,
            pr.apply_state applyState,
            pr.odd_numbers oddNumbers,
            pr.purchase_requisition_date purchaseRequisitionDate,
            pr.department_id departmentId,
            pr.apply_preparer applyPreparer,
            pr.apply_preparation_date applyPreparationDate
        FROM
            jr_purchase_requisition pr
        WHERE
            1 = 1
        GROUP BY
            pr.apply_preparation_date
        ORDER BY
            pr.apply_preparation_date DESC
            LIMIT 1;
    </select>

    <!--点击上面的table展示下面的table数据-->
    <select id="queryPurchaseRequisitions" parameterType="String" resultType="com.erp.purchase.entity.PurchaseRequisition">
       SELECT
            prs.odd_numbers oddNumbers,
            prs.apply_code applyCode,
            prs.apply_name applyName,
            prs.apply_specifications applySpecifications,
            prs.apply_quality applyQuality,
            prs.apply_brand applyBrand,
            prs.apply_company applyCompany,
            prs.apply_quantity applyQuantity,
            prs.delivery_date deliveryDate,
            prs.apply_remarks applyRemarks
        FROM
            jr_purchase_requisition_schedule prs
        WHERE
            prs.odd_numbers = #{oddNumbers}
    </select>

    <insert id="savePurchaseRequisitionSchedule" parameterType="com.erp.purchase.entity.PurchaseRequisitionSchedule">
        INSERT INTO jr_purchase_requisition_schedule (
            odd_numbers, apply_code, apply_name,apply_specifications,apply_quality,apply_brand,apply_company
            ,apply_quantity, delivery_date,apply_remarks,apply_subclass,apply_category,apply_cancel)
        VALUES
            (#{oddNumbers},
             #{applyCode},
             #{applyName},
             #{applySpecifications},
             #{applyQuality},
             #{applyBrand},
             #{applyCompany},
             #{applyQuantity},
             #{deliveryDate},
             #{applyRemarks},
             #{applySubclass},
             #{applyCategory},
             #{applyCancel}
            )
    </insert>

    <insert id="savePurchaseRequisitionPositive" parameterType="com.erp.purchase.entity.PurchaseRequisitionPositive">
        INSERT INTO jr_purchase_requisition (
             odd_numbers, purchase_requisition_date,department_id,apply_preparer,apply_preparation_date)
        VALUES
            (
             #{oddNumbers},
             #{purchaseRequisitionDate},
             #{departmentId},
             #{applyPreparer},
             #{applyPreparationDate}
            )
    </insert>

    <!--修改回显数据-->
    <select id="findPurchaseRequisitionPositiveById" parameterType="long" resultType="com.erp.purchase.entity.PurchaseRequisitionPositive">
       SELECT
            pr.id,
            pr.apply_state applyState,
            pr.odd_numbers oddNumbers,
            pr.purchase_requisition_date purchaseRequisitionDate,
            pr.department_id departmentId,
            pr.apply_preparer applyPreparer,
            pr.apply_preparation_date applyPreparationDate
        FROM
            jr_purchase_requisition pr
        WHERE
            pr.id = #{id}
    </select>

    <!--修改回显数据表格-->
    <select id="queryPurchaseRequisitionsList" parameterType="String" resultType="com.erp.purchase.entity.PurchaseRequisition">
       SELECT
            prs.odd_numbers oddNumbers,
            prs.apply_code applyCode,
            prs.apply_name applyName,
            prs.apply_specifications applySpecifications,
            prs.apply_quality applyQuality,
            prs.apply_brand applyBrand,
            prs.apply_company applyCompany,
            prs.apply_quantity applyQuantity,
            prs.delivery_date deliveryDate,
            prs.apply_remarks applyRemarks
        FROM
            jr_purchase_requisition_schedule prs
        WHERE
            prs.odd_numbers = #{oddNumbers}
    </select>

    <delete id="deletePurchaseRequisitionSchedule">
        delete from jr_purchase_requisition_schedule  where odd_numbers = #{oddNumbers}
    </delete>

    <update id="cancelPurchaseCancel"  parameterType="com.erp.purchase.entity.PurchaseRequisitionSchedule">
        UPDATE
            jr_purchase_requisition_schedule
        set apply_cancel = 2
        WHERE id = #{ids}
    </update>

    <update id="downPurchaseCancel"  parameterType="com.erp.purchase.entity.PurchaseRequisitionSchedule">
        UPDATE
            jr_purchase_requisition_schedule
        set apply_cancel = 1
        WHERE id = #{ids}
    </update>
</mapper>
