<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.purchase.mapper.PurchaseInspectionMapper">
    <sql id="countPurchaseInspection">
        SELECT
            COUNT( 1 )
        FROM
            jr_purchase_inspection pi
        LEFT JOIN jr_purchase_inspection_schedule pis ON ( pi.inspection_number = pis.inspection_number )
        WHERE
            1 = 1
            <if test="purchaseInspection.signedDateFrom != null and purchaseInspection.signedDateFrom !=''">
                And pi.purchase_requisition_date &gt;= #{purchaseInspection.signedDateFrom}
            </if>
            <if test="purchaseInspection.signedDateTo != null and purchaseInspection.signedDateTo !=''">
                And pi.purchase_requisition_date &lt;= #{purchaseInspection.signedDateTo}
            </if>
            <if test="purchaseInspection.supplierName != null and purchaseInspection.supplierName != ''">
                AND pi.supplier_name = #{purchaseInspection.supplierName}
            </if>
            <if test="purchaseInspection.inspectionState != null and purchaseInspection.inspectionState != ''">
                AND pis.inspection_state = #{purchaseInspection.inspectionState}
            </if>
            <if test="purchaseInspection.inspectionNumber != null and purchaseInspection.inspectionNumber != ''">
                AND pi.inspection_number = #{purchaseInspection.inspectionNumber}
            </if>
            <if test="purchaseInspection.inspectionType != null and purchaseInspection.inspectionType != ''">
                AND pi.inspection_type = #{purchaseInspection.inspectionType}
            </if>
    </sql>

    <sql id="findPurchaseInspectionPage">
        SELECT
            pi.id,
            pis.id ids,
            pis.inspection_state,
            pi.purchase_requisition_date,
            pi.inspection_number,
            pi.supplier_name,
            pi.inspection_type,
            pis.order_quantity,
            pi.inspection_preparer,
            pi.inspection_preparation_date,
            pis.inspection_remarks,
            pis.material_name,
            pis.inspectionr_specifications,
            pis.inspection_qualified,
            pis.inspection_quality,
            pis.inspection_quality_date,
            pis.inspection_library,
            pis.inspection_library_date,
            pis.inspection_library_code,
            pis.inspection_describe
        FROM
            jr_purchase_inspection pi
        LEFT JOIN jr_purchase_inspection_schedule pis ON ( pi.inspection_number = pis.inspection_number )
        WHERE
            1 = 1
            <if test="purchaseInspection.signedDateFrom != null and purchaseInspection.signedDateFrom !=''">
                And pi.purchase_requisition_date &gt;= #{purchaseInspection.signedDateFrom}
            </if>
            <if test="purchaseInspection.signedDateTo != null and purchaseInspection.signedDateTo !=''">
                And pi.purchase_requisition_date &lt;= #{purchaseInspection.signedDateTo}
            </if>
            <if test="purchaseInspection.supplierName != null and purchaseInspection.supplierName != ''">
                AND pi.supplier_name = #{purchaseInspection.supplierName}
            </if>
            <if test="purchaseInspection.inspectionState != null and purchaseInspection.inspectionState != ''">
                AND pis.inspection_state = #{purchaseInspection.inspectionState}
            </if>
            <if test="purchaseInspection.inspectionNumber != null and purchaseInspection.inspectionNumber != ''">
                AND pi.inspection_number = #{purchaseInspection.inspectionNumber}
            </if>
            <if test="purchaseInspection.inspectionType != null and purchaseInspection.inspectionType != ''">
                AND pi.inspection_type = #{purchaseInspection.inspectionType}
            </if>
    </sql>

    <sql id="findPurchaseInspectionQueryPage">
        SELECT
            pi.inspection_state,
            pi.inspection_remarks,
            pi.inspection_number,
            fpa.finance_parameter_name currencyName,
            fpb.finance_parameter_name taxRateName,
            pi.purchase_requisition_date
        FROM
            jr_purchase_inspection pi
                LEFT JOIN jr_finance_parameters fpa ON ( pi.currency_id = fpa.id )
                LEFT JOIN jr_finance_parameters fpb ON ( pi.tax_rate_id = fpb.id )
        WHERE
            pi.inspection_number = #{inspectionNumber}


    </sql>

    <sql id="findPurchaseSupplyYieldPageSql">
        SELECT
            pi.supplier_name,
            pis.order_quantity,
            pis.material_name,
            pis.inspectionr_specifications,
            pis.inspection_qualified
        FROM
            jr_purchase_inspection pi
            LEFT JOIN jr_purchase_inspection_schedule pis ON ( pi.inspection_number = pis.inspection_number )
        WHERE
            1 = 1
        AND (pis.inspection_state = '3' or pis.inspection_state = '4')
        <if test="purchaseInspection.signedDateFrom != null and purchaseInspection.signedDateFrom !=''">
            And pi.purchase_requisition_date &gt;= #{purchaseInspection.signedDateFrom}
        </if>
        <if test="purchaseInspection.signedDateTo != null and purchaseInspection.signedDateTo !=''">
            And pi.purchase_requisition_date &lt;= #{purchaseInspection.signedDateTo}
        </if>
        <if test="purchaseInspection.supplierName != null and purchaseInspection.supplierName != ''">
            AND pi.supplier_name = #{purchaseInspection.supplierName}
        </if>
        <if test="purchaseInspection.materialName != null and purchaseInspection.materialName != ''">
            AND pis.material_name = #{purchaseInspection.materialName}
        </if>
        <if test="purchaseInspection.inspectionrSpecifications != null and purchaseInspection.inspectionrSpecifications != ''">
            AND pis.inspectionr_specifications = #{purchaseInspection.inspectionrSpecifications}
        </if>
    </sql>

    <sql id="countPurchaseSupplyYieldSql">
        SELECT
            COUNT( 1 )
        FROM
            jr_purchase_inspection pi
            LEFT JOIN jr_purchase_inspection_schedule pis ON ( pi.inspection_number = pis.inspection_number )
        WHERE
             1 = 1
        AND (pis.inspection_state = '3' or pis.inspection_state = '4')
        <if test="purchaseInspection.signedDateFrom != null and purchaseInspection.signedDateFrom !=''">
            And pi.purchase_requisition_date &gt;= #{purchaseInspection.signedDateFrom}
        </if>
        <if test="purchaseInspection.signedDateTo != null and purchaseInspection.signedDateTo !=''">
            And pi.purchase_requisition_date &lt;= #{purchaseInspection.signedDateTo}
        </if>
        <if test="purchaseInspection.supplierName != null and purchaseInspection.supplierName != ''">
            AND pi.supplier_name = #{purchaseInspection.supplierName}
        </if>
        <if test="purchaseInspection.materialName != null and purchaseInspection.materialName != ''">
            AND pis.material_name = #{purchaseInspection.materialName}
        </if>
        <if test="purchaseInspection.inspectionrSpecifications != null and purchaseInspection.inspectionrSpecifications != ''">
            AND pis.inspectionr_specifications = #{purchaseInspection.inspectionrSpecifications}
        </if>
    </sql>

    <select id="countPurchaseInspection" parameterType="com.erp.purchase.entity.PurchaseInspection" resultType="long">
        <include refid="countPurchaseInspection"/>
    </select>

    <select id="findPurchaseInspectionPage" parameterType="com.erp.purchase.entity.PurchaseInspection" resultType="com.erp.purchase.entity.PurchaseInspection">
        <include refid="findPurchaseInspectionPage"/>
    </select>

    <select id="countPurchaseSupplyYield" parameterType="com.erp.purchase.entity.PurchaseInspection" resultType="long">
        <include refid="countPurchaseSupplyYieldSql"/>
    </select>

    <select id="findPurchaseSupplyYieldPage" parameterType="com.erp.purchase.entity.PurchaseInspection" resultType="com.erp.purchase.entity.PurchaseInspection">
        <include refid="findPurchaseSupplyYieldPageSql"/>
    </select>

    <!-- 来货检验查询数据 -->
    <select id="findPurchaseInspectionQueryPage" parameterType="com.erp.purchase.entity.PurchaseInspectionSchedule" resultType="com.erp.purchase.entity.PurchaseInspectionSchedule">
        <include refid="findPurchaseInspectionQueryPage"/>
    </select>

    <!--修改回显-->
    <select id="queryPurchaseInspectionSchedule" parameterType="String" resultType="com.erp.purchase.entity.PurchaseInspectionSchedule">
        SELECT
            pis.inspection_state,
            pis.order_numbers,
            pis.material_name,
            pis.inspectionr_specifications,
            pis.inspection_company,
            pis.order_quantity,
            pis.unit_price,
            pis.inspection_money,
            pis.inspection_remarks,
            pi.inspection_number
        FROM
            jr_purchase_inspection pi
                LEFT JOIN jr_purchase_inspection_schedule pis ON ( pi.inspection_number = pis.inspection_number )
        WHERE
            pis.inspection_number = #{oddNumbers}
    </select>

    <delete id="deletePurchaseInspectionSchedule">
        delete from jr_purchase_inspection_schedule  where inspection_number = #{inspectionNumber}
    </delete>

    <delete id="deletePurchaseInspection">
        delete from jr_purchase_inspection  where inspection_number = #{inspectionNumber}
    </delete>

    <!--向数据库添加采购收货数据-->
    <insert id="savePurchaseInspectionSchedule" parameterType="com.erp.purchase.entity.PurchaseInspectionSchedule">
        INSERT INTO
            jr_purchase_inspection_schedule
        (
            order_numbers,
            material_name,
            inspectionr_specifications,
            inspection_company,
            order_quantity,
            unit_price,
            inspection_money,
            inspection_number,
            inspection_remarks,
            inspection_subclass,
            inspection_state,
            inspection_category,
            inspection_location,
            inspection_material,
            inspection_brand,
            inspection_code,
            inspection_deposit
        )
        VALUES
            (
                #{orderNumbers},
                #{materialName},
                #{inspectionrSpecifications},
                #{inspectionCompany},
                #{orderQuantity},
                #{unitPrice},
                #{inspectionMoney},
                #{inspectionNumber},
                #{inspectionRemarks},
                #{inspectionSubclass},
                #{inspectionState},
                #{inspectionCategory},
                #{inspectionLocation},
                #{inspectionMaterial},
                #{inspectionBrand},
                #{inspectionCode},
                #{inspectionDeposit}
            )
    </insert>

    <!--向数据库添加采购收货数据-->
    <insert id="savePurchaseInspectionScheduleDate" parameterType="com.erp.purchase.entity.PurchaseInspection">
        INSERT INTO
            jr_purchase_inspection
        (
            purchase_requisition_date,
            inspection_number,
            supplier_name,
            inspection_type,
            order_quantity,
            inspection_preparer,
            inspection_preparation_date,
            inspection_remarks,
            tax_rate_id,
            currency_id
        )
        VALUES
            (
                #{purchaseRequisitionDate},
                #{inspectionNumber},
                #{supplierName},
                #{inspectionType},
                #{orderQuantity},
                #{inspectionPreparer},
                #{inspectionPreparationDate},
                #{inspectionRemarks},
                #{taxRateId},
                #{currencyId}
            )
    </insert>

    <!--查询出最后一个来货检验单号-->
    <select id="queryPurchaseInspection" resultType="com.erp.purchase.entity.PurchaseInspection">
        SELECT
            pi.id,
            pi.inspection_state,
            pi.purchase_requisition_date,
            pi.inspection_number,
            pi.supplier_name,
            pi.inspection_type,
            pi.order_quantity,
            pi.inspection_preparer,
            pi.inspection_preparation_date,
            pi.inspection_remarks
        FROM
            jr_purchase_inspection pi
        WHERE
            1 = 1
        GROUP BY
            pi.inspection_preparation_date
        ORDER BY
            pi.inspection_preparation_date DESC
            LIMIT 1;
    </select>

    <update id="confirmPurchaseInspection"  parameterType="com.erp.purchase.entity.PurchaseInspectionSchedule">
        UPDATE
            jr_purchase_inspection_schedule
        set inspection_state = 2
        WHERE id = #{ids}
    </update>

    <update id="cancelPurchaseInspection"  parameterType="com.erp.purchase.entity.PurchaseInspectionSchedule">
        UPDATE
            jr_purchase_inspection_schedule
        set inspection_state = 1
        WHERE id = #{ids}
    </update>

    <select id="qualityInspectionId" parameterType="Long" resultType="com.erp.purchase.entity.PurchaseInspectionSchedule">
        SELECT
            pis.id,
            pis.order_quantity,
            pis.material_name,
            pis.inspectionr_specifications,
            pis.inspection_qualified,
            pis.inspection_describe
        FROM
            jr_purchase_inspection_schedule pis
        WHERE
            1 = 1
          AND pis.id = #{ids}
    </select>

    <update id="updateQualityInspection"  parameterType="com.erp.purchase.entity.PurchaseInspectionSchedule">
        UPDATE
            jr_purchase_inspection_schedule
        set inspection_qualified = #{purchaseInspectionSchedule.inspectionQualified},inspection_quality = #{purchaseInspectionSchedule.userName},
            inspection_quality_date = #{purchaseInspectionSchedule.inspectionQualityDate},inspection_describe = #{purchaseInspectionSchedule.inspectionDescribe},
            inspection_state = 3
        WHERE id = #{purchaseInspectionSchedule.id}
    </update>

    <update id="cancelInspection" parameterType="com.erp.purchase.entity.PurchaseInspectionSchedule">
        UPDATE
            jr_purchase_inspection_schedule
        set inspection_qualified = "",inspection_quality = "",
            inspection_describe = "",
            inspection_state = 2
        WHERE id = #{ids}
    </update>

    <select id="confirmOutsourcing" parameterType="String" resultType="com.erp.purchase.entity.PurchaseInspectionSchedule">
        SELECT
            pis.id,
            pis.inspection_code,
            pis.order_numbers,
            pis.material_name,
            pis.inspectionr_specifications,
            pis.inspection_material,
            pis.inspection_brand,
            pis.inspection_company,
            pis.inspection_qualified,
            pis.unit_price,
            pis.inspection_qualified * pis.unit_price as inspectionMoney ,
            pis.inspection_location,
            pis.inspection_remarks,
            pi.supplier_name,
            pi.currency_id,
            pi.tax_rate_id,
            pis.inspection_number,
            pis.uuid,
            pis.inspection_deposit
        FROM
            jr_purchase_inspection_schedule pis
                LEFT JOIN jr_purchase_inspection pi ON ( pi.inspection_number = pis.inspection_number )
        WHERE
            1 = 1
          AND pis.id = #{id}
    </select>

    <!--查询出最后一个采购入库单号-->
    <select id="queryWarehouseStorage" resultType="com.erp.warehouse.entity.WarehouseStorage">
        SELECT
            ws.id,
            ws.storage_coding,
            ws.storage_numbers
        FROM
            jr_warehouse_storage ws
        WHERE
            1 = 1
        GROUP BY
            ws.storage_coding
        ORDER BY
            ws.storage_date DESC
            LIMIT 1;
    </select>

    <insert id="saveWarehouseStorage" parameterType="com.erp.warehouse.entity.WarehouseStorage">
        INSERT INTO
            jr_warehouse_storage
            (
                storage_state,
                storage_date,
                storage_coding,
                storage_numbers,
                supplier_name,
                storage_library,
                storage_quantity,
                tax_rate_id,
                currency_id,
                storage_preparer,
                storage_preparer_date,
                order_number,
                storage_code,
                storage_name,
                storage_specifications,
                storage_quality,
                storage_brand,
                storage_company,
                unit_price,
                storage_money,
                storage_location,
                storage_remarks,
                storage_subclass,
                storage_category,
                uuid
            )
        VALUES
            (
                #{storageState},
                #{storageDate},
                #{storageCoding},
                #{storageNumbers},
                #{supplierName},
                #{storageLibrary},
                #{storageQuantity},
                #{taxRateId},
                #{currencyId},
                #{storagePreparer},
                #{storagePreparerDate},
                #{orderNumber},
                #{storageCode},
                #{storageName},
                #{storageSpecifications},
                #{storageQuality},
                #{storageBrand},
                #{storageCompany},
                #{unitPrice},
                #{storageMoney},
                #{storageLocation},
                #{storageRemarks},
                #{storageSubclass},
                #{storageCategory},
                #{uuid}
            )
    </insert>

    <update id="updatePurchaseInspectionSchedule" parameterType="com.erp.purchase.entity.PurchaseInspectionSchedule">
        UPDATE
            jr_purchase_inspection_schedule
        set inspection_library = #{purchaseInspectionScheduleData.inspectionLibrary},inspection_library_date = #{purchaseInspectionScheduleData.inspectionLibraryDate},
            inspection_library_code = #{purchaseInspectionScheduleData.inspectionLibraryCode}, uuid = #{purchaseInspectionScheduleData.uuid},
            inspection_state = 4
        WHERE id = #{purchaseInspectionScheduleData.id}
    </update>

    <!--查询出最后一个采购入库单号-->
    <select id="queryWarehouseStorageTwo" resultType="com.erp.warehouse.entity.WarehouseStorage">
        SELECT
            ws.id,
            ws.storage_coding,
            ws.storage_numbers
        FROM
            jr_warehouse_storage ws
        WHERE
            1 = 1
          AND ws.storage_numbers = #{inspectionNumber}
        GROUP BY
            ws.storage_numbers
    </select>

    <delete id="deleteWarehouseStorage">
        delete from jr_warehouse_storage  where uuid = #{uuid}
    </delete>

    <update id="updateCancelLibrary" parameterType="com.erp.purchase.entity.PurchaseInspectionSchedule">
        UPDATE
            jr_purchase_inspection_schedule
        set inspection_library = "",inspection_library_code = "", uuid = "",inspection_state = 3
        WHERE id = #{ids}
    </update>

</mapper>
