<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.purchase.mapper.PurchaseSettlementMapper">
    <sql id="countPurchaseSettlementSql">
        SELECT
            COUNT( 1 )
        FROM
            jr_purchase_settlement ps
        WHERE
            1 = 1
        <if test="purchaseSettlement.settlementState != null and purchaseSettlement.settlementState != ''">
            AND ps.settlement_state = #{purchaseSettlement.settlementState}
        </if>
        <if test="purchaseSettlement.settlementNumbers != null and purchaseSettlement.settlementNumbers != ''">
            AND ps.settlement_numbers = #{purchaseSettlement.settlementNumbers}
        </if>
        <if test="purchaseSettlement.settlementSupplier != null and purchaseSettlement.settlementSupplier != ''">
            AND ps.settlement_supplier = #{purchaseSettlement.settlementSupplier}
        </if>
        <if test="purchaseSettlement.settlementLibrary != null and purchaseSettlement.settlementLibrary != ''">
            AND ps.settlement_library = #{purchaseSettlement.settlementLibrary}
        </if>
        <if test="purchaseSettlement.settlementUse != null and purchaseSettlement.settlementUse != ''">
            AND ps.settlement_use = #{purchaseSettlement.settlementUse}
        </if>
        <if test="purchaseSettlement.signedDateFrom != null and purchaseSettlement.signedDateFrom !=''">
            And ps.settlement_date &gt;= #{purchaseSettlement.signedDateFrom}
        </if>
        <if test="purchaseSettlement.signedDateTo != null and purchaseSettlement.signedDateTo !=''">
            And ps.settlement_date &lt;= #{purchaseSettlement.signedDateTo}
        </if>
    </sql>

    <sql id="findPurchaseSettlementSql">
        SELECT
            ps.id,
            ps.settlement_state,
            ps.settlement_date,
            ps.settlement_numbers,
            ps.settlement_use,
            ps.settlement_supplier,
            wl.location_name settlementLibrary,
            sum(pss.settlement_quantity) settlementQuantity,
            sum(pss.settlement_money) settlementMoney,
            ps.settlement_invoice,
            fpa.finance_parameter_name currencyName,
            fpb.finance_parameter_name taxRateName,
            sum(pss.settlement_money) / ( 1 + fpb.finance_parameter_name * 0.01) settlementNoMoney
        FROM
            jr_purchase_settlement ps
            LEFT JOIN jr_purchase_settlement_schedule pss ON ( ps.settlement_numbers = pss.settlement_number )
            LEFT JOIN jr_finance_parameters fpa ON ( ps.currency_id = fpa.id )
            LEFT JOIN jr_finance_parameters fpb ON ( ps.tax_rate_id = fpb.id )
            LEFT JOIN jr_warehouse_location wl ON ( ps.settlement_library = wl.location_sorting )
        WHERE
            1 = 1
            <if test="purchaseSettlement.settlementState != null and purchaseSettlement.settlementState != ''">
                AND ps.settlement_state = #{purchaseSettlement.settlementState}
            </if>
            <if test="purchaseSettlement.settlementNumbers != null and purchaseSettlement.settlementNumbers != ''">
                AND ps.settlement_numbers = #{purchaseSettlement.settlementNumbers}
            </if>
            <if test="purchaseSettlement.settlementSupplier != null and purchaseSettlement.settlementSupplier != ''">
                AND ps.settlement_supplier = #{purchaseSettlement.settlementSupplier}
            </if>
            <if test="purchaseSettlement.settlementLibrary != null and purchaseSettlement.settlementLibrary != ''">
                AND ps.settlement_library = #{purchaseSettlement.settlementLibrary}
            </if>
            <if test="purchaseSettlement.settlementUse != null and purchaseSettlement.settlementUse != ''">
                AND ps.settlement_use = #{purchaseSettlement.settlementUse}
            </if>
            <if test="purchaseSettlement.signedDateFrom != null and purchaseSettlement.signedDateFrom !=''">
                And ps.settlement_date &gt;= #{purchaseSettlement.signedDateFrom}
            </if>
            <if test="purchaseSettlement.signedDateTo != null and purchaseSettlement.signedDateTo !=''">
                And ps.settlement_date &lt;= #{purchaseSettlement.signedDateTo}
            </if>
        GROUP BY
            ps.settlement_numbers
    </sql>

    <sql id="countPurchaseSettlementAddQuerySql">
        SELECT
            COUNT( 1 )
        FROM
            jr_purchase_settlement_schedule
        WHERE
            1 = 1
    </sql>

    <sql id="purchaseSettlementAddQuerySql">
        SELECT
            ps.settlement_date,
            pss.settlement_number,
            ps.settlement_use,
            pss.settlement_code,
            pss.settlement_name,
            pss.settlement_brand,
            pss.settlement_specifications,
            pss.settlement_company,
            pss.settlement_quantity,
            pss.settlement_price,
            pss.settlement_money,
            pss.settlement_deposit,
            pss.order_number,
            pss.settlement_subclass,
            ps.settlement_invoice,
            pss.settlement_money / ( 1 + fpb.finance_parameter_name * 0.01) settlementNoMoney,
            pss.settlement_price / ( 1 + fpb.finance_parameter_name * 0.01) settlementNoPrice
        FROM
            jr_purchase_settlement_schedule pss
                LEFT JOIN jr_purchase_settlement ps ON ( ps.settlement_numbers = pss.settlement_number )
                LEFT JOIN jr_finance_parameters fpa ON ( ps.currency_id = fpa.id )
                LEFT JOIN jr_finance_parameters fpb ON ( ps.tax_rate_id = fpb.id )
        WHERE
            1 = 1
        AND ps.settlement_supplier = #{purchaseSettlementSchedule.settlementSupplier}
        AND ps.settlement_invoice = '1'
    </sql>

    <select id="countPurchaseSettlement" parameterType="com.erp.purchase.entity.PurchaseSettlement" resultType="long">
        <include refid="countPurchaseSettlementSql"/>
    </select>

    <select id="findPurchaseSettlement" parameterType="com.erp.purchase.entity.PurchaseSettlement" resultType="com.erp.purchase.entity.PurchaseSettlement">
        <include refid="findPurchaseSettlementSql"/>
    </select>

    <!--采购发票查询-->
    <select id="countPurchaseSettlementAddQuery" parameterType="com.erp.purchase.entity.PurchaseSettlementSchedule" resultType="long">
        <include refid="countPurchaseSettlementAddQuerySql"/>
    </select>
    <!--采购发票查询-->
    <select id="purchaseSettlementAddQuery" parameterType="com.erp.purchase.entity.PurchaseSettlementSchedule" resultType="com.erp.purchase.entity.PurchaseSettlementSchedule">
        <include refid="purchaseSettlementAddQuerySql"/>
    </select>

    <!--向数据库添加采购订单数据-->
    <insert id="savePurchaseSettlementDate" parameterType="com.erp.purchase.entity.PurchaseSettlement">
        INSERT INTO
            jr_purchase_settlement
        (
            settlement_state,
            settlement_date,
            settlement_numbers,
            settlement_use,
            settlement_supplier,
            settlement_library,
            currency_id,
            tax_rate_id,
            settlement_invoice
        )
        VALUES
            (
                #{settlementState},
                #{settlementDate},
                #{settlementNumbers},
                #{settlementUse},
                #{settlementSupplier},
                #{settlementLibrary},
                #{currencyId},
                #{taxRateId},
                #{settlementInvoice}
            )
    </insert>

    <!--向数据库添加采购订单数据-->
    <insert id="savePurchaseSettlementSchedule" parameterType="com.erp.purchase.entity.PurchaseSettlementSchedule">
        INSERT INTO
            jr_purchase_settlement_schedule
        (
            settlement_code,
            settlement_name,
            settlement_specifications,
            settlement_quality,
            settlement_brand,
            settlement_company,
            settlement_quantity,
            settlement_price,
            settlement_money,
            settlement_category,
            settlement_subclass,
            settlement_remarks,
            settlement_number,
            settlement_deposit,
            order_number,
            whether_invoice
        )
        VALUES
            (
                #{settlementCode},
                #{settlementName},
                #{settlementSpecifications},
                #{settlementQuality},
                #{settlementBrand},
                #{settlementCompany},
                #{settlementQuantity},
                #{settlementPrice},
                #{settlementMoney},
                #{settlementCategory},
                #{settlementSubclass},
                #{settlementRemarks},
                #{settlementNumber},
                #{settlementDeposit},
                #{orderNumber},
                #{whetherInvoice}
            )
    </insert>

    <select id="queryPurchaseSettlementSchedule" parameterType="String" resultType="com.erp.purchase.entity.PurchaseSettlementSchedule">
        SELECT
            pss.id,
            pss.settlement_code,
            pss.settlement_name,
            pss.settlement_specifications,
            pss.settlement_quality,
            pss.settlement_brand,
            pss.settlement_company,
            pss.settlement_quantity,
            pss.settlement_price,
            pss.settlement_money,
            pss.settlement_category,
            pss.settlement_subclass,
            pss.settlement_remarks,
            pss.settlement_number
        FROM
            jr_purchase_settlement_schedule pss
        WHERE
            pss.settlement_number = #{oddNumbers}
    </select>

    <update id="settlementPurchaseSettlement"  parameterType="com.erp.purchase.entity.PurchaseSettlement">
        UPDATE
            jr_purchase_settlement
        set settlement_state = 4
        WHERE id = #{ids}
    </update>

    <update id="cancelPurchaseSettlement"  parameterType="com.erp.purchase.entity.PurchaseSettlement">
        UPDATE
            jr_purchase_settlement
        set settlement_state = 3
        WHERE id = #{ids}
    </update>

    <update id="cancelPurchaseSettlementData"  parameterType="com.erp.purchase.entity.PurchaseSettlement">
        UPDATE
            jr_purchase_settlement
        set settlement_state = 2
        WHERE id = #{ids}
    </update>

    <update id="updatePurchaseRefund"  parameterType="com.erp.purchase.entity.PurchaseRefund">
        UPDATE
            jr_purchase_refund
        set refund_state = 3
        WHERE refund_number = #{settlementNumbers}
    </update>

    <update id="updateWarehouseStorage"  parameterType="com.erp.warehouse.entity.WarehouseStorage">
        UPDATE
            jr_warehouse_storage
        set storage_state = 3
        WHERE storage_coding = #{settlementNumbers}
    </update>

    <update id="updatePurchaseRefundData"  parameterType="com.erp.purchase.entity.PurchaseRefund">
        UPDATE
            jr_purchase_refund
        set refund_state = 2
        WHERE refund_number = #{settlementNumbers}
    </update>

    <update id="updateWarehouseStorageData"  parameterType="com.erp.warehouse.entity.WarehouseStorage">
        UPDATE
            jr_warehouse_storage
        set storage_state = 2
        WHERE storage_coding = #{settlementNumbers}
    </update>

</mapper>
