<style>
    #technology-add {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="technology-add">
    <form class="layui-form" action="" lay-filter="technology-add-form">
        <div class="layui-form-item">
            <label class="layui-form-label">所属类别：</label>
            <div class="layui-input-block">
                <select name="productCategory">
                    <option value="1">大类</option>
                    <option value="2">小类</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require" >类别名称：</label>
            <div class="layui-input-block">
                <input type="text" name="productCategoryName"
                       autocomplete="off" class="layui-input" placeholder="请输入名称">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序：</label>
            <div class="layui-input-block">
                <input type="text" name="productCategorySort"
                       autocomplete="off" class="layui-input" placeholder="">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注：</label>
            <div class="layui-input-block">
                <textarea name="productCategoryRemarks" maxlength="100" class="layui-textarea" placeholder=""></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态：</label>
            <div class="layui-input-block">
                <select name="productCategoryState">
                    <option value="1">启用</option>
                    <option value="2">禁用</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="technology-add-form-submit" id="submit"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>

<script>
    layui.use(['febs', 'form', 'validate', 'xmSelect'], function () {
        let $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            form = layui.form,
            validate = layui.validate;

        form.verify(validate);
        form.render();


        form.on('submit(technology-add-form-submit)', function (data) {
            /*if (!data.field.parameterCategory) {
                febs.alert.warn('请选择参数类别');
                return false;
            }
            if (!data.field.parameterValue) {
                febs.alert.warn('请输入参数值');
                return false;
            }
            if (!data.field.parameterName) {
                febs.alert.warn('请输入参数名称');
                return false;
            }*/
            febs.post(ctx + 'technologyProductCategory/add', data.field, function () {
                layer.closeAll();
                febs.alert.success('新增产品类别成功');
                $('#technology-productCategory').find('#query').click();
            });
            return false;

        });

    });
</script>