<style>
    #personnelDormitory-update {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="personnelDormitory-update">
    <form class="layui-form" action="" lay-filter="personnelDormitory-update-form">
        <div class="layui-form-item febs-hide">
            <label class="layui-form-label febs-form-item-require">宿舍id：</label>
            <div class="layui-input-block">
                <input type="text" name="id" data-th-value="${dormitory.id}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require" >宿舍编号:</label>
            <div class="layui-input-block">
                <input type="text" name="dormitoryNo" id="dormitoryNo" lay-verify="required"
                       autocomplete="off" class="layui-input" placeholder="请输入宿舍编号" >
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">宿舍地址：</label>
            <div class="layui-input-block">
                <select name="dormitoryPlace" lay-verify="required">
                    <option value="">请选择</option>
                    <option value="1">东宿舍</option>
                    <option value="2">西宿舍</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require" >床位总数:</label>
            <div class="layui-input-block">
                <input type="text" name="resideNnt" id="resideNnt" lay-verify="required"
                       autocomplete="off" class="layui-input" placeholder="请输入床位总数" >
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require" >管理员:</label>
            <div class="layui-input-block">
                <input type="text" name="dormitoryAdministrators" id="dormitoryAdministrators"  lay-verify="required"
                       autocomplete="off" class="layui-input" placeholder="请输入宿舍管理员" >
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态：</label>
            <div class="layui-input-block">
                <select name="dormitoryState" lay-verify="required">
                    <option value="1">启用</option>
                    <option value="2">禁用</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="personnelDormitory-update-form-submit" id="submit"></button>
        </div>
    </form>
</div>

<script data-th-inline="javascript">
    layui.use(['febs', 'form', 'validate','laydate'], function () {
        let $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            form = layui.form,
            laydate = layui.laydate,
            dormitory = [[${dormitory}]],
            validate = layui.validate;

        form.verify(validate);
        form.render();

        initPersonnelDormitoryValue();

        function initPersonnelDormitoryValue() {
            form.val("personnelDormitory-update-form", {
                "dormitoryNo": dormitory.dormitoryNo,
                "dormitoryPlace": dormitory.dormitoryPlace,
                "resideNnt": dormitory.resideNnt,
                "dormitoryAdministrators": dormitory.dormitoryAdministrators,
                "dormitoryState": dormitory.dormitoryState
            });
        }
        form.on('submit(personnelDormitory-update-form-submit)', function (data) {
            febs.post(ctx + 'personnelDormitory/update', data.field, function () {
                layer.closeAll();
                febs.alert.success('数据修改成功');
                $('#febs-personnelDormitory').find('#query').click();
            });
            return false;
        });
    });
</script>