<style>
    #personnelContract-add {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="personnelContract-add">
    <form class="layui-form" action="" lay-filter="personnelContract-add-form">
        <input type="hidden" name="userId" id="receiveUserId"
               autocomplete="off" class="layui-input" readonly>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require" >宿舍编号:</label>
            <div class="layui-input-block">
                <input type="text" name="staffName" id="receiveNo"
                       autocomplete="off" class="layui-input" placeholder="请输入员工姓名" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require" >宿舍地址:</label>
            <div class="layui-input-block">
                <input type="text" name="staffName" id="receiveN"
                       autocomplete="off" class="layui-input" placeholder="请输入员工姓名" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require" >床位总数:</label>
            <div class="layui-input-block">
                <input type="text" name="staffName" id="receiveNmm"
                       autocomplete="off" class="layui-input" placeholder="请输入员工姓名" readonly>
            </div>
        </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="personnelContract-add-form-submit" id="submit"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<div id="hidden1" lay-filter="hidden1" style="display: none">
    <table id="department_result" lay-filter="department_result"></table>
</div>

<script>
    layui.use(['febs', 'form', 'validate', 'xmSelect','laydate'], function () {
        let $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            form = layui.form,
            xmSelect = layui.xmSelect,
            laydate = layui.laydate,
            validate = layui.validate;

        form.verify(validate);
        form.render();


        form.on('submit(personnelContract-add-form-submit)', function (data) {


            var signedDate = data.field.signedDate //签订日期
            var expireDate = data.field.expireDate //到期时间
            var signedArr = signedDate.split(/[-]/);//签订日期
            var expireArr = expireDate.split(/[-]/);//到期时间
            var signedDateM = (new Date(signedArr)).getTime(); //得到签订日期毫秒数
            var expireDateM = (new Date(expireArr)).getTime(); //得到到期时间毫秒数
            if (signedDateM > expireDateM) {
                febs.alert.warn('到期时间不能小于签订时间');
                return false;
            }
            febs.post(ctx + 'personnelContract/add', data.field, function () {
                layer.closeAll();
                febs.alert.success('新增合同信息成功');
                $('#febs-personnelContract').find('#query').click();
            });
            return false;

        });
        //日期同时绑定多个
        lay('.createDate').each(function(){
            laydate.render({
                elem: this
                ,trigger: 'click'
            });
        })
    });
    function dblclickt(){
        layui.use(['febs', 'form', 'validate', 'xmSelect'], function () {
            let $ = layui.$,
                febs = layui.febs;

            febs.modal.open('员工档案', 'personnel/receiveArchives', {
            area:["60%","90%"],
            yes: function (index, layero) {

            }

           });
        });
    }
</script>