<style>
    #qualityParameter-update {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="qualityParameter-update">
    <form class="layui-form" action="" lay-filter="qualityParameter-update-form">
        <div class="layui-form-item">
            <label class="layui-form-label">参数类别：</label>
            <div class="layui-input-block">
                <select name="parameterType">
                    <option value="1">工序类型</option>
                    <option value="2">检验类型</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">参数值：</label>
            <div class="layui-input-block">
                <input type="text" name="parameterValue" id="parameterValue"
                       autocomplete="off" class="layui-input" placeholder="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" >参数名称：</label>
            <div class="layui-input-block">
                <input type="text" name="parameterName" id="parameterName"
                       autocomplete="off" class="layui-input" placeholder="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" >排&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;序：</label>
            <div class="layui-input-block">
                <input type="text" name="parameterSorting" id="parameterSorting"
                       autocomplete="off" class="layui-input" placeholder="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注：</label>
            <div class="layui-input-block">
                <input type="text" name="parameterNote" id="parameterNote"
                       autocomplete="off" class="layui-input" placeholder="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;态：</label>
            <div class="layui-input-block">
                <select name="parameterState" id="parameterState">
                    <option value="1">启用</option>
                    <option value="2">禁止</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item" style="display: none;">
            <label class="layui-form-label">id：</label>
            <div class="layui-input-block">
                <input type="text" name="id" id="id"
                       autocomplete="off" class="layui-input" placeholder="">
            </div>
        </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="qualityParameter-update-form-submit" id="submit"></button>
        </div>
    </form>
</div>
<script data-th-inline="javascript">
    layui.use(['febs', 'form', 'validate','table', 'xmSelect','upload','laydate'], function () {
        let $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            form = layui.form,
            qualityParameter = [[${qualityParameter}]],
            upload = layui.upload,
            uploadInst;

        initPurchaseRequisitionCreatorValue();

        function initPurchaseRequisitionCreatorValue() {
            form.val("qualityParameter-update-form", {
                "id": qualityParameter.id,
                "parameterType": qualityParameter.parameterType,
                "parameterValue": qualityParameter.parameterValue,
                "parameterName": qualityParameter.parameterName,
                "parameterSorting": qualityParameter.parameterSorting,
                "parameterNote": qualityParameter.parameterNote,
                "parameterState": qualityParameter.parameterState
            });
        }

        form.on('submit(qualityParameter-update-form-submit)', function (data) {
            febs.post(ctx + 'qualityParameter/update', data.field,function () {
                layer.closeAll();
                febs.alert.success('修改参数成功');
                $('#quality-parameter').find('#query').click();
            });
            return false;

        });
    })
</script>