<style>
    #technologyBomParameter-update {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="technologyBomParameter-update">
    <form class="layui-form" action="" lay-filter="technologyBomParameter-update-form">
        <div class="layui-form-item">
            <label class="layui-form-label" >参数类别：</label>
            <div class="layui-input-inline">
                <select id="parameterCategory"  name="parameterCategory" lay-verify="required" class="layui-form-select" >
                    <option value="1">BOM配置</option>
                    <option value="2">部分名称</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" >参数值：</label>
            <div class="layui-input-block">
                <input type="text" name="parameterValue"
                       autocomplete="off" class="layui-input" placeholder="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">参数名称：</label>
            <div class="layui-input-block">
                <input type="text" name="parameterName"
                       autocomplete="off" class="layui-input" placeholder="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">名排序：</label>
            <div class="layui-input-block">
                <input type="text" name="parameterSorting"
                       autocomplete="off" class="layui-input" placeholder="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注：</label>
            <div class="layui-input-block">
                <input type="text" name="parameterNote"
                       autocomplete="off" class="layui-input" placeholder="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态：</label>
            <div class="layui-input-inline">
                <select id="parameterState"  name="parameterState" lay-verify="required" class="layui-form-select" >
                    <option value="1">启用</option>
                    <option value="2">禁用</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item" style="display: none;">
            <label class="layui-form-label">id：</label>
            <div class="layui-input-block">
                <input type="text" name="id"
                       autocomplete="off" class="layui-input" placeholder="">
            </div>
        </div>
        <div class="layui-form-item" style="display: none;">
            <label class="layui-form-label">创建时间：</label>
            <div class="layui-input-inline" style="width: 90px">
                <input type="text" name="parameterDate" id="orderDate"
                       autocomplete="off" class="layui-input createDate" readonly>
            </div>
        </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="technologyBomParameter-update-form-submit" id="submit"></button>
        </div>
    </form>
</div>
<script langguage="JavaScript">
    var now = new Date();
    orderDate.value=new Date().getFullYear() + '-' + (new Date().getMonth() + 1) + '-' + new Date().getDate();
    var orderDeliveryDateTo = new Date().getFullYear() + '-' + (new Date().getMonth() + 1) + '-' + new Date().getDate();

</script>
<script data-th-inline="javascript">
    layui.use(['febs', 'form', 'validate', 'xmSelect'], function () {
        let $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            form = layui.form,
            technologyBomParameterModel = [[${technologyBomParameterModel}]],
            validate = layui.validate;

        form.verify(validate);
        form.render();

        initTechnologyProductCategoryValue();

        function initTechnologyProductCategoryValue() {
            form.val("technologyBomParameter-update-form", {
                "parameterCategory": technologyBomParameterModel.parameterCategory,
                "parameterValue": technologyBomParameterModel.parameterValue,
                "parameterName": technologyBomParameterModel.parameterName,
                "parameterSorting": technologyBomParameterModel.parameterSorting,
                "parameterNote": technologyBomParameterModel.parameterNote,
                "parameterState": technologyBomParameterModel.parameterState,
                "id": technologyBomParameterModel.id
            });
        }

        form.on('submit(technologyBomParameter-update-form-submit)', function (data) {
            febs.post(ctx + 'technologyBomParameter/update', data.field,function () {
                layer.closeAll();
                febs.alert.success('新增参数成功');
                $('#technology-configuration').find('#query').click();
            });
            return false;

        });

    });
</script>