<style xmlns="http://www.w3.org/1999/html">
    #saleOrderAdd-add {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="saleOrderAdd-add">
    <form class="layui-form" action="" lay-filter="saleOrderAdd-add-form">
       <!-- <div class="layui-form-item febs-hide">
            <label class="layui-form-label febs-form-item-require">赋值参数：</label>
            <div class="layui-input-block">
                 &lt;!&ndash;获取tr索引&ndash;&gt;
                <input type="text" name="parameterIndex" id="parameterIndex">
                &lt;!&ndash;获取配置&ndash;&gt;
                <input type="text" name="parameterOne" id="parameterOne">
                &lt;!&ndash;获取单位&ndash;&gt;
                <input type="text" name="parameterTwo" id="parameterTwo">
                &lt;!&ndash;获取数量&ndash;&gt;
                <input type="text" name="parameterThree" id="parameterThree">
                &lt;!&ndash;获取说明&ndash;&gt;
                <input type="text" name="parameterFour" id="parameterFour">
            </div>
        </div>-->
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require" >单&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号</label>
            <div class="layui-input-inline" style="width: 120px">
                <input type="text" name="oddNumbers" id="oddNumbers" style="width: 120px"
                       autocomplete="off" class="layui-input" placeholder="为空时自动生成" readonly>
            </div>
            <label class="layui-form-label febs-form-item-require">日&nbsp;期</label>
            <div class="layui-input-inline" style="width: 120px">
                <input type="text" name="orderDate" id="orderDate"
                       autocomplete="off" class="layui-input createDate" readonly>
            </div>
            <label class="layui-form-label febs-form-item-require">客&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;户</label>
            <div class="layui-input-inline" style="width: 110px">
                <input type="text" name="customerName" lay-verify="required"  id="customerNameTwo" lay-reqtext="系统提示，请选择客户"  ondblclick="saleCustomerProfileSelection()"
                       autocomplete="off" class="layui-input" style="width: 110px" placeholder="请双击" readonly>
            </div>
            <label class="layui-form-label febs-form-item-require">业&nbsp;&nbsp;务&nbsp;员</label>
            <div class="layui-input-inline" style="width: 110px" id="content">
                <select id="personnelNameOne"  name="salesmanName" type="select" lay-verify="required"  class="layui-form-select selector" lay-filter="salesmanName">
                    <option value="" >请选择...</option>
                    <option th:each="saleBusiness:${saleBusiness}" th:value="${saleBusiness.personnelName}">[[${saleBusiness.personnelName}]]</option>
                </select>
            </div>
            <label class="layui-form-label layui-form-label-sm">币&nbsp;种</label>
            <div class="layui-input-inline" style="width: 90px">
                <select id="currencyName"  name="currencyName" lay-verify="required" class="layui-form-select" >
                    <option th:each="currency:${currency}" th:value="${currency.id}">[[${currency.financeParameterName}]]</option>
                </select>
            </div>
            <label class="layui-form-label layui-form-label-sm">税&nbsp;率</label>
            <div class="layui-input-inline" style="width: 90px">
                <select id="taxRate"  name="taxRate" lay-verify="required" class="layui-form-select" >
                    <option th:each="taxRate:${taxRate}" th:value="${taxRate.id}">[[${taxRate.financeParameterName}]]</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">付款方式</label>
            <div class="layui-input-inline" style="width: 120px">
                <select id="paymentMethod"  name="paymentMethod" class="layui-form-select" >
                    <option value="" >请选择...</option>
                    <option th:each="paymentMethod:${paymentMethod}" th:value="${paymentMethod.id}">[[${paymentMethod.financeParameterName}]]</option>
                </select>
            </div>
            <label class="layui-form-label febs-form-item-require" >订&nbsp;金</label>
            <div class="layui-input-inline" style="width: 120px">
                <input type="text" name="depositMoney" id="depositMoney" style="width: 120px"
                       autocomplete="off" class="layui-input" placeholder="请输入订金">
            </div>
            <label class="layui-form-label ">是否开票</label>
            <div class="layui-input-inline" style="width: 110px">
                <select name="invoiceNot">
                    <option value="1">是</option>
                    <option value="2">否</option>
                </select>
            </div>
            <label class="layui-form-label ">联&nbsp;&nbsp;系&nbsp;人</label>
            <div class="layui-input-inline" style="width: 110px">
                <input type="text" name="contactsName"  id="contactsNameOne" style="width: 110px"
                       autocomplete="off" class="layui-input" placeholder="">
            </div>
            <label class="layui-form-label layui-form-label-sm">手机</label>
            <div class="layui-input-inline" style="width: 200px">
                <input type="text" name="mobilePhone" id="mobilePhoneOne" style="width: 200px"
                       autocomplete="off" class="layui-input" placeholder="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">附件</label>
            <div class="layui-input-inline" style="width: 600px">
               <button type="button" class="layui-btn layui-btn-sm" id="uploadPic"><i class="layui-icon">&#xe67c;</i>选择文件</button>
               <button type="button" class="layui-btn layui-btn-sm layui-btn-warm" id="uploadPicBtn"><i class="layui-icon layui-icon-upload-circle"></i>开始上传</button>
               <span id="span-img" style="color: #f5222d"></span>
               <button type="button" class="layui-btn layui-btn-sm layui-btn-danger" id="deletePicBtn"><i class="layui-icon layui-icon-close"></i>删除</button>
            　　　　<!-- 隐藏的input,一个隐藏的input（用于保存文件url） -->
            　　　　<!--<input type="hidden" id="img_url" name="img" value=""/>-->
            </div>
            <label class="layui-form-label ">订单类型</label>
            <div class="layui-input-inline" style="width: 100px">
                <select name="orderType">
                    <option value=""></option>
                    <option value="1">配件</option>
                    <option value="2">整机</option>
                </select>
            </div>
            <label class="layui-form-label">售&nbsp;&nbsp;后&nbsp;员</label>
            <div class="layui-input-inline" style="width: 110px" >
                <select name="afterSalesClerk" type="select" class="layui-form-select selector" lay-filter="afterSalesClerk">
                    <option value="" ></option>
                    <option th:each="saleBusiness:${saleBusiness}" th:value="${saleBusiness.personnelName}">[[${saleBusiness.personnelName}]]</option>
                </select>
            </div>
        </div>
        <table class="layui-table layui-form" id="saleOrder-table" lay-filter="saleOrder-table"></table>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="saleOrderAdd-add-form-submit" id="submit"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script langguage="JavaScript">

    var now = new Date();
    orderDate.value =new Date().getFullYear() + '-' + (new Date().getMonth() + 1) + '-' + new Date().getDate();
    var deliveryDateTo = new Date().getFullYear() + '-' + (new Date().getMonth() + 1) + '-' + new Date().getDate();
</script>
<script>
    layui.use(['febs', 'form', 'validate','table', 'xmSelect','upload','laydate'], function () {
        let $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            form = layui.form,
            laydate = layui.laydate,
            validate = layui.validate,
            table = layui.table,
            upload = layui.upload,
            uploadInst;


        form.verify(validate);
        form.render();

        //日期同时绑定多个
        lay('.createDate').each(function(){
            laydate.render({
                elem: this
                ,trigger: 'click'
            });
        });
        //上传图片
         uploadInst = upload.render({
            elem: '#uploadPic' //绑定元素
            ,url: 'document/uploadFile' //上传接口 [[@{/upload/img}]]
            ,auto: false
            ,size: 307200 //限制文件大小，单位 KB
            ,accept: 'file' //允许上传的文件类型
            ,exts: 'doc|docx|pdf|jpg|jpeg|png|zip|xlsx|xls|excel|'
            ,bindAction: '#uploadPicBtn'
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#preShow').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    alert("上传失败");
                    return layer.msg('上传失败');
                }
                //上传成功
                 $('#span-img').html(res.data);
                 return layer.msg('上传成功');
            }
            ,error: function(){
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });
         table.render({
                        elem: "#saleOrder-table",
                        data:[],
                        even:true,
                            cols: [
                                     [
                                        {type: 'checkbox'},
                                         {field:'number',title:'序列号',align:'center',width:100,templet:function (d) {
                                                 return d.LAY_INDEX;}},
                                        {field: 'productName',title: '产品名称', minWidth: 95,event:'choice'
                                        },
                                        {field: 'specificationModel', title: '规格型号', minWidth: 90},
                                        {field: 'configureName', title: '配置', minWidth: 90,event:'specification'
                                        },
                                        {field: 'companyName', edit:true,title: '单位', minWidth: 55,align:'center'},
                                        {field: 'quantityName', edit:true,title: '数量', minWidth: 55,align:'center'},
                                        {field: 'unitPrice', edit:true,title: '单价', minWidth: 55,align:'center'},
                                        {field: 'amountMoney', edit:true,title: '金额', minWidth: 55,align:'center'},
                                        {field: 'deliveryDate', edit:true,title: '交货日期', minWidth: 55,align:'center'},
                                        {field: 'orderRemarks',edit:true, title: '备注', minWidth: 72}
                                     ]
                                  ]
                     });
        table.on('tool(saleOrder-table)', function (obj) {
            let data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'choice') {
               /* var tableData = layui.table.cache['saleOrder-table'];
                var rowIndex = $(obj.tr).attr('data-index');//当前行的索引
                if (tableData != ""){
                    $("#parameterIndex").val(rowIndex);//获取索引
                    var parameterOptions  = tableData[rowIndex].parameterOption;
                    $("#parameterOne").val(parameterOptions);//配置
                    var companyName  = tableData[rowIndex].companyName;
                    $("#parameterTwo").val(companyName);//单位
                    var quantityName  = tableData[rowIndex].quantityName;
                    $("#parameterThree").val(quantityName);//数量
                    var explainName  = tableData[rowIndex].explainName;
                    $("#parameterFour").val(explainName);//说明
                    tableData.splice(rowIndex,1); //删除缓存的行
                }*/
                febs.modal.view('产品编码选择列表', "sale/saleOrderProductList", {
                    area:["65%","80%"]
                });
            }
            if (layEvent === 'specification') {
                var tableDataOne = layui.table.cache['saleOrder-table'];
                var rowIndexOne = $(obj.tr).attr('data-index');//当前行的索引
                    var productNameOne  = tableDataOne[rowIndexOne].productName;
                    if (productNameOne == "") {
                        febs.alert.warn('请选择产品');
                        return false;
                    }
                if(productNameOne != "") {
                    var parameterOptionOne  = tableDataOne[rowIndexOne].parameterOption;
                    var parameterOptionTwo = parameterOptionOne.split(",");
                    var machineRequirementsOne = "";
                    var computerConfigurationOne = "";
                    var toolSizeOne = "";
                    var hourlyProductionOne = "";
                    var processingProcedureOne = "";
                    var fixtureRequirementsOne = "";
                    var productShapeOne = "";
                    var productSizeOne = "";
                    var otherRequirementsOne = "";
                    for(var i=0;i<parameterOptionTwo.length;i++){
                        var parameterOptionThree = parameterOptionTwo[i].split(":")[0];
                        var parameterOptionFour = parameterOptionTwo[i].split(":")[1];
                        if (parameterOptionThree=="机器要求"){
                            machineRequirementsOne = parameterOptionFour;
                        }if (parameterOptionThree=="电脑配置"){
                            computerConfigurationOne = parameterOptionFour;
                        }if (parameterOptionThree=="刀具大小"){
                            toolSizeOne = parameterOptionFour;
                        }if (parameterOptionThree=="每小时产量"){
                            hourlyProductionOne = parameterOptionFour;
                        }if (parameterOptionThree=="加工工序"){
                            processingProcedureOne = parameterOptionFour;
                        }if (parameterOptionThree=="夹具要求"){
                            fixtureRequirementsOne = parameterOptionFour;
                        }if (parameterOptionThree=="产品形状"){
                            productShapeOne = parameterOptionFour;
                        }if (parameterOptionThree=="产品尺寸"){
                            productSizeOne = parameterOptionFour;
                        }if (parameterOptionThree=="其他要求"){
                            otherRequirementsOne = parameterOptionFour;
                        }
                    }
                    febs.modal.open('订单配置选择列表', 'sale/specificationList/', {
                        area:["30%","65%"],
                        btn: ['保存', '关闭'],
                        data:{
                            machineRequirementsOne:machineRequirementsOne,
                            computerConfigurationOne:computerConfigurationOne,
                            toolSizeOne:toolSizeOne,
                            hourlyProductionOne:hourlyProductionOne,
                            processingProcedureOne:processingProcedureOne,
                            fixtureRequirementsOne:fixtureRequirementsOne,
                            productShapeOne:productShapeOne,
                            productSizeOne:productSizeOne,
                            otherRequirementsOne:otherRequirementsOne
                        },
                        yes: function (index, layero) {
                            let dataOne = new Array();
                            let dataBak = [];

                            let tableDas = layui.table.cache["saleOrder-table"];
                           /* 机器要求*/
                            let machineRequirements = document.getElementById("machineRequirements").value;
                            /*电脑配置*/
                            let computerConfiguration = document.getElementById("computerConfiguration").value;
                           /* 刀具大小*/
                            let toolSize = document.getElementById("toolSize").value;
                            /*每小时产量*/
                            var hourlyProduction = document.getElementById("hourlyProduction").value;
                           /* 加工工序*/
                            var processingProcedure = document.getElementById("processingProcedure").value;
                           /* 夹具要求*/
                            var fixtureRequirements = document.getElementById("fixtureRequirements").value;
                            /*产品形状*/
                            var productShape = document.getElementById("productShape").value;
                            /*产品尺寸*/
                            var productSize = document.getElementById("productSize").value;
                           /* 其他要求*/
                            var otherRequirements = document.getElementById("otherRequirements").value;
                            if (machineRequirements !=""){
                                dataOne.push("机器要求:"+machineRequirements);
                            }if (computerConfiguration !=""){
                            dataOne.push("电脑配置:"+computerConfiguration);
                            }if (toolSize !=""){
                                dataOne.push("刀具大小:"+toolSize);
                            }if (hourlyProduction !=""){
                                dataOne.push("每小时产量:"+hourlyProduction);
                            }if (processingProcedure !=""){
                                dataOne.push("加工工序:"+processingProcedure);
                            }if (fixtureRequirements !=""){
                                dataOne.push("夹具要求:"+fixtureRequirements);
                            }if (productShape !=""){
                                dataOne.push("产品形状:"+productShape);
                            }if (productSize !=""){
                                dataOne.push("产品尺寸:"+productSize);
                            }if (otherRequirements !=""){
                                dataOne.push("其他要求:"+otherRequirements);
                            }
                            var tableData;
                            var rowIndex = $(obj.tr).attr('data-index');//当前行的索引
                            for (i=0;i<tableDas.length;i++){
                                if (tableDas[rowIndex].productName == tableDas[i].productName && tableDas[rowIndex].parameterOption==tableDas[i].parameterOption){
                                    tableData = {"id":tableDas[i].id,"productName":tableDas[i].productName,"specificationModel":tableDas[i].specificationModel,"parameterOption":dataOne,"companyName":tableDas[i].companyName,"quantityName":tableDas[i].quantityName,"explainName":tableDas[i].explainName};
                                }else{
                                    tableData = {"id":tableDas[i].id,"productName":tableDas[i].productName,"specificationModel":tableDas[i].specificationModel,"parameterOption":tableDas[i].parameterOption,"companyName":tableDas[i].companyName,"quantityName":tableDas[i].quantityName,"explainName":tableDas[i].explainName};
                                }
                                dataBak.push(tableData);
                            }
                            layui.table.reload('saleOrder-table',{
                                data:dataBak
                            });
                            parent.layer.close(layer.index)
                        },
                        btn2: function () {
                            parent.layer.close(layer.index)
                        }
                    });
                }
                /*febs.modal.view('订单配置选择列表', 'sale/specificationList/', {
                    area:["30%","65%"]
                });*/
            }
        });
        form.on('submit(saleOrderAdd-add-form-submit)', function (data) {
           var dataBak = [];
           var tableBak = layui.table.cache['saleOrder-table'];
           console.log(tableBak);
           for (var i=0;i<tableBak.length; i++){
               dataBak.push(tableBak[i]);
           }
           dataBak.push({
               "productName":"",
               "specificationModel":"",
               "configureName":"",
               "companyName":"",
               "quantityName":"",
               "unitPrice":"",
               "amountMoney":"",
               "deliveryDate":deliveryDateTo,
               "orderRemarks":"",
           });
           console.log(dataBak);
           layui.table.reload('saleOrder-table',{
               data:dataBak
           });
            return false;

        });

        $("#deletePicBtn").click(function () {
            var contFile = document.getElementById("span-img").innerText;
            if(contFile == ""){
                return layer.msg('您还没有上传文件！');
            }else {
                $.ajax({
                    url: '/saleDocumentFile/deleteFile',
                    data: {contFile: contFile},
                    success : function(res) {
                        //如果上传失败
                       if(res.code >0){
                            return layer.msg('删除失败');
                        }else {
                           $('#span-img').html("");
                            return layer.msg('删除成功');
                        }
                    }
                });
            }

        });

    });
    function saleCustomerProfileSelection(){
        layui.use(['febs', 'form', 'validate', 'xmSelect'], function () {
            let $ = layui.$,
                febs = layui.febs;

            febs.modal.open('客户选择列表', 'sale/saleCustomerProfileSelection', {
                area:["75%","70%"],
                yes: function (index, layero) {
                }

            });
        });
    }
</script>
