<style>
    #febs-saleOrder xm-select {
        min-height: 30px;
        line-height: 30px;
    }
    #febs-saleOrder xm-select > .xm-label .scroll .label-content {
        display: flex;
        padding: 0 30px 0 10px;
    }
    .layui-form-item .layui-input-inline {
        width: 160px;
    }
</style>
<div class="layui-fluid layui-anim febs-anim" id="febs-saleOrder" lay-title="销售订单">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="parameter-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md12">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">状态</label>
                                        <div class="layui-input-inline" style="width: 100px">
                                            <select name="parameterState">
                                                <option value="">全部</option>
                                                <option value="1">登记</option>
                                                <option value="2">确认</option>
                                                <option value="3">审核</option>
                                                <option value="4">核准</option>
                                                <option value="5">生产回复</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label ">日期</label>
                                        <div class="layui-input-inline" >
                                            <input type="text" name="signedTime" id="signedTime" class="layui-input createTime">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">销售客户</label>
                                        <div class="layui-input-inline" style="width: 110px">
                                            <input type="text" name="customerName" id="customerName" lay-verify="required" ondblclick="dblclickCustomerName()"
                                                   autocomplete="off" class="layui-input" style="width: 110px" >
                                        </div>
                                    </div>
                                    <div class="layui-inline" >
                                        <label class="layui-form-label layui-form-label-sm">业务员</label>
                                        <div class="layui-input-inline" style="width: 90px">
                                            <select id="personnelName"  name="personnelName" lay-verify="required" class="layui-form-select" >
                                                <option value="" >全部</option>
                                                <option th:each="saleBusiness:${saleBusiness}" th:value="${saleBusiness.personnelName}">[[${saleBusiness.personnelName}]]</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-inline" >
                                        <label class="layui-form-label layui-form-label-sm">售后员</label>
                                        <div class="layui-input-inline" style="width: 90px">
                                            <select id="personnelName1"  name="personnelName" lay-verify="required" class="layui-form-select" >
                                                <option value="" >全部</option>
                                                <option th:each="saleBusiness:${saleBusiness}" th:value="${saleBusiness.personnelName}">[[${saleBusiness.personnelName}]]</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-inline" >
                                        <label class="layui-form-label layui-form-label-sm" >单号</label>
                                        <div class="layui-input-inline" style="width: 80px">
                                            <input type="text" name="customerFullName" autocomplete="off" style="width: 110px" class="layui-input" >
                                        </div>
                                    </div>
                                    <div class="layui-inline" >
                                        <label class="layui-form-label layui-form-label-sm" >物料名称</label>
                                        <div class="layui-input-inline" style="width: 100px">
                                            <input type="text" name="customerAbbreviation" autocomplete="off" style="width: 100px" class="layui-input" >
                                        </div>
                                    </div>
                                    <div class="layui-inline" >
                                        <label class="layui-form-label layui-form-label-sm" >规格型号</label>
                                        <div class="layui-input-inline" style="width: 110px">
                                            <input type="text" name="customerCode" autocomplete="off" style="width: 110px" class="layui-input" >
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">币种</label>
                                        <div class="layui-input-inline" style="width: 100px">
                                            <select name="parameterState">
                                                <option value="">全部</option>
                                                <option value="1">人民币</option>
                                                <option value="2">美元</option>
                                                <option value="3">欧元</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="saleOrderTable" lay-data="{id: 'saleOrderTable'}"></table>
                    <div class="layui-col-md8">
                        <div class="layui-form-item"></div>
                    </div>
                    <div class="layui-col-md4 layui-col-sm12 layui-col-xs12 table-action-area">
                        <!--搜索按钮-->
                        <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action" id="query">
                            <i class="layui-icon">&#xe848;</i>搜索
                        </div>
                        <!-- 刷新表格按钮-->
                        <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-green-plain table-action" id="reset">
                            <i class="layui-icon">&#xe79b;</i>刷新
                        </div>
                        <!--添加按钮-->
                        <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action "shiro:hasAnyPermissions="saleApplication:add" id="addTo">
                            <i class="layui-icon">&#xe78a;</i>新增
                        </div>
                        <!--删除按钮-->
                        <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action "shiro:hasAnyPermissions="saleApplication:delete" id="deleteTo">
                            <i class="layui-icon">&#xe8a1;</i>删除
                        </div>
                        <!--修改按钮-->
                        <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action "
                             shiro:hasAnyPermissions="saleApplication:update" id="updateTo">
                            <i class="layui-icon">&#xe642;</i>修改
                        </div>
                        <!--修改按钮-->
                        <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action"
                             shiro:hasAnyPermissions="saleApplication:export" id="exportTo">
                            <i class="layui-icon">&#xe7a8;</i>导出
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="salary-gender">
    {{#
    let gender = {
    1: {title: '男'},
    2: {title: '女'}
    }[d.gender];
    }}
    <span>{{ gender.title }}</span>
</script>
<script type="text/html" id="salary_salaryState">
    {{#
    let salaryState = {
    1: {title: '上调', color: 'green'},
    2: {title: '下调', color: 'red'}
    }[d.salaryState];
    }}
    <span class="layui-badge febs-bg-{{salaryState.color}}">{{ salaryState.title }}</span>
</script>
<script type="text/html" id="parameter-option">
    <span shiro:lacksPermission="personnelSalaryChange:list,personnelSalaryChange:update,personnelSalaryChange:delete">
        <span class="layui-badge-dot febs-bg-orange"></span> 无权限
    </span>
    <a lay-event="edit" shiro:hasPermission="personnelSalaryChange:update"><i
            class="layui-icon febs-edit-area febs-blue">&#xe7a4;</i></a>
    <a lay-event="del" shiro:hasPermission="personnelSalaryChange:delete"><i class="layui-icon febs-edit-area febs-red">&#xe7f9;</i></a>
</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdownMenu', 'jquery', 'laydate', 'form', 'table', 'febs', 'xmSelect'], function () {
        let $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            dropdownMenu = layui.dropdownMenu,
            $view = $('#febs-saleOrder'),
            $query = $view.find('#query'),
            $addTo = $view.find('#addTo'),
            $deleteTo = $view.find('#deleteTo'),
            $exportTo = $view.find('#exportTo'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'createDate', type: null},
            tableIns;

        form.render();

        initTable();

        //日期同时绑定多个
        lay('.createTime').each(function(){
            laydate.render({
                elem: this,
                range: true,
                trigger: 'click'
            });
        })
        dropdownMenu.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                let checkStatus = table.checkStatus('saleOrderTable');
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        febs.alert.warn('请选择需要删除的数据');
                    } else {
                        febs.modal.confirm('删除领取记录信息', '确定删除？', function () {
                            let ids = [];
                            layui.each(checkStatus.data, function (key, item) {
                                ids.push(item.id)
                            });
                            deletePersonnelSalaryChange(ids.join(','));
                        });
                    }
                }
            },
            options: [{
                name: 'add',
                title: '新增',
                perms: 'personnelSalaryChange:add'
            }, {
                name: 'delete',
                title: '删除',
                perms: 'personnelSalaryChange:delete'
            }]
        });
        table.on('tool(saleOrderTable)', function (obj) {
            let data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'del') {
                febs.modal.confirm('删除领取记录信息', '确定删除？', function () {
                   deletePersonnelSalaryChange(data.id);
                });
            }
            if (layEvent === 'edit') {
                febs.modal.open('修改领取记录信息', 'personnel/personnelSalaryChange/update/' + data.contractId, {
                    area: $(window).width() <= 750 ? '90%' : '30%',
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#personnelSalaryChange-update').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }
        });

        table.on('sort(saleOrderTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });

        $query.on('click', function () {
            let params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
            tableIns.reload({where: getQueryParams(), page: {curr: 1}});
        });
        $addTo.on('click', function () {
            febs.modal.open('新增员工调薪记录', 'personnel/personnelSalaryChange/add', {
                type:1,
                btn: ['提交', '重置'],
                area: $(window).width() <= 750 ? '95%' : '40%',
                yes: function (index, layero) {
                    $('#personnelSalaryChange-add').find('#submit').trigger('click');
                },
                btn2: function () {
                    $('#personnelSalaryChange-add').find('#reset').trigger('click');
                    $("#mobilityUserId").attr("value","");
                    $("#mobilityGender").attr("value","");
                    $("#mobilityJobNumber").attr("value","");
                    $("#mobilityUserName").attr("value","");
                    $("#mobilityEntryTime").attr("value","");
                    $("#mobilityDepartmentName").attr("value","");
                    $("#mobilityPositionName").attr("value","");
                    $("#mobilityGroupingName").attr("value","");
                    return false;
                }
            });
        });
        $deleteTo.on('click', function () {
            let checkStatus = table.checkStatus('saleOrderTable');
            if (!checkStatus.data.length) {
                febs.alert.warn('请选择需要删除的数据');
            } else {
                febs.modal.confirm('删除参数信息', '确定删除？', function () {
                    let ids = [];
                    layui.each(checkStatus.data, function (key, item) {
                        ids.push(item.id)
                    });
                    deletePersonnelSalaryChange(ids.join(','));
                });
            }
        });
        $exportTo.on('click', function () {
            let params = getQueryParams();
            params.pageSize = $view.find(".layui-laypage-limits option:selected").val();
            params.pageNum = $view.find(".layui-laypage-em").next().html();
            febs.download(ctx + 'personnelSalaryChange/excel', params, '员工合同表.xlsx');
        });
        function initTable() {
            tableIns = febs.table.init({
                elem: $view.find('table'),
                id: 'saleOrderTable',
                url: ctx + 'saleOrder/list',
                cols: [[
                    {type: 'checkbox'},
                    {field:'number',title:'序号', minWidth: 30,align:'center',templet:function (d) {
                            return d.LAY_INDEX;}},
                    {field: 'id', title: '编号',hide:true,sort: true},
                   //{field: 'state', title: '状态',hide:true,sort: true},
                    {field: 'orderDate', title: '日期',align:'center',templet:'<div>{{ layui.util.toDateString(d.requestedDeliveryDate, "yyyy-MM-dd") }}</div>', minWidth: 115},
                    {field: 'oddNumbers', title: '订单号',align:'center', minWidth: 100},
                    {field: 'orderType', title: '订单类型',align:'center', minWidth: 100},
                    {field: 'customerName', title: '客户',align:'center', minWidth: 100},
                    {field: 'salesmanName', title: '业务员',align:'center', minWidth: 100},
                    {field: 'afterSalesClerk', title: '售后员',align:'center', minWidth: 100},
                    {field: 'productName', title: '产品名称', minWidth: 100},
                    {field: 'specificationModel', title: '规格型号', minWidth: 100},
                    {field: 'configureName', title: '配置', minWidth: 100},
                    {field: 'companyName', title: '单位', minWidth: 100,align:'center'},
                    {field: 'quantityName', title: '数量', minWidth: 100,align:'center'},
                    //{field: 'quantityName1', title: '发货数量', minWidth: 55,align:'center'},
                    {field: 'unitPrice', title: '单价', minWidth: 100,align:'center'},
                    {field: 'amountMoney', title: '金额', minWidth: 100,align:'center'},
                    {field: 'currencyName', title: '币种', minWidth: 100,align:'center'},
                    {field: 'enclosureName', title: '附件', minWidth: 100,align:'center'},
                    {field: 'contactsName', title: '联系人', minWidth: 100,align:'center'},
                    //{field: 'quantityName3', title: '联系电话', minWidth: 55,align:'center'},
                    {field: 'paymentMethod', title: '付款方式', minWidth: 100,align:'center'},
                   // {field: 'requestedDeliveryDate1', title: '生产交期',align:'center',templet:'<div>{{ layui.util.toDateString(d.requestedDeliveryDate, "yyyy-MM-dd") }}</div>', minWidth: 115},
                    {field: 'deliveryDate', title: '交货日期',align:'center',templet:'<div>{{ layui.util.toDateString(d.requestedDeliveryDate, "yyyy-MM-dd") }}</div>', minWidth: 115}
                   // {field: 'quantityName', title: '核销状态', minWidth: 55,align:'center'},
                   // {field: 'quantityName', title: '产品编码', minWidth: 55,align:'center'}
                ]]
            });
        }

        function getQueryParams() {
            let params = $searchForm.serializeJson();
            params.invalidate_ie_cache = new Date();
            return params;
        }


        function deletePersonnelSalaryChange(ids) {
            febs.get(ctx + 'personnelSalaryChange/delete/' + ids, null, function () {
                febs.alert.success('删除调薪记录成功');
                $query.click();
            });
        }

    })

</script>