<style>
    #saleProductUpdate-list xm-select {
        min-height: 30px;
        line-height: 30px;
    }
    #saleProductUpdate-list xm-select > .xm-label .scroll .label-content {
        display: flex;
        padding: 0 30px 0 10px;
    }
    .layui-form-item .layui-input-inline {
        width: 160px;
    }
</style>
<div class="layui-fluid layui-anim febs-anim" id="saleProductUpdate-list" lay-title="产品信息">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="parameter-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline" >
                                        <label class="layui-form-label layui-form-label-sm">产品名称</label>
                                        <div class="layui-input-inline" style="width: 100px">
                                            <input type="text" name="productName" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline" >
                                        <label class="layui-form-label layui-form-label-sm">规格型号</label>
                                        <div class="layui-input-inline" style="width: 100px">
                                            <input type="text" name="productSpecificationModel" autocomplete="off" class="layui-input">
                                        </div>
                                    </div> <div class="layui-inline" >
                                        <label class="layui-form-label layui-form-label-sm">名称简拼</label>
                                        <div class="layui-input-inline" style="width: 100px">
                                            <input type="text" name="productNameAbbreviation" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">小类</label>
                                        <div class="layui-input-inline" style="width: 90px">
                                            <select name="productSubclassId">
                                                <option value="">全部</option>
                                                <option value="1">整机</option>
                                                <option value="2">配件</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <!--搜索按钮-->
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>查询
                                </div>
                                <!--添加按钮-->
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action " id="addTo">
                                    <i class="layui-icon">&#xe78a;</i>确定
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="saleOrderProductUpdateTable" id="saleOrderProductUpdateTable" lay-data="{id: 'saleOrderProductUpdateTable'}"></table>
                    <br>
                    <table lay-filter="saleOrderProductUpdate-table" id="saleOrderProductUpdate-table" lay-data="{id: 'saleOrderProductUpdate-table'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="parameter-option">
    <span shiro:lacksPermission="saleProduct:list,saleProduct:update,saleProduct:delete">
        <span class="layui-badge-dot febs-bg-orange"></span> 无权限
    </span>
    <a lay-event="edit" shiro:hasPermission="saleProduct:update"><i
            class="layui-icon febs-edit-area febs-blue">&#xe7a4;</i></a>
    <a lay-event="del" shiro:hasPermission="saleProduct:delete"><i class="layui-icon febs-edit-area febs-red">&#xe7f9;</i></a>
</script>

 <script type="text/html" id="zizeng">
         {{d.LAY_TABLE_INDEX+1}}
 </script>
<script langguage="JavaScript">
    var deliveryDateTo = new Date().getFullYear() + '-' + (new Date().getMonth() + 1) + '-' + new Date().getDate();
</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdownMenu', 'jquery', 'laydate', 'form', 'table', 'febs', 'xmSelect'], function () {
        let $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            dropdownMenu = layui.dropdownMenu,
            $view = $('#saleProductUpdate-list'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $addTo = $view.find('#addTo'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'createDate', type: null},
            tableIns;

        form.render();

        initTable();

        //日期同时绑定多个
        lay('.createTime').each(function(){
            laydate.render({
                elem: this,
                range: true,
                trigger: 'click'
            });
        })
        dropdownMenu.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                let checkStatus = table.checkStatus('saleOrderProductUpdateTable');
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        febs.alert.warn('请选择需要删除的数据');
                    } else {
                        febs.modal.confirm('删除领取记录信息', '确定删除？', function () {
                            let ids = [];
                            layui.each(checkStatus.data, function (key, item) {
                                ids.push(item.id)
                            });
                            deleteSaleProduct(ids.join(','));
                        });
                    }
                }
            },
            options: []
        });
        table.on('tool(saleOrderProductUpdateTable)', function (obj) {
            let data = obj.data,
                layEvent = obj.event;

        });

        table.on('sort(saleOrderProductUpdateTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });
        table.on('rowDouble(saleOrderProductUpdateTable)', function (obj) {
             var data = obj.data;
             var productName = data.productName;
             var specificationModel = data.productSpecificationModel;
             var productMeteringCompany = data.productMeteringCompany;
             var productRemarks = data.productRemarks;
             var oldData =  table.cache["saleOrderProductUpdate-table"];
             var dataOne={"productNames":productName,"productSpecificationModels":specificationModel,"purchaseParametersName":productMeteringCompany,"productRemark":productRemarks};
             oldData.push(dataOne);
             layui.table.reload('saleOrderProductUpdate-table',{
                data : oldData
            });
        });
        var tableData=new Array(); // 用于存放表格数据
        $query.on('click', function () {
            let params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });
        $addTo.on('click', function () {
                    var parameterConfigures= new Array();
                    var oldDatas;
                    var parameterProductNameOne = document.getElementById("parameterProductName");//获取产品名称
                    var parameterProductNameTwo =  parameterProductNameOne.value;
                    var parameterConfigure = document.getElementById("parameterConfigure");//获取配置
                    var parameterConfigureTo = parameterConfigure.value;
                    var parameterCompany = document.getElementById("parameterCompany");//获取单位
                    var parameterQuantity = document.getElementById("parameterQuantity");//获取数量
                    var parameterUnitPrice = document.getElementById("parameterUnitPrice");//获取单价
                    var parameterAmountMoney = document.getElementById("parameterAmountMoney");//获取金额
                    var parameterExplain = document.getElementById("parameterExplain");//获取备注
                    dataDel =  table.cache["saleOrderUpdate-table"];
                    var dateList = [];//存储未选中的数据
                    //循环表格数据
                    for (var i in dataDel) {
                        //判断未选中数据
                        if (!dataDel[i].LAY_CHECKED) {
                            //存入数组
                            dateList.push(dataDel[i]);
                        }
                    }
                    //重载表格
                    table.reload('saleOrderUpdate-table', {
                        data: dateList
                    });
                    var oldData =  table.cache["saleOrderProductUpdate-table"];
                    var dataOneAdd;
                    oldDatas =  table.cache["saleOrderUpdate-table"];
                    for (i=0;i<oldData.length;i++){
                        if (parameterProductNameTwo != null && parameterProductNameTwo  != "" && i < 1){
                             dataOneAdd={"productName":oldData[i].productNames,"specificationModel":oldData[i].productSpecificationModels,"configureName":parameterConfigureTo,"companyName":oldData[i].purchaseParametersName,"quantityName":parameterQuantity.value,"unitPrice":parameterUnitPrice.value,"amountMoney":parameterAmountMoney.value,"orderRemarks":parameterExplain.value,"deliveryTime":deliveryDateTo};
                        }else {
                             dataOneAdd={"productName":oldData[i].productNames,"specificationModel":oldData[i].productSpecificationModels,"configureName":parameterConfigureTo,"companyName":oldData[i].purchaseParametersName,"quantityName":0,"unitPrice":0,"amountMoney":null,"orderRemarks":parameterExplain.value,"deliveryTime":deliveryDateTo};
                        }
                        oldDatas.push(dataOneAdd);
                    }
                    layui.table.reload('saleOrderUpdate-table',{
                        data : oldDatas
                    });
                    parent.layer.close(layer.index)
        });
        $reset.on('click', function () {
            $searchForm[0].reset();
            tableIns.reload({where: getQueryParams(), page: {curr: 1}});
        });

        function initTable() {
            tableIns = febs.table.init({
                elem: '#saleOrderProductUpdateTable',
                id: 'saleOrderProductUpdateTable',
                url: ctx + 'technologyProduct/list',
                cols: [
                    [
                    {type: 'checkbox'},
                    {field: 'productName', title: '产品名称',sort: true},
                    {field: 'productSpecificationModel', title: '规格型号',align:'center', minWidth: 100},
                    {field: 'productMeteringCompany',title: '计量单位',align:'center', minWidth: 100, hide:true},
                    {field: 'productRemarks', title: '备注',align:'center', minWidth: 80}
                 ]
                ]
            });
        };
         table.render({
                elem:'#saleOrderProductUpdate-table',
                data:tableData,
                cols: [[
                    {type: 'checkbox'},
                    {field: 'productNames', title: '产品名称',sort: true},
                    {field: 'productSpecificationModels', title: '规格型号',align:'center', minWidth: 100},
                    {field: 'purchaseParametersName',title: '计量单位',align:'center', minWidth: 100, hide:true},
                    {field: 'productRemark', title: '备注',align:'center', minWidth: 80}
                ]]
            });
        table.on('rowDouble(saleOrderProductUpdate-table)', function (obj) {
            var data = obj.data;
            var oldData =  table.cache["saleOrderProductUpdate-table"];
            if (obj.tr.data('index') != -1) {
                oldData.splice(obj.tr.data('index'), 1)//根据索引删除当前行
                layui.table.reload('saleOrderProductUpdate-table',{
                    data: oldData
                });
            }
        });
        function getQueryParams() {
            let params = $searchForm.serializeJson();
            params.invalidate_ie_cache = new Date();
            return params;
        };



    });
</script>