<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.personnel.mapper.PersonnelDormitoryMapper">


    <sql id="countPersonnelDormitorysSql" >
        SELECT
        COUNT( 1 )
        FROM
        jr_personnel_dormitory pd
        WHERE
        1 = 1
        <if test="personnelDormitory.dormitoryNo != null and personnelDormitory.dormitoryNo != ''">
            AND pd.dormitory_no = #{personnelDormitory.dormitoryNo}
        </if>
        <if test="personnelDormitory.dormitoryPlace != null and personnelDormitory.dormitoryPlace != ''">
            AND pd.dormitory_place = #{personnelDormitory.dormitoryPlace}
        </if>
        <if test="personnelDormitory.dormitoryState != null and personnelDormitory.dormitoryState != ''">
            AND pd.dormitory_state = #{personnelDormitory.dormitoryState}
        </if>
    </sql>
    <sql id="findPersonnelDormitorysSql" >
        SELECT
            pd.id,
            pd.dormitory_no dormitoryNo,
            pd.dormitory_place dormitoryPlace,
            pd.reside_nnt resideNnt,
            pd.present_nnt presentNnt,
            pd.dormitory_administrators dormitoryAdministrators,
            pd.create_date createDate,
            pd.dormitory_state dormitoryState
        FROM
            jr_personnel_dormitory pd
        WHERE
            1 = 1
        <if test="personnelDormitory.dormitoryNo != null and personnelDormitory.dormitoryNo != ''">
            AND pd.dormitory_no = #{personnelDormitory.dormitoryNo}
        </if>
        <if test="personnelDormitory.dormitoryPlace != null and personnelDormitory.dormitoryPlace != ''">
            AND pd.dormitory_place = #{personnelDormitory.dormitoryPlace}
        </if>
        <if test="personnelDormitory.dormitoryState != null and personnelDormitory.dormitoryState != ''">
            AND pd.dormitory_state = #{personnelDormitory.dormitoryState}
        </if>
        GROUP BY pd.dormitory_place,pd.dormitory_no
    </sql>

    <select id="countPersonnelDormitorys" parameterType="com.erp.personnel.entity.PersonnelDormitory" resultType="long">
        <include refid="countPersonnelDormitorysSql"/>
    </select>

    <select id="findPersonnelDormitorysPage" parameterType="com.erp.personnel.entity.PersonnelDormitory" resultType="com.erp.personnel.entity.PersonnelDormitory">
        <include refid="findPersonnelDormitorysSql"/>
    </select>
</mapper>
