<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.personnel.mapper.PersonnelSalaryChangeMapper">

    <sql id="countPersonnelSalaryChangeSql" >
        SELECT
            COUNT( 1 )
        FROM
            jr_personnel_salary_change psc
        WHERE
            1 = 1
        <if test="personnelSalaryChange.jobNumber != null and personnelSalaryChange.jobNumber != ''">
            AND psc.job_number = #{personnelSalaryChange.jobNumber}
        </if>
        <if test="personnelSalaryChange.userName != null and personnelSalaryChange.userName != ''">
            AND psc.user_name = #{personnelSalaryChange.userName}
        </if>
        <if test="personnelSalaryChange.salaryState != null and personnelSalaryChange.salaryState != ''">
            AND psc.salary_state = #{personnelSalaryChange.salaryState}
        </if>
    </sql>

    <sql id="findPersonnelSalaryChangeSql">
        SELECT
            psc.id,
            psc.user_id userId,
            psc.job_number jobNumber,
            psc.user_name userName,
            psc.gender,
            psc.department_name departmentName,
            psc.position_name positionName,
            psc.grouping_name groupingName,
            psc.adjustment_base adjustmentBase,
            psc.entry_time entryTime,
            psc.adjustment_data adjustmentData,
            psc.create_date createDate,
            psc.salary_state salaryState
        FROM
            jr_personnel_salary_change psc
        WHERE
            1 = 1
        <if test="personnelSalaryChange.jobNumber != null and personnelSalaryChange.jobNumber != ''">
            AND psc.job_number = #{personnelSalaryChange.jobNumber}
        </if>
        <if test="personnelSalaryChange.userName != null and personnelSalaryChange.userName != ''">
            AND psc.user_name = #{personnelSalaryChange.userName}
        </if>
        <if test="personnelSalaryChange.salaryState != null and personnelSalaryChange.salaryState != ''">
            AND psc.salary_state = #{personnelSalaryChange.salaryState}
        </if>
    </sql>

    <select id="countPersonnelSalaryChange" parameterType="com.erp.personnel.entity.PersonnelSalaryChange" resultType="long">
        <include refid="countPersonnelSalaryChangeSql"/>
    </select>

    <select id="findPersonnelSalaryChangePage" parameterType="com.erp.personnel.entity.PersonnelSalaryChange" resultType="com.erp.personnel.entity.PersonnelSalaryChange">
        <include refid="findPersonnelSalaryChangeSql"/>
    </select>


    <select id="countPersonnelSalaryChangeUser" parameterType="String" resultType="long">
        SELECT
            COUNT( 1 )
        FROM
            jr_personnel_salary_change psc
        WHERE
            psc.user_id = #{userId}
    </select>

    <select id="findPersonnelSalaryChangeUserPage" parameterType="String" resultType="com.erp.personnel.entity.PersonnelSalaryChange">
        SELECT
            psc.id,
            psc.user_id userId,
            psc.job_number jobNumber,
            psc.user_name userName,
            psc.gender,
            psc.department_name departmentName,
            psc.position_name positionName,
            psc.grouping_name groupingName,
            psc.adjustment_base adjustmentBase,
            psc.entry_time entryTime,
            psc.adjustment_data adjustmentData,
            psc.create_date createDate,
            psc.salary_state salaryState
        FROM
            jr_personnel_salary_change psc
        WHERE
            psc.user_id = #{userId}

    </select>

</mapper>
