<style>
    #personnelSalaryChange-add {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="personnelSalaryChange-add">
    <form class="layui-form" action="" lay-filter="personnelSalaryChange-add-form">
        <input type="hidden" name="userId" id="mobilityUserId"
               autocomplete="off" class="layui-input" readonly>
        <input type="hidden" name="gender" id="mobilityGender"
               autocomplete="off" class="layui-input" readonly>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require" >员工工号:</label>
            <div class="layui-input-inline">
                <input type="text" name="jobNumber" id="mobilityJobNumber" ondblclick="dblclickt()"
                       autocomplete="off" class="layui-input" placeholder="请输入员工工号" readonly>
            </div>

            <label class="layui-form-label febs-form-item-require" >员工姓名:</label>
            <div class="layui-input-inline">
                <input type="text" name="userName" id="mobilityUserName"
                       autocomplete="off" class="layui-input" placeholder="员工姓名" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">入职日期</label>
            <div class="layui-input-inline">
                <input type="text" name="entryTime" readonly id="mobilityEntryTime" placeholder="入职日期" class="layui-input">
            </div>
            <label class="layui-form-label febs-form-item-require" >员工部门:</label>
            <div class="layui-input-inline">
                <input type="text" name="departmentName" id="mobilityDepartmentName"
                       autocomplete="off" class="layui-input" placeholder="员工部门" readonly>
            </div>
        </div>
        <div class="layui-form-item">

            <label class="layui-form-label febs-form-item-require" >员工岗位:</label>
            <div class="layui-input-inline">
                <input type="text" name="positionName" id="mobilityPositionName"
                       autocomplete="off" class="layui-input" placeholder="员工岗位" readonly>
            </div>
            <label class="layui-form-label febs-form-item-require" >员工职务:</label>
            <div class="layui-input-inline">
                <input type="text" name="groupingName" id="mobilityGroupingName"
                       autocomplete="off" class="layui-input" placeholder="员工职务" readonly>
            </div>
        </div>
        <br>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require" >生效日期:</label>
            <div class="layui-input-inline">
                <input type="text" name="adjustmentData" id="adjustmentData"
                       autocomplete="off" class="layui-input createDate" placeholder="生效日期" readonly>
            </div>
            <label class="layui-form-label febs-form-item-require" >调整基数:</label>
            <div class="layui-input-inline">
                <input type="text" name="adjustmentBase" id="adjustmentBase"
                       autocomplete="off" class="layui-input" placeholder="调整基数">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require" >类型:</label>
            <div class="layui-input-inline">
                <select id="salaryState" lay-filter="" name="salaryState">
                    <option value="">请选择</option>
                    <option value="1">上调</option>
                    <option value="2">下调</option>
                </select>
            </div>
        </div>


        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="personnelSalaryChange-add-form-submit" id="submit"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<div id="hidden1" lay-filter="hidden1" style="display: none">
    <table id="department_result" lay-filter="department_result"></table>
</div>

<script>
    layui.use(['febs', 'form', 'validate', 'xmSelect','laydate'], function () {
        let $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            form = layui.form,
            xmSelect = layui.xmSelect,
            laydate = layui.laydate,
            validate = layui.validate;

        form.verify(validate);
        form.render();
        //日期同时绑定多个
        lay('.createDate').each(function(){
            laydate.render({
                elem: this
                ,trigger: 'click'
            });
        })


        form.on('submit(personnelSalaryChange-add-form-submit)', function (data) {
            febs.post(ctx + 'personnelSalaryChange/add', data.field, function () {
                layer.closeAll();
                febs.alert.success('新增调岗记录成功');
                $('#febs-personnelSalaryChange').find('#query').click();
            });
            return false;

        });
    });
    function dblclickt(){
        layui.use(['febs', 'form', 'validate', 'xmSelect'], function () {
            let $ = layui.$,
                febs = layui.febs;

            febs.modal.open('员工档案', 'personnel/employeeFile', {
                area:["75%","90%"],
                yes: function (index, layero) {

                }

            });
        });
    }
</script>