<style>
    #financialParameters-update {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="financialParameters-update">
    <form class="layui-form" action="" lay-filter="financialParameters-update-form">
        <div class="layui-form-item febs-hide">
            <label class="layui-form-label febs-form-item-require">参数id：</label>
            <div class="layui-input-block">
                <input type="text" name="id" data-th-value="${financeParameters.id}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" >参数类别:</label>
            <div class="layui-input-block">
                <select name="financeParameterCategory"  id="financeParameterCategory" lay-filter="financeParameterCategory">
                    <option value="1">报支类别</option>
                    <option value="2">币种</option>
                    <option value="3">调整方式</option>
                    <option value="4">发票类型</option>
                    <option value="5">付款方式</option>
                    <option value="6">付款类型</option>
                    <option value="7">管理费用</option>
                    <option value="8">收款方式</option>
                    <option value="9">收款类型</option>
                    <option value="10">收入类别</option>
                    <option value="11">收支类别</option>
                    <option value="12">税率</option>
                    <option value="13">销售费用</option>
                    <option value="14">制造费用</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require" >参数值:</label>
            <div class="layui-input-block">
                <input type="text" name="financeParameterValue" id="financeParameterValue" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require" >参数名称:</label>
            <div class="layui-input-block">
                <input type="text" name="financeParameterName" id="financeParameterName" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" >排序:</label>
            <div class="layui-input-block">
                <input type="text" name="financeSort" id="financeSort"
                       autocomplete="off" class="layui-input" >
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" >备注:</label>
            <div class="layui-input-block">
                <input type="text" name="financeRemarks" id="financeRemarks"
                       autocomplete="off" class="layui-input" >
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                <select name="financeState">
                    <option value="1">启用</option>
                    <option value="2">禁用</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="financialParameters-update-form-submit" id="submit"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script data-th-inline="javascript">
    layui.use(['febs', 'form', 'validate', 'xmSelect','laydate'], function () {
        let $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            financeParameters = [[${financeParameters}]],
            form = layui.form,
            validate = layui.validate;

        form.verify(validate);
        form.render();

        initFinanceParametersValue();

        function initFinanceParametersValue() {
            form.val("financialParameters-update-form", {
                "financeParameterCategory": financeParameters.financeParameterCategory,
                "financeParameterValue": financeParameters.financeParameterValue,
                "financeParameterName": financeParameters.financeParameterName,
                "financeSort": financeParameters.financeSort,
                "financeRemarks": financeParameters.financeRemarks,
                "financeState": financeParameters.financeState
            });
        }
        form.on('submit(financialParameters-update-form-submit)', function (data) {
            febs.post(ctx + 'financeParameters/update', data.field, function () {
                layer.closeAll();
                febs.alert.success('修改财务参数成功');
                $('#financial-parameters').find('#query').click();
            });
            return false;

        });
    });
</script>