<style>
    #febs-personnelRewardPunish xm-select {
        min-height: 30px;
        line-height: 30px;
    }
    #febs-personnelRewardPunish xm-select > .xm-label .scroll .label-content {
        display: flex;
        padding: 0 30px 0 10px;
    }
    .layui-form-item .layui-input-inline {
        width: 160px;
    }
</style>
<div class="layui-fluid layui-anim febs-anim" id="febs-personnelRewardPunish" lay-title="奖罚记录">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="parameter-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md9">
                                <div class="layui-form-item">
                                    <div class="layui-inline" >
                                        <label class="layui-form-label layui-form-label-sm">工号</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="jobNumber" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline" >
                                        <label class="layui-form-label layui-form-label-sm">姓名</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="userName" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">状态</label>
                                        <div class="layui-input-inline">
                                            <select name="rewardPunishType">
                                                <option value=""></option>
                                                <option value="1">奖励</option>
                                                <option value="2">惩罚</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md3 layui-col-sm12 layui-col-xs12 table-action-area">
                                <!--搜索按钮-->
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>搜索
                                </div>
                               <!-- 刷新表格按钮-->
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-green-plain table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>刷新
                                </div>
                                <!--添加按钮-->
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action "shiro:hasAnyPermissions="personnelRewardPunish:add" id="addTo">
                                    <i class="layui-icon">&#xe78a;</i>添加
                                </div>
                                <!--删除按钮-->
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action "shiro:hasAnyPermissions="personnelRewardPunish:delete" id="deleteTo">
                                    <i class="layui-icon">&#xe8a1;</i>删除
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action action-more"
                                     shiro:hasAnyPermissions="personnelRewardPunish:export" id="exportTo">
                                    <i class="layui-icon">&#xe7a8;</i>导出
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="rewardPunishTable" lay-data="{id: 'rewardPunishTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="rewardPunish-type">
    {{#
    let rewardPunishType = {
    1: {title: '奖励', color: 'green'},
    2: {title: '惩罚', color: 'red'}
    }[d.rewardPunishType];
    }}
    <span class="layui-badge febs-bg-{{rewardPunishType.color}}">{{ rewardPunishType.title }}</span>
</script>
<script type="text/html" id="parameter-option">
    <span shiro:lacksPermission="personnelRewardPunish:list,personnelRewardPunish:update,personnelRewardPunish:delete">
        <span class="layui-badge-dot febs-bg-orange"></span> 无权限
    </span>
    <a lay-event="edit" shiro:hasPermission="personnelRewardPunish:update"><i
            class="layui-icon febs-edit-area febs-blue">&#xe7a4;</i></a>
    <a lay-event="del" shiro:hasPermission="personnelRewardPunish:delete"><i class="layui-icon febs-edit-area febs-red">&#xe7f9;</i></a>
</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdownMenu', 'jquery', 'laydate', 'form', 'table', 'febs', 'xmSelect'], function () {
        let $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            dropdownMenu = layui.dropdownMenu,
            $view = $('#febs-personnelRewardPunish'),
            $query = $view.find('#query'),
            $addTo = $view.find('#addTo'),
            $deleteTo = $view.find('#deleteTo'),
            $exportTo = $view.find('#exportTo'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'createDate', type: null},
            tableIns;

        form.render();

        initTable();

        //日期同时绑定多个
        lay('.createTime').each(function(){
            laydate.render({
                elem: this,
                range: true,
                trigger: 'click'
            });
        })
        dropdownMenu.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                let checkStatus = table.checkStatus('rewardPunishTable');
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        febs.alert.warn('请选择需要删除的数据');
                    } else {
                        febs.modal.confirm('删除领取记录信息', '确定删除？', function () {
                            let ids = [];
                            layui.each(checkStatus.data, function (key, item) {
                                ids.push(item.id)
                            });
                            deletePersonnelRewardPunish(ids.join(','));
                        });
                    }
                }
            },
            options: [{
                name: 'add',
                title: '新增',
                perms: 'personnelRewardPunish:add'
            }, {
                name: 'delete',
                title: '删除',
                perms: 'personnelRewardPunish:delete'
            }]
        });
        table.on('tool(rewardPunishTable)', function (obj) {
            let data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'del') {
                febs.modal.confirm('删除领取记录信息', '确定删除？', function () {
                   deletePersonnelRewardPunish(data.id);
                });
            }
            if (layEvent === 'edit') {
                febs.modal.open('修改领取记录信息', 'personnel/personnelRewardPunish/update/' + data.id, {
                    area: $(window).width() <= 750 ? '90%' : '30%',
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#personnelRewardPunish-update').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }
        });

        table.on('sort(rewardPunishTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });

        $query.on('click', function () {
            let params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
            tableIns.reload({where: getQueryParams(), page: {curr: 1}});
        });
        $addTo.on('click', function () {
            febs.modal.open('新增员工奖罚记录', 'personnel/personnelRewardPunish/add', {
                type:1,
                btn: ['提交', '重置'],
                area: $(window).width() <= 750 ? '95%' : '40%',
                yes: function (index, layero) {
                    $('#personnelRewardPunish-add').find('#submit').trigger('click');
                },
                btn2: function () {
                    $('#personnelRewardPunish-add').find('#reset').trigger('click');
                    $("#mobilityUserId").attr("value","");
                    $("#mobilityJobNumber").attr("value","");
                    $("#mobilityUserName").attr("value","");
                    $("#mobilityEntryTime").attr("value","");
                    $("#mobilityDepartmentName").attr("value","");
                    $("#mobilityPositionName").attr("value","");
                    $("#mobilityGroupingName").attr("value","");
                    return false;
                }
            });
        });
        $deleteTo.on('click', function () {
            let checkStatus = table.checkStatus('rewardPunishTable');
            if (!checkStatus.data.length) {
                febs.alert.warn('请选择需要删除的数据');
            } else {
                febs.modal.confirm('删除参数信息', '确定删除？', function () {
                    let ids = [];
                    layui.each(checkStatus.data, function (key, item) {
                        ids.push(item.id)
                    });
                    deletePersonnelRewardPunish(ids.join(','));
                });
            }
        });
        $exportTo.on('click', function () {
            let params = getQueryParams();
            params.pageSize = $view.find(".layui-laypage-limits option:selected").val();
            params.pageNum = $view.find(".layui-laypage-em").next().html();
            febs.download(ctx + 'personnelRewardPunish/excel', params, '员工合同表.xlsx');
        });
        function initTable() {
            tableIns = febs.table.init({
                elem: $view.find('table'),
                id: 'rewardPunishTable',
                url: ctx + 'personnelRewardPunish/list',
                cols: [[
                    {type: 'checkbox'},
                    {field:'number',title:'序列号',align:'center',width:80,templet:function (d) {
                                        return d.LAY_INDEX;}},
                    {field: 'id', title: '编号',hide:true,sort: true},
                    {field: 'jobNumber', title: '工号',align:'center', minWidth: 80},
                    {field: 'userName', title: '姓名',align:'center', minWidth: 80},
                    {field: 'departmentName', title: '部门',align:'center', minWidth: 80},
                    {field: 'positionName', title: '岗位', align:'center',minWidth: 80},
                    {field: 'groupingName', title: '职位',align:'center', minWidth: 80},
                    {field: 'magnitude', title: '奖罚数(单位：元)',align:'center', minWidth: 140},
                    {field: 'rewardPunishExplain', title: '原因', minWidth: 100},
                    {field: 'rewardPunishDate', title: '奖罚日期',align:'center',templet:'<div>{{ layui.util.toDateString(d.rewardPunishDate, "yyyy-MM-dd HH:mm:ss") }}</div>', minWidth: 170, sort: true},
                    {title: '类型', templet: '#rewardPunish-type',align:'center', minWidth: 100}
                ]]
            });
        }

        function getQueryParams() {
            let params = $searchForm.serializeJson();
            params.invalidate_ie_cache = new Date();
            return params;
        }


        function deletePersonnelRewardPunish(ids) {
            febs.get(ctx + 'personnelRewardPunish/delete/' + ids, null, function () {
                febs.alert.success('删除奖罚记录成功');
                $query.click();
            });
        }

    })

</script>