<style>
    #personnelRewardPunish-add {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="personnelRewardPunish-add">
    <form class="layui-form" action="" lay-filter="personnelRewardPunish-add-form">
        <input type="hidden" name="userId" id="mobilityUserId"
               autocomplete="off" class="layui-input" readonly>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require" >员工工号:</label>
            <div class="layui-input-inline">
                <input type="text" name="jobNumber" id="mobilityJobNumber" lay-verify="required" ondblclick="dblclickt()"
                       autocomplete="off" class="layui-input" placeholder="请输入员工工号" readonly>
            </div>

            <label class="layui-form-label febs-form-item-require" >员工姓名:</label>
            <div class="layui-input-inline">
                <input type="text" name="userName" id="mobilityUserName" lay-verify="required"
                       autocomplete="off" class="layui-input" placeholder="员工姓名" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">入职日期</label>
            <div class="layui-input-inline">
                <input type="text" name="entryTime" readonly id="mobilityEntryTime" lay-verify="required" placeholder="入职日期" class="layui-input">
            </div>
            <label class="layui-form-label febs-form-item-require" >员工部门:</label>
            <div class="layui-input-inline">
                <input type="text" name="departmentName" id="mobilityDepartmentName" lay-verify="required"
                       autocomplete="off" class="layui-input" placeholder="员工部门" readonly>
            </div>
        </div>
        <div class="layui-form-item">

            <label class="layui-form-label febs-form-item-require" >员工岗位:</label>
            <div class="layui-input-inline">
                <input type="text" name="positionName" id="mobilityPositionName" lay-verify="required"
                       autocomplete="off" class="layui-input" placeholder="员工岗位" readonly>
            </div>
            <label class="layui-form-label febs-form-item-require" >员工职务:</label>
            <div class="layui-input-inline">
                <input type="text" name="groupingName" id="mobilityGroupingName" lay-verify="required"
                       autocomplete="off" class="layui-input" placeholder="员工职务" readonly>
            </div>
        </div>
        <br>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require" >奖罚日期:</label>
            <div class="layui-input-inline">
                <input type="text" name="rewardPunishDate" id="rewardPunishDate" lay-verify="required"
                       autocomplete="off" class="layui-input createDate" placeholder="奖罚日期" readonly>
            </div>
            <label class="layui-form-label febs-form-item-require" >类型:</label>
            <div class="layui-input-inline">
                <select id="rewardPunishType" lay-filter="" name="rewardPunishType" lay-verify="required" >
                    <option value="">请选择</option>
                    <option value="1">奖励</option>
                    <option value="2">惩罚</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require" >奖罚金额:</label>
            <div class="layui-input-inline">
                <input type="text" name="magnitude" id="magnitude" lay-verify="required"
                       autocomplete="off" class="layui-input" placeholder="￥" >
            </div>
            <div class="layui-form-mid layui-word-aux">元</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require" >奖罚原因:</label>
            <div class="layui-input-inline">
                <textarea rows="10" cols="60" name="rewardPunishExplain" placeholder="建议格式：姓名+部门+职位+时间+地点+内容" lay-verify="required"></textarea>
            </div>

        </div>


        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="personnelRewardPunish-add-form-submit" id="submit"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<div id="hidden1" lay-filter="hidden1" style="display: none">
    <table id="department_result" lay-filter="department_result"></table>
</div>

<script>
    layui.use(['febs', 'form', 'validate', 'xmSelect','laydate'], function () {
        let $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            form = layui.form,
            xmSelect = layui.xmSelect,
            laydate = layui.laydate,
            validate = layui.validate;

        form.verify(validate);
        form.render();
        //日期同时绑定多个
        lay('.createDate').each(function(){
            laydate.render({
                elem: this,
                type: 'datetime'
                ,trigger: 'click'
            });
        })


        form.on('submit(personnelRewardPunish-add-form-submit)', function (data) {
            febs.post(ctx + 'personnelRewardPunish/add', data.field, function () {
                layer.closeAll();
                febs.alert.success('新增调岗记录成功');
                $('#febs-personnelRewardPunish').find('#query').click();
            });
            return false;

        });
    });
    function dblclickt(){
        layui.use(['febs', 'form', 'validate', 'xmSelect'], function () {
            let $ = layui.$,
                febs = layui.febs;

            febs.modal.open('员工档案', 'personnel/employeeFile', {
                area:["75%","90%"],
                yes: function (index, layero) {

                }

            });
        });
    }
</script>