<style>
    #personnelParameters-add {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="personnelParameters-add">
    <form class="layui-form" action="" lay-filter="personnelParameters-add-form">
        <div class="layui-form-item">
            <label class="layui-form-label">参数类别：</label>
            <div class="layui-input-block">
                <select name="parameterCategory">
                    <option value="1">岗位</option>
                    <option value="2">技术级别</option>
                    <option value="3">加班类型</option>
                    <option value="4">请假类型</option>
                    <option value="5">员工学历</option>
                    <option value="6">职务</option>
                    <option value="7">人事</option>
                    <option value="8">状态</option>
                    <option value="9">社保</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require" >参数值：</label>
            <div class="layui-input-block">
                <input type="text" name="parameterValue"
                       autocomplete="off" class="layui-input" placeholder="请输入参数值">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">参数名称：</label>
            <div class="layui-input-block">
                <input type="text" name="parameterName"
                       autocomplete="off" class="layui-input" placeholder="请输参数名称">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序：</label>
            <div class="layui-input-block">
                <input type="text" name="parameterSort"
                       autocomplete="off" class="layui-input" placeholder="请输入排序值">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注：</label>
            <div class="layui-input-block">
                <textarea name="parameterRemarks" maxlength="100" class="layui-textarea" placeholder="请输入备注"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态：</label>
            <div class="layui-input-block">
                <select name="parameterState">
                    <option value="1">启用</option>
                    <option value="2">禁用</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="personnelParameters-add-form-submit" id="submit"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>

<script>
    layui.use(['febs', 'form', 'validate', 'xmSelect'], function () {
        let $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            form = layui.form,
            xmSelect = layui.xmSelect,
            validate = layui.validate,
            dataPermissionXmlSelect,
            roleXmSelect,
            deptXmlSelect;

        form.verify(validate);
        form.render();


        form.on('submit(personnelParameters-add-form-submit)', function (data) {
            if (!data.field.parameterCategory) {
                febs.alert.warn('请选择参数类别');
                return false;
            }
            if (!data.field.parameterValue) {
                febs.alert.warn('请输入参数值');
                return false;
            }
            if (!data.field.parameterName) {
                febs.alert.warn('请输入参数名称');
                return false;
            }
            febs.post(ctx + 'personnelParameters', data.field, function () {
                layer.closeAll();
                febs.alert.success('新增参数成功');
                $('#febs-personnelParameters').find('#query').click();
            });
            return false;

        });

    });
</script>