<style>
    #purchaseInvoice-update {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid layui-anim febs-anim" id="purchaseInvoice-update" lay-title="采购发票">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="purchaseInvoice-update-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <label class="layui-form-mid" >供应商&nbsp;<b>:</b></label>
                                    <div class="layui-input-inline" style="width: 115px">
                                        <input type="text" name="invoiceSupplier" id="invoiceSupplier" style="width: 115px"
                                               autocomplete="off" class="layui-input" placeholder="为空时自动生成" readonly>
                                    </div>
                                    <label class="layui-form-mid" >日期&nbsp;<b>:</b></label>
                                    <div class="layui-input-inline" style="width: 115px">
                                        <input type="text" name="invoiceDate" id="invoiceDate" style="width: 115px"
                                               autocomplete="off" class="layui-input" placeholder="为空时自动生成" readonly>
                                    </div>
                                    <label class="layui-form-mid" >发票号&nbsp;<b>:</b></label>
                                    <div class="layui-input-inline" style="width: 115px">
                                        <input type="text" name="invoiceNumbers" id="invoiceNumbers" style="width: 115px"
                                               autocomplete="off" class="layui-input" placeholder="为空时自动生成" readonly>
                                    </div>
                                    <label class="layui-form-mid" >币种&nbsp;<b>:</b></label>
                                    <div class="layui-input-inline" style="width: 115px">
                                        <input type="text" name="currencyName" id="currencyName" style="width: 115px"
                                               autocomplete="off" class="layui-input" placeholder="为空时自动生成" readonly>
                                    </div>
                                    <label class="layui-form-mid" >税率&nbsp;<b>:</b></label>
                                    <div class="layui-input-inline" style="width: 115px">
                                        <input type="text" name="taxRateName" id="taxRateName" style="width: 115px"
                                               autocomplete="off" class="layui-input" placeholder="为空时自动生成" readonly>
                                    </div>
                                    <label class="layui-form-mid" >发票数量&nbsp;<b>:</b></label>
                                    <div class="layui-input-inline" style="width: 115px">
                                        <input type="text" name="invoiceAmount" id="invoiceAmount" style="width: 115px"
                                               autocomplete="off" class="layui-input" placeholder="为空时自动生成" readonly>
                                    </div>
                                    <br>
                                    <br>
                                    <label class="layui-form-mid" >发票金额&nbsp;<b>:</b></label>
                                    <div class="layui-input-inline" style="width: 115px">
                                        <input type="text" name="taxMoneySum" id="taxMoneySum" style="width: 115px"
                                               autocomplete="off" class="layui-input" placeholder="为空时自动生成" readonly>
                                    </div>
                                    <label class="layui-form-mid" >选择数量&nbsp;<b>:</b></label>
                                    <div class="layui-input-inline" style="width: 115px">
                                        <input type="text" name="invoiceQuantitySum" id="invoiceQuantitySum" style="width: 115px"
                                               autocomplete="off" class="layui-input" placeholder="为空时自动生成" readonly>
                                    </div>
                                    <label class="layui-form-mid" >选择金额&nbsp;<b>:</b></label>
                                    <div class="layui-input-inline" style="width: 115px">
                                        <input type="text" name="taxMoney" id="taxMoney" style="width: 115px"
                                               autocomplete="off" class="layui-input" placeholder="为空时自动生成" readonly>
                                    </div>
                                    <label class="layui-form-mid" >税额&nbsp;<b>:</b></label>
                                    <div class="layui-input-inline" style="width: 115px">
                                        <input type="text" name="" id="" style="width: 115px"
                                               autocomplete="off" class="layui-input" placeholder="为空时自动生成" readonly>
                                    </div>
                                    <label class="layui-form-mid">发票备注&nbsp;<b>:</b></label>
                                    <div class="layui-input-inline" style="width: 200px">
                                        <input type="text" id="invoiceRemarks" name="invoiceRemarks" autocomplete="off" class="layui-input">
                                    </div>
                                    <br>
                                    <br>
                                    <label class="layui-form-mid layui-form-label-sm">口径</label>
                                    <div class="layui-input-inline">
                                        <select name="invoiceState">
                                            <option value=""></option>
                                            <option value="1">采购退回</option>
                                            <option value="2">采购入库</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <!--搜索按钮-->
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>查询
                                </div>
                                <!--添加按钮-->
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action " id="addTo">
                                    <i class="layui-icon">&#xe78a;</i>确定
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="purchaseInvoiceUpdate-table" id="purchaseInvoiceUpdate-table" lay-data="{id: 'purchaseInvoiceUpdate-table'}"></table>
                    <br>
                    <table lay-filter="purchaseInvoiceUpdateList" id="purchaseInvoiceUpdateList" lay-data="{id: 'purchaseInvoiceUpdateList'}"></table>
                    <div class="layui-form-item febs-hide">
                        <button class="layui-btn" lay-submit="" lay-filter="purchaseInvoice-update-form-submit" id="submit"></button>
                        <button type="reset" class="layui-btn" id="reset"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script langguage="JavaScript">
    var now = new Date();
    purchaseRequisitionDate.value=new Date().getFullYear() + '-' + (new Date().getMonth() + 1) + '-' + new Date().getDate();
    var deliveryDateTo = new Date().getFullYear() + '-' + (new Date().getMonth() + 1) + '-' + new Date().getDate();
</script>
<script type="text/html" id="invoiceUse-state">
    {{#
    let invoiceUse = {
    1: {title: '采购入库'},
    2: {title: '委外加工'}
    }[d.invoiceUse];
    }}
    <span>{{ invoiceUse.title }}</span>
</script>
<script type="text/html" id="settlementUse-state">
    {{#
    let settlementUse = {
    1: {title: '采购退回'},
    2: {title: '采购入库'}
    }[d.settlementUse];
    }}
    <span>{{ settlementUse.title }}</span>
</script>
<script data-th-inline="javascript">
    layui.use(['jquery', 'laydate', 'form', 'table', 'febs', 'xmSelect' , 'validate'], function () {
        let $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            layer = layui.layer,
            $view = $('#purchaseInvoice-update'),
            $query = $view.find('#query'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'createDate', type: null},
            purchaseInvoice = [[${purchaseInvoice}]],
            purchaseRequisitionDate = [[${purchaseRequisitionDate}]],
            deptXmlSelect;


        form.render();
        initTable();
        initPurchaseRequisitionCreatorValue();

        $query.on('click', function () {
            layui.table(initTable());
            let params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        function initPurchaseRequisitionCreatorValue() {
            form.val("purchaseInvoice-update-form", {
                "invoiceNumbers": purchaseInvoice.invoiceNumbers,
                "invoiceSupplier":purchaseInvoice.invoiceSupplier,
                "currencyName":purchaseInvoice.currencyName,
                "taxRateName":purchaseInvoice.taxRateName,
                "invoiceDate":purchaseInvoice.invoiceDate,
                "invoiceAmount": purchaseInvoice.invoiceAmount,
                "taxMoneySum":purchaseInvoice.taxMoneySum,
                "taxMoney":purchaseInvoice.taxMoneySum,
                "invoiceQuantitySum":purchaseInvoice.invoiceQuantitySum,
                "invoiceRemarks":purchaseInvoice.invoiceRemarks,
                "purchaseRequisitionDate": purchaseRequisitionDate
            });
        }

        table.on('rowDouble(purchaseInvoiceUpdate-table)', function (obj) {
            var data = obj.data;
            var settlementDate = data.settlementDate;
            var settlementNumber = data.settlementNumber;
            var settlementUse = data.settlementUse;
            var settlementCode = data.settlementCode;
            var settlementSpecifications = data.settlementSpecifications;
            var settlementQuantity = data.settlementQuantity;
            var settlementPrice = data.settlementPrice;
            var settlementMoney = data.settlementMoney;
            $.ajax({
                url: '/saleOrder/random',
                success : function(data) {
                    var random = data.data;
                    var oldData =  table.cache["purchaseInvoiceUpdateList"];
                    var dataOne={"invoiceDate":settlementDate,
                        "invoiceCode":settlementNumber,"invoiceUse":settlementUse,
                        "invoiceName":settlementCode,"invoiceSpecifications":settlementSpecifications,
                        "invoiceQuantity":settlementQuantity,"taxPrice":settlementPrice,
                        "invoiceMoney":settlementMoney};
                    oldData.push(dataOne);
                    layui.table.reload('purchaseInvoiceUpdateList',{
                        data : oldData
                    });
                }
            });
        });

        var tableData= new Array(); // 用于存放表格数据
        $.ajax({
            url: 'purchaseInvoice/query'
            ,data:{"invoiceNumbers":purchaseInvoice.invoiceNumbers}
            ,async:false
            ,dataType:"json"
            , success: function(data){
                tableData=data.replies;
            }
        });

        function initTable() {
            tableIns = febs.table.init({
                elem: '#purchaseInvoiceUpdate-table',
                id: 'purchaseInvoiceUpdate-table',
                url: ctx + 'purchaseSettlement/listQuery/',
                where:{
                    settlementSupplier:purchaseInvoice.invoiceSupplier
                },
                cols: [
                    [
                        {type: 'checkbox'},
                        {field: 'settlementDate', title: '日期',align:'center',templet:'<div>{{ layui.util.toDateString(d.settlementDate, "yyyy-MM-dd") }}</div>', minWidth: 180},
                        {field: 'settlementNumber', title: '单号',align:'center', minWidth: 150},
                        {title: '口径', templet: '#settlementUse-state',align:'center',width:100},
                        {field: 'settlementCode', title: '物料名称',align:'center', minWidth: 150},
                        {field: 'settlementSpecifications', title: '规格型号',align:'center', minWidth: 100},
                        {field: 'settlementQuantity', title: '数量',align:'center', minWidth: 60},
                        {field: 'settlementPrice', title: '含税单价',align:'center', minWidth: 100},
                        /* {field: 'meteringCompany', title: '最近采购单价',align:'center', minWidth: 100},*/
                        {field: 'settlementMoney', title: '含税金额',align:'center',minWidth: 80,edit: true},
                        {
                            field: 'settlementPrice',
                            title: '不含税单价',
                            minWidth: 55,
                            align: 'center',
                            templet: function (data) {
                                var price = parseFloat(data.settlementPrice).toFixed(2); //设置小数点后个数
                                return price;
                            }
                        },
                        //{field: 'refundMoney', title: '金额',align:'center', minWidth: 80},
                        {
                            field: 'settlementMoney',
                            title: '不含税金额',
                            minWidth: 55,
                            align: 'center',
                            templet: function (data) {
                                var price = parseFloat(data.settlementMoney).toFixed(2); //设置小数点后个数
                                return price;
                            }
                        },
                        {field: 'settlementQuantity', title: '开票数量',align:'center', minWidth: 80},
                        {field: 'settlementMoney', title: '开票金额',align:'center', minWidth: 80}
                    ]
                ]
            });
        };

        table.render({
            elem: "#purchaseInvoiceUpdateList",
            data:tableData,
            cols: [
                [
                    {field:'number',title:'序号',align:'center',width:60,templet:function (d) {
                            return d.LAY_INDEX;}},
                    {field: 'invoiceDate',title: '日期',align:'center', templet:'<div>{{ layui.util.toDateString(d.invoiceDate, "yyyy-MM-dd") }}</div>', minWidth: 110, sort: true},
                    {field: 'invoiceCode', title: '单号',align:'center', minWidth: 90},
                    {title: '口径', templet: '#invoiceUse-state',align:'center',width:150},
                    {field: 'invoiceName',title: '物料名称', minWidth: 55,align:'center'},
                    {field: 'invoiceSpecifications',title: '规格型号', minWidth: 55,align:'center'},
                    {field: 'invoiceQuantity',title: '数量', minWidth: 55,align:'center'},
                    {field: 'taxPrice',title: '含税单价', minWidth: 50,align:'center',templet:function (data) {
                            var price = parseFloat(data.taxPrice).toFixed(2); //设置小数点后个数
                            return price;}},
                    {field: 'invoiceMoney',title: '含税金额', minWidth: 50,align:'center',templet:function (data) {
                            var price = parseFloat(data.invoiceMoney).toFixed(2); //设置小数点后个数
                            return price;}},
                    {field: 'taxPrice',title: '不含税单价', minWidth: 50,align:'center',templet:function (data) {
                            var price = parseFloat(data.taxPrice).toFixed(2); //设置小数点后个数
                            return price;}},
                    {field: 'invoiceMoney',title: '不含税金额', minWidth: 50,align:'center',templet:function (data) {
                            var price = parseFloat(data.invoiceMoney).toFixed(2); //设置小数点后个数
                            return price;}},
                    {field: 'invoiceQuantity', edit:true,title: '开票数量',minWidth: 55,align:'center',align:'center'},
                    {field: 'invoiceMoney',title: '开票金额', minWidth: 55,align:'center',templet:function (data) {
                            var price = parseFloat(data.invoiceMoney).toFixed(2); //设置小数点后个数
                            return price;}}
                ]
            ]
        });

        function getQueryParams() {
            let params = $searchForm.serializeJson();
            params.invalidate_ie_cache = new Date();
            return params;
        }

        form.on('submit(purchaseInvoice-update-form-submit)', function (data) {
            var invoiceNumbers = $('#invoiceNumbers').val();
            let dataThree = new Array();
            let purchaseRefundTable =  table.cache["purchaseInvoiceUpdateList"];
            for (i=0;i<purchaseRefundTable.length;i++){
                let dataOne={
                    "invoiceDate":purchaseRefundTable[i].invoiceDate,
                    "invoiceCode":purchaseRefundTable[i].invoiceCode,
                    "invoiceUse":purchaseRefundTable[i].invoiceUse,
                    "invoiceName":purchaseRefundTable[i].invoiceName,
                    "invoiceSpecifications":purchaseRefundTable[i].invoiceSpecifications,
                    "invoiceQuantity":purchaseRefundTable[i].invoiceQuantity,
                    "taxPrice":purchaseRefundTable[i].taxPrice,
                    "invoiceMoney":purchaseRefundTable[i].invoiceMoney
                };
                dataThree.push(dataOne);
            }
            $.ajax({
                url: '/purchaseInvoice/update',
                type:"post",
                data: {invoiceNumbers:purchaseInvoice.invoiceNumbers,dataTable:JSON.stringify(dataThree)},
                success : function(res) {
                    layer.closeAll();
                    $('#purchaseInvoice-list').find('#query').click();
                    var dataBak = [];
                    layui.table.reload('purchaseInvoiceTable',{
                        data:dataBak
                    });
                }
            });
            return false;
        });

    })
</script>