<style>
    #personnelArchives-add {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="personnelArchives-add">
    <form class="layui-form" action="" lay-filter="personnelArchives-add-form">

        <div class="layui-form-item">

            <div style="width: 50%; float: left">
                <div>
                        <label class="layui-form-label febs-form-item-require" >
                        员工姓名:
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="userName" name="userName" placeholder="请输入姓名" lay-verify="required" lay-reqtext="员工姓名是必填项，岂能为空？"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div style="margin-top: 15%">
                    <label class="layui-form-label febs-form-item-require" >
                        手机号码:
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="phone" name="phone" placeholder="请输入手机号码" lay-verify="required|phone"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div style="margin-top: 30%">
                    <label class="layui-form-label febs-form-item-require" >
                        固定电话:
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_email" name="fixedTelephone" placeholder="请输入固定电话" lay-verify="required|phone"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>

            </div>
            <div style="width: 50%; float: left" >
                <div class="layui-form-item">
                    <div class="layui-upload" style="margin-left: 59px;">
                        　<!-- 隐藏的input,一个隐藏的input（用于保存文件url） -->
                        　<input type="hidden" id="img_url" name="userImg" value=""/>
                        <div class="layui-upload-list" id="uploadPic"
                             style="margin-top: 2%;width: 107px;height: 127px; border: 1px solid #c2c2c2;margin-left: 14%;">
                            <img class="layui-upload-img" id="preShow" name="preShow" width="107px" >
                            <p id="demoText"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" >
                毕业院校:
            </label>
            <div class="layui-input-inline">
                <input type="text" name="schoolBy" placeholder="请输入毕业院校"
                       autocomplete="off" class="layui-input">
            </div>

            <label class="layui-form-label febs-form-item-require" >
                身份证号:
            </label>
            <div class="layui-input-inline">
                <input type="text" name="identityArd" placeholder="请输入18位有效身份证号码" lay-verify="identity"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require" >
                家庭地址:
            </label>
            <div class="layui-input-inline">
                <input type="text" name="address" placeholder="请输入身份证家庭地址" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label febs-form-item-require" >
                员工专业:
            </label>
            <div class="layui-input-inline">
                <input type="text" name="specialty" placeholder="请输入专业" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require" >
                现住地址:
            </label>
            <div class="layui-input-inline">
                <input type="text" name="presentAddress" placeholder="请输入现居住地" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label febs-form-item-require" >
                员工民族:
            </label>
            <div class="layui-input-inline">
                <input type="text" name="nation" placeholder="请输入民族" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require" >
                员工部门:
            </label>
             <div class="layui-input-inline" id="user-add-dept" style="width: 190px">
              </div>
            <label class="layui-form-label febs-form-item-require" >
                技术级别:
            </label>
            <div class="layui-input-inline">
                <select id="parameterName"  name="technicalId" lay-verify="required">
                    <option value="" >请选择技术级别</option>
                    <option th:each="technicals:${technical}" th:value="${technicals.id}">[[${technicals.parameterName}]]</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require" >
                所属岗位:
            </label>
            <div class="layui-input-inline">
                <select name="positionId"  id="positionsId" lay-filter="positionsId" lay-verify="required">
                    <option value="">请选择所属岗位</option>
                </select>
            </div>
            <label class="layui-form-label febs-form-item-require" >
                所属职务:
            </label>
            <div class="layui-input-inline">
                <select name="dutiesId"  id="duties_Id" lay-filter="duties_Id" lay-verify="required">
                    <option value="">请选择所属职务</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require" >
                出生日期:
            </label>
            <div class="layui-input-inline">
                <input type="text" id="birthdate" name="birthdate" lay-verify="required" placeholder="请选择日期" readonly
                       autocomplete="off" class="layui-input startTime">
            </div>
            <label class="layui-form-label febs-form-item-require" >
                入职日期:
            </label>
            <div class="layui-input-inline">
                <input type="text" id="entryDate" name="entryDate" lay-verify="required" placeholder="请选择日期" readonly
                       autocomplete="off" class="layui-input startTime">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" >
                转正日期:
            </label>
            <div class="layui-input-inline">
                <input type="text" id="positiveDates" name="positiveDates" readonly
                       placeholder="请选择日期" class="layui-input startTime">
            </div>
            <label class="layui-form-label" >
                离职日期:
            </label>
            <div class="layui-input-inline">
                <input type="text" id="quitDate" name="quitDate" placeholder="请选择日期" readonly
                       class="layui-input startTime">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require" >
                员工学历:
            </label>
            <div class="layui-input-inline">
                <select id="educationId"  name="educationId" lay-verify="required">
                    <option value="" >请选择学历</option>
                    <option th:each="educations:${education}" th:value="${educations.id}">[[${educations.parameterName}]]</option>
                </select>
            </div>
            <label class="layui-form-label febs-form-item-require" >
                是否考勤:
            </label>
            <div class="layui-input-inline">
                <select id="attendance" lay-filter="" name="attendance">
                    <option value="1" selected="selected">是</option>
                    <option value="2">否</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require" >
                员工籍贯:
            </label>
            <div class="layui-input-inline">
                <input type="text" id="staffNative"  placeholder="请输入籍贯" name="staffNative" lay-verify="required"
                        class="layui-input">
            </div>
            <label class="layui-form-label febs-form-item-require" >
                在职状态:
            </label>
            <div class="layui-input-inline">
                <select id="userState" lay-filter="" name="userState">
                    <option value="1" selected="selected">在职</option>
                    <option value="2">离职</option>
                    <option value="3">休假</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require" >
                员工性别:
            </label>
            <div class="layui-input-inline">
                <select id="gender" lay-filter="" name="gender">
                    <option value="1" selected="selected">男</option>
                    <option value="2">女</option>
                </select>
            </div>
            <label class="layui-form-label febs-form-item-require" >
                婚姻状况:
            </label>
            <div class="layui-input-inline">
                <select id="marriage" lay-filter="" name="marriage">
                    <option value="1" selected="selected">未婚</option>
                    <option value="2">已婚</option>
                    <option value="3">离异</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" >
                员工年龄:
            </label>
            <div class="layui-input-inline">
                <input type="text" name="age" placeholder="请输入年龄"
                       autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label febs-form-item-require" >
                户口类型:
            </label>
            <div class="layui-input-inline">
                <select id="hukouType" lay-filter="" name="hukouType">
                    <option value="1" selected="selected">城镇</option>
                    <option value="2">农村</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" >
                工资账号:
            </label>
            <div class="layui-input-inline">
                <input type="text" name="bankCard" placeholder="请输入开户银行账号"
                       autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label" >
                工资开户行:
            </label>
            <div class="layui-input-inline">
                <input type="text" name="payrollBank"  placeholder="请输入开户银行"
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require" >
                紧急联系人:
            </label>
            <div class="layui-input-inline">
                <input type="text" name="emergencyUser" lay-verify="required"  placeholder="请输入紧急联系人"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">&nbsp;</span>
            </div>
            <label class="layui-form-label febs-form-item-require" >
                紧急联系人电话:
            </label>
            <div class="layui-input-inline">
                <input type="text" name="emergencyPhone" lay-verify="required|phone" placeholder="请输入紧急联系人电话"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" >
                孝善奖账号:
            </label>
            <div class="layui-input-inline">
                <input type="text" name="filialityFineCard" placeholder="请输入孝善奖账号"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">&nbsp;</span>
            </div>
            <label class="layui-form-label" >
                孝善奖开户行:
            </label>
            <div class="layui-input-inline">
                <input type="text" name="filialityFineBank" placeholder="请输入孝善奖开户行"
                       autocomplete="off" class="layui-input">
            </div>

        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require" >
                社保缴纳情况:
            </label>
            <div class="layui-input-block" id="user-add-social">

            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" >
                教育经历:
            </label>

            <div class="layui-input-inline">
                <textarea rows="6" cols="60" name="educationUndergo" placeholder="请输入教育经历"></textarea>
            </div>

        </div>

        <div class="layui-form-item">

            <label class="layui-form-label" >
               工作经历:
            </label>

            <div class="layui-input-inline">
                <textarea rows="6" cols="60" name="occupational" placeholder="请输入工作经历"></textarea>
            </div>

        </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="personnelArchives-add-form-submit" id="submit"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>

<script>
    layui.use(['febs', 'form', 'validate', 'xmSelect','upload','laydate'], function () {
        let $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            form = layui.form,
            xmSelect = layui.xmSelect,
            validate = layui.validate,
            upload = layui.upload,
            laydate = layui.laydate,
            socialXmSelect,
            deptXmlSelect;

        form.verify(validate);
        form.render();

        //日期同时绑定多个
        lay('.startTime').each(function(){
            laydate.render({
                elem: this
                ,trigger: 'click'
            });
        })
        //上传图片
        var uploadInst = upload.render({
            elem: '#uploadPic' //绑定元素
            ,url: 'personnelArchives/uploadFiles' //上传接口 [[@{/upload/img}]]
            ,accept: 'file' //允许上传的文件类型
            ,exts: 'doc|docx|pdf|jpg|jpeg|png|zip|'
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#preShow').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                //上传成功
                if(res.code == 0){
                    // $('#aftershow').attr('src', "/uploadFile/"+res.data);
                    $('#img_url').attr("value", res.data);
                     document.getElementById("img_url").value = res.data;
                    return layer.msg('上传成功');
                }

            }
            ,error: function(re){
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });


        deptXmlSelect = xmSelect.render({
            el: '#user-add-dept',
            model: {label: {type: 'text'}},
            tree: {
                show: true,
                strict: false,
                showLine: false,
                clickCheck: true,
                expandedKeys: [-1],
            },
            name: 'deptId',
            theme: {
                color: '#52c41a',
            },
            prop: {
                value: 'id'
            },
            height: 'auto',
            on: function(data){
                if(data.isAdd){
                    return data.change.slice(0, 1)
                }
            }
        });
        febs.get(ctx + 'dept/select/tree', null, function (data) {
            deptXmlSelect.update(
                data
            )
        });

        socialXmSelect = xmSelect.render({
            el: '#user-add-social',
            toolbar: {show: true},
            name: 'id',
            max:4,
            theme: {
                color: '#32c787',
            },
            prop: {
                name: 'parameterName',
                value: 'id'
            },
            data: []
        });

        febs.get(ctx + 'personnelParameters/querySocialSecurity', null, function (data) {
            socialXmSelect.update({
                data: data.data,
                autoRow: true,
            })
        });


        form.on('submit(personnelArchives-add-form-submit)', function (data) {
            if (!data.field.deptId) {
                febs.alert.warn('你还没有选择用户的部门');
                return false;
            } if (!data.field.id) {
                febs.alert.warn('你还没有选择用户的社保');
                return false;
            }
            data.field.userImg =   document.getElementById("img_url").value;
            febs.post(ctx + 'personnelArchives', data.field, function () {
                layer.closeAll();
                febs.alert.success('新增员工档案成功');
                $('#febs-personnelArchives').find('#query').click();
            });
            return false;

        });
    });

    layui.use('form',function(){
        var $ = layui.jquery
        var form = layui.form
        $.ajax({
            url: '/personnelParameters/queryPosition',
            dataType: 'json',
            type: 'get',
            success: function(data) {
                if (data!== null) {
                    $.each(data.data, function (index, value) {
                        $('#positionsId').append(new Option(value.parameterName,value.id));// 下拉菜单里添加元素
                    });
                } else {
                    $("#positionsId").append(new Option("暂无数据", ""));
                }
                //重新渲染
                form.render("select");
            }
        });
    });

    layui.use('form',function(){
        var $ = layui.jquery
        var form = layui.form
        $.ajax({
            url: '/personnelParameters/queryDuties',
            dataType: 'json',
            type: 'get',
            success: function(data) {
                if (data!== null) {
                    $.each(data.data, function (index, value) {
                        $('#duties_Id').append(new Option(value.parameterName,value.id));// 下拉菜单里添加元素
                    });
                } else {
                    $("#duties_Id").append(new Option("暂无数据", ""));
                }
                //重新渲染
                form.render("select");
            }
        });
    });

</script>