<style>
    #personnelArchives-view {
        padding: 20px 25px 25px 0;
    }
    .notclick{
        pointer-events: none;
    }
</style>
<div class="layui-fluid" id="personnelArchives-view">
    <form class="layui-form" action="" lay-filter="personnelArchives-view-form">
        <div class="layui-form-item febs-hide">
            <label class="layui-form-label febs-form-item-require">员工档案id：</label>
            <div class="layui-input-block">
                <input type="text" name="userId" id="userId" data-th-value="${archives.userId}">
            </div>
        </div>
        <div class="layui-form-item">
            <div style="width: 50%; float: left">
                <div>
                    <label for="username" class="layui-form-label">
                        员工姓名:
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="userName" name="userName" placeholder="请输入姓名" readonly lay-verify="required"
                               autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        <span class="x-red">*</span>
                    </div>
                </div>

                <div style="margin-top: 15%">
                    <label for="phone" class="layui-form-label">
                        手机号码:
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="phone" name="phone" readonly placeholder="请输入手机号码" lay-verify="phone"
                               autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        <span class="x-red">*</span>
                    </div>
                </div>

                <div style="margin-top: 30%">
                    <label for="L_email" class="layui-form-label">
                        固定电话:
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_email" name="fixedTelephone" readonly placeholder="请输入固定电话" lay-verify="required"
                               autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        <span class="x-red">*</span>
                    </div>
                </div>
            </div>
            <div style="width: 50%; float: left">
                <div class="layui-form-item">
                    <div class="layui-upload notclick" style="margin-left: 59px;">
                        　<input type="hidden" id="img_url" name="userImg" value=""/>
                        <div class="layui-upload-list" id="uploadPic" readonly="readonly"
                             style="margin-top: 2%;width: 107px;height: 127px; border: 1px solid #c2c2c2;margin-left: 14%;">
                            <img class="layui-upload-img" th:src="@{'/file/upload/'+${archives.userImg}}"  id="preShow" width="107px" >
                            <p id="demoText"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_email" class="layui-form-label">
                毕业院校:
            </label>
            <div class="layui-input-inline">
                <input type="text" name="schoolBy" placeholder="请输入毕业院校" lay-verify="required" readonly
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>
            </div>

            <label for="L_email" class="layui-form-label">
                身份证号:
            </label>
            <div class="layui-input-inline">
                <input type="text" name="identityArd" placeholder="请输入18位有效身份证号码" lay-verify="required" readonly
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>
            </div>

        </div>
        <div class="layui-form-item">


            <label for="L_email" class="layui-form-label">
                家庭地址:
            </label>
            <div class="layui-input-inline">
                <input type="text" name="address" placeholder="请输入身份证家庭地址" lay-verify="required" readonly
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>
            </div>
            <label for="L_email" class="layui-form-label">
                员工专业:
            </label>
            <div class="layui-input-inline">
                <input type="text" name="specialty" placeholder="请输入专业" lay-verify="required" readonly
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_email" class="layui-form-label">
                现住地址:
            </label>
            <div class="layui-input-inline">
                <input type="text" name="presentAddress" placeholder="请输入现居住地" lay-verify="required" readonly
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>
            </div>


            <label for="L_email" class="layui-form-label">
                员工民族:
            </label>
            <div class="layui-input-inline">
                <input type="text" name="nation" placeholder="请输入民族" readonly
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">员工部门:</label>
            <div class="layui-input-inline notclick" id="personnelArchives-view-dept" style="width: 190px" ></div>
            <div class="layui-form-mid layui-word-aux">
            <span class="x-red">*</span>
            </div>
            <label for="L_email" class="layui-form-label">
                技术级别:
            </label>
            <div class="layui-input-inline">
                <select id="technicalId"  name="technicalId" disabled>
                    <option value="" >请选择技术级别</option>
                    <option th:each="technicals:${technical}" th:value="${technicals.id}">[[${technicals.parameterName}]]</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_email" class="layui-form-label">
                所属岗位:
            </label>

            <div class="layui-input-inline">
                <select id="positionId"  name="positionId" disabled>
                    <option value="" >请选择所属岗位</option>
                    <option th:each="position:${position}" th:value="${position.id}">[[${position.parameterName}]]</option>
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>
            </div>
            <label for="L_email" class="layui-form-label">
                所属职务:
            </label>
            <div class="layui-input-inline">
                <select id="dutiesId"  name="dutiesId" disabled>
                    <option value="" >请选择所属职务</option>
                    <option th:each="duties:${duties}" th:value="${duties.id}">[[${duties.parameterName}]]</option>
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_email" class="layui-form-label">
                出生日期:
            </label>
            <div class="layui-input-inline">
                <input type="text" id="birthdate" name="birthdate" disabled required="" placeholder="请选择日期"
                       autocomplete="off" class="layui-input startTime">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>
            </div>


            <label for="L_email" class="layui-form-label">
                入职日期:
            </label>
            <div class="layui-input-inline">
                <input type="text" id="entryDate" name="entryDate" disabled required="" placeholder="请选择日期"
                       autocomplete="off" class="layui-input startTime">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>
            </div>


        </div>
        <div class="layui-form-item">
            <label for="L_email" class="layui-form-label">
                转正日期:
            </label>
            <div class="layui-input-inline">
                <input type="text" id="positiveDates" name="positiveDates" disabled
                       placeholder="请选择日期" class="layui-input startTime">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>
            </div>
            <label for="L_email" class="layui-form-label">
                离职日期:
            </label>
            <div class="layui-input-inline">
                <input type="text" id="quitDate" name="quitDate" placeholder="请选择日期" disabled
                       class="layui-input startTime">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_email" class="layui-form-label">
                员工学历:
            </label>
            <div class="layui-input-inline">
                <select id="educationId"  name="educationId" disabled>
                    <option value="" >请选择学历</option>
                    <option th:each="educations:${education}" th:value="${educations.id}">[[${educations.parameterName}]]</option>
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>
            </div>
            <label for="L_email" class="layui-form-label">
                是否考勤:
            </label>
            <div class="layui-input-inline">
                <select id="attendance" lay-filter="" name="attendance" disabled>
                    <option value="1">是</option>
                    <option value="2">否</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_email" class="layui-form-label">
                员工籍贯:
            </label>
            <div class="layui-input-inline">
                <input type="text" id="staffNative" readonly placeholder="请输入籍贯" name="staffNative"
                       class="layui-input">

            </div>

            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>
            </div>


            <label for="L_email" class="layui-form-label">
                在职状态:
            </label>
            <div class="layui-input-inline">
                <select id="userState" lay-filter="" name="userState" disabled>
                    <option value="1">在职</option>
                    <option value="2">离职</option>
                    <option value="3">休假</option>

                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_email" class="layui-form-label">
                员工性别:
            </label>
            <div class="layui-input-inline">
                <select id="gender" lay-filter="" name="gender" disabled>
                    <option value="1">男</option>
                    <option value="2">女</option>
                </select>
            </div>

            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>
            </div>
            <label for="L_email" class="layui-form-label">
                婚姻状况:
            </label>
            <div class="layui-input-inline">
                <select id="marriage" lay-filter="" name="marriage" disabled>
                    <option value="1">未婚</option>
                    <option value="2">已婚</option>
                    <option value="3">离异</option>
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_email" class="layui-form-label">
                员工年龄:
            </label>
            <div class="layui-input-inline">
                <input type="text" name="age" id="age" readonly placeholder="请输入年龄" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>
            </div>
            <label for="L_email" class="layui-form-label">
                户口类型:
            </label>
            <div class="layui-input-inline">
                <select id="hukouType" lay-filter="" name="hukouType" disabled>
                    <option value="1">城镇</option>
                    <option value="2">农村</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_email" class="layui-form-label">
                工资账号:
            </label>
            <div class="layui-input-inline">
                <input type="text" name="bankCard" id="bankCard" placeholder="请输入开户银行账号" readonly
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>
            </div>
            <label for="L_email" class="layui-form-label">
                工资开户行:
            </label>
            <div class="layui-input-inline">
                <input type="text" name="payrollBank" id="payrollBank" lay-verify="required" placeholder="请输入开户银行" readonly
                       autocomplete="off" class="layui-input">
            </div>

        </div>
        <div class="layui-form-item">
            <label for="L_email" class="layui-form-label">
                紧急联系人:
            </label>
            <div class="layui-input-inline">
                <input type="text" name="emergencyUser" id="emergencyUser" required="" lay-verify="required" readonly  placeholder="请输入紧急联系人"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">&nbsp;</span>
            </div>
            <label for="L_email" class="layui-form-label">
                紧急联系人电话:
            </label>
            <div class="layui-input-inline">
                <input type="text" name="emergencyPhone"  id="emergencyPhone" readonly required="" lay-verify="required" placeholder="请输入紧急联系人电话"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_email" class="layui-form-label">
                孝善奖账号:
            </label>
            <div class="layui-input-inline">
                <input type="text" name="filialityFineCard"  id="filialityFineCard" readonly placeholder="请输入孝善奖账号"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">&nbsp;</span>
            </div>
            <label for="L_email" class="layui-form-label">
                孝善奖开户行:
            </label>
            <div class="layui-input-inline">
                <input type="text" name="filialityFineBank" id="filialityFineBank" readonly lay-verify="required" placeholder="请输入孝善奖开户行"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                社保缴纳情况:
            </label>
            <div class="layui-input-block notclick" id="user-update-social">
            </div>
        </div>
        <div class="layui-form-item">

            <label for="L_email" class="layui-form-label">
                <span class="x-red">*</span>教育经历:
            </label>

            <div class="layui-input-inline">
                <textarea rows="6" cols="60" name="educationUndergo" id="educationUndergo" placeholder="请输入教育经历" disabled></textarea>
            </div>

        </div>

        <div class="layui-form-item">

            <label for="L_email" class="layui-form-label">
                <span class="x-red">*</span>工作经历:
            </label>

            <div class="layui-input-inline">
                <textarea rows="6" cols="60" name="occupational" id="occupational" placeholder="请输入工作经历" disabled></textarea>
            </div>

        </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="personnelArchives-view-form-submit" id="submit"></button>
        </div>
    </form>
    <br>
     <div>&nbsp;&nbsp;&nbsp;<span>调岗记录</span></div>
    <table lay-filter="mobilityTableUser" id="mobilityTableUser" lay-data="{id: 'mobilityTableUser'}"></table>
    <div>&nbsp;&nbsp;&nbsp;<span>调薪记录</span></div>
    <table lay-filter="salaryTableUser" id="salaryTableUser" lay-data="{id: 'salaryTableUser'}"></table>
</div>
<script type="text/html" id="mobility_transferStatus">
    {{#
    let transferStatus = {
    1: {title: '晋升', color: 'green'},
    2: {title: '降级', color: 'red'},
    3: {title: '岗位调动', color: 'blue'}
    }[d.transferStatus];
    }}
    <span class="layui-badge febs-bg-{{transferStatus.color}}">{{ transferStatus.title }}</span>
</script>
<script data-th-inline="javascript">
    layui.use(['febs', 'form', 'xmSelect', 'validate','laydate','upload'], function () {
        let $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            form = layui.form,
            xmSelect = layui.xmSelect,
            laydate = layui.laydate,
            upload = layui.upload,
            archives = [[${archives}]],
            birthDate = [[${birthDate}]],
            entryDate = [[${entryDate}]],
            quitDate = [[${quitDate}]],
            positiveDates = [[${positiveDates}]],
            validate = layui.validate,
            deptXmlSelect,
            socialXmSelect,
            tableInsMobility,
            tableInsSalary;

        form.verify(validate);
        form.render();

        initArchivesValue();
        initMobilityTable();
        initSalaryTable();


        deptXmlSelect = xmSelect.render({
            el: '#personnelArchives-view-dept',
            model: {label: {type: 'text'}},
            tree: {
                show: true,
                strict: false,
                showLine: false,
                clickCheck: true,
                expandedKeys: [-1],
            },
            name: 'deptId',
            theme: {
                color: '#52c41a',
            },
            prop: {
                value: 'id'
            },
            height: 'auto',
            on: function (data) {
                if (data.isAdd) {
                    return data.change.slice(0, 1)
                }
            }
        });

        febs.get(ctx + 'dept/select/tree', null, function (data) {
            deptXmlSelect.update(data)
            archives.deptId && deptXmlSelect.setValue([archives.deptId]);
        });
        socialXmSelect = xmSelect.render({
            el: '#user-update-social',
            toolbar: {show: true},
            name: 'id',
            max:5,
            theme: {
                color: '#32c787',
            },
            prop: {
                name: 'parameterName',
                value: 'id'
            },
            data: []
        });

        febs.get(ctx + 'personnelParameters/querySocialSecurity', null, function (data) {
            socialXmSelect.update({
                data: data.data,
                autoRow: true,
            })
            socialXmSelect.setValue(archives.id.split(','));
        });

        function initArchivesValue() {
            form.val("personnelArchives-view-form", {
                "userName": archives.userName,
                "phone": archives.phone,
                "fixedTelephone": archives.fixedTelephone,
                "userImg": archives.userImg,
                "schoolBy":archives.schoolBy,
                "identityArd":archives.identityArd,
                "address":archives.address,
                "specialty":archives.specialty,
                "presentAddress":archives.presentAddress,
                "nation":archives.nation,
                "technicalId": archives.technicalId,
                "positionId": archives.positionId,
                "dutiesId": archives.dutiesId,
                "birthdate": birthDate,
                "entryDate": entryDate,
                "positiveDates": positiveDates,
                "quitDate": quitDate,
                "educationId": archives.educationId,
                "staffNative": archives.staffNative,
                "userState": archives.userState,
                "gender": archives.gender,
                "marriage": archives.marriage,
                "age": archives.age,
                "hukouType": archives.hukouType,
                "bankCard": archives.bankCard,
                "payrollBank": archives.payrollBank,
                "emergencyUser": archives.emergencyUser,
                "emergencyPhone": archives.emergencyPhone,
                "filialityFineCard": archives.filialityFineCard,
                "filialityFineBank": archives.filialityFineBank,
                "educationUndergo": archives.educationUndergo,
                "occupational": archives.occupational
            });
        }

        form.on('submit(personnelArchives-view-form-submit)', function (data) {
            if (febs.nativeEqual(data.field, archives)) {
                febs.alert.warn('数据未作任何修改！');
                return false;
            }
            febs.post(ctx + 'personnelArchives/update', data.field, function () {
                layer.closeAll();
                febs.alert.success(' 数据修改成功');
                $('#febs-personnelArchives').find('#query').click();
            });
            return false;
        });
        //上传图片
         var uploadInst = upload.render({
             elem: '#uploadPic' //绑定元素
            ,url: 'personnelArchives/uploadFiles' //上传接口 [[@{/upload/img}]]
             ,accept: 'file' //允许上传的文件类型
            ,exts: 'doc|docx|pdf|jpg|jpeg|png|zip|'
            ,before: function(obj){
                 //预读本地文件示例，不支持ie8
                 obj.preview(function(index, file, result){
                     $('#preShow').attr('src', result); //图片链接（base64）
                 });
            }
            ,done: function(res){
                //上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                //上传成功
                if(res.code == 0){
                    $('#img_url').attr("value", res.data);
                    document.getElementById("img_url").value = res.data;
                    return layer.msg('上传成功');
                }

            }
            ,error: function(re){
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });

        //日期同时绑定多个
        lay('.startTime').each(function(){
            laydate.render({
                elem: this
                ,trigger: 'click'
            });
        })


        function initMobilityTable() {
            let input = document.getElementById("userId");
            let userId = input.value;
            tableInsMobility = febs.table.init({
                elem: '#mobilityTableUser',
                id: 'mobilityTableUser',
                url: ctx + 'personnelMobilityUser/list/'+userId,
                cols: [
                    [
                    {field: 'id', title: '编号',hide:true,sort: true},
                    {field: 'departmentName', title: '原部门',align:'center', minWidth: 80},
                    {field: 'positionName', title: '原岗位', minWidth: 100},
                    {field: 'groupingName', title: '原职务', minWidth: 80},
                    {field: 'toDepartmentName', title: '调至部门',align:'center', minWidth: 90},
                    {field: 'toPositionName', title: '调至岗位', minWidth: 90},
                    {field: 'toGroupingName', title: '调至职务', minWidth: 90},
                    {field: 'transferData', title: '生效日期',align:'center',templet:'<div>{{ layui.util.toDateString(d.transferData, "yyyy-MM-dd") }}</div>', minWidth: 110, sort: true},
                    {title: '类型', templet: '#mobility_transferStatus',align:'center', minWidth: 100}
                  ]
                ]
            });
        }


        function initSalaryTable() {
            let input = document.getElementById("userId");
            let userId = input.value;
            tableInsSalary = febs.table.init({
                elem:'#salaryTableUser',
                id: 'salaryTableUser',
                url: ctx + 'personnelSalaryChangeUser/list/'+userId,
                cols: [
                        [
                        {field: 'adjustmentBase', title: '调整基数', minWidth: 80,align:'center'},
                        {field: 'adjustmentData', title: '调整日期',align:'center',templet:'<div>{{ layui.util.toDateString(d.adjustmentData, "yyyy-MM-dd") }}</div>', minWidth: 110, sort: true},
                        {title: '类型', templet: '#salary_salaryState',align:'center', minWidth: 100}
                        ]
                     ]
            });
        }

    });
</script>