<style>
    #expenseReporting-list xm-select {
        min-height: 30px;
        line-height: 30px;
    }
    #expenseReporting-list xm-select > .xm-label .scroll .label-content {
        display: flex;
        padding: 0 30px 0 10px;
    }
</style>
<div class="layui-fluid layui-anim febs-anim" id="expenseReporting-list" lay-title="费用报支">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="parameter-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md12">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">状态</label>
                                        <div class="layui-input-inline" style="width: 85px">
                                            <select name="expenseReportingState">
                                                <option value="">全部</option>
                                                <option value="1">登记</option>
                                                <option value="2">确认</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">日期</label>
                                        <div class="layui-input-inline" style="width: 130px">
                                            <input type="text" id="start_date" name="signedDateFrom" lay-verify='date' class="layui-input"/>
                                            <i class="layui-icon" id="start_date_icon"></i>
                                        </div>
                                        <div class="layui-input-inline" style="width: 130px">
                                            <input type="text" id="end_date" name="signedDateTo" lay-verify='date' class="layui-input"/>
                                            <i class="layui-icon " id="end_date_icon"></i>
                                        </div>
                                    </div>
                                    <div class="layui-inline" >
                                        <label class="layui-form-label layui-form-label-sm">单号</label>
                                        <div class="layui-input-inline" style="width: 120px">
                                            <input type="text" name="oddNumbers" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline" >
                                        <label class="layui-form-label layui-form-label-sm">单位</label>
                                        <div class="layui-input-inline" style="width: 110px">
                                            <input type="text" name="financeParameterName" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline" >
                                        <label class="layui-form-label layui-form-label-sm">费用类别</label>
                                        <div class="layui-input-inline" style="width: 100px">
                                            <select id="expenseType"  name="expenseType" lay-verify="required" class="layui-form-select" >
                                                <option value="" >全部</option>
                                                <option th:each="expenseReportingCategory:${expenseReportingCategory}" th:value="${expenseReportingCategory.id}">[[${expenseReportingCategory.financeParameterName}]]</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-inline" >
                                        <label class="layui-form-label layui-form-label-sm">开票状态</label>
                                        <div class="layui-input-inline" style="width: 85px">
                                            <select name="invoiceOrNot">
                                                <option value="">全部</option>
                                                <option value="1">待开</option>
                                                <option value="2">已开</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="expenseReportingTable" lay-data="{id: 'expenseReportingTable'}"></table>
                    <div class="layui-col-md6">
                        <div class="layui-form-item"></div>
                    </div>
                    <div class="layui-col-md6 layui-col-sm12 layui-col-xs12 table-action-area">
                        <!--搜索按钮-->
                        <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action" id="query">
                            <i class="layui-icon">&#xe848;</i>查询
                        </div>
                        <!-- 刷新表格按钮-->
                        <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-green-plain table-action" id="reset">
                            <i class="layui-icon">&#xe79b;</i>刷新
                        </div>
                        <!--添加按钮-->
                        <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action "
                             shiro:hasAnyPermissions="expenseReporting:add" id="addTo">
                            <i class="layui-icon">&#xe78a;</i>新增
                        </div>
                        <!--修改按钮-->
                        <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action "
                             shiro:hasAnyPermissions="expenseReporting:update" id="updateTo">
                            <i class="layui-icon">&#xe642;</i>修改
                        </div>
                        <!--删除按钮-->
                        <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action "
                             shiro:hasAnyPermissions="expenseReporting:delete" id="deleteTo">
                            <i class="layui-icon">&#xe8a1;</i>删除
                        </div>
                        <!--确认按钮-->
                        <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action
                                     "shiro:hasAnyPermissions="expenseReporting:confirm" id="confirmTo">
                            <i class="layui-icon layui-icon-ok-circle"></i>确认
                        </div>
                        <!--取消按钮-->
                        <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action
                                     "shiro:hasAnyPermissions="expenseReporting:cancel" id="cancelTo">
                            <i class="layui-icon layui-icon-close"></i>取消
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="invoice-or-not">
    {{#
    let invoiceOrNot = {
    1: {title: '未开', color: 'volcano'},
    2: {title: '已开', color: 'green'}
    }[d.invoiceOrNot];
    }}
    <span class="layui-badge febs-bg-{{invoiceOrNot.color}}">{{ invoiceOrNot.title }}</span>
</script>
<script type="text/html" id="expenseReporting-state">
    {{#
    let expenseReportingState = {
    1: {title: '登记'},
    2: {title: '确认'}
    }[d.expenseReportingState];
    }}
    <span>{{ expenseReportingState.title }}</span>
</script>
<script type="text/html" id="parameter-option">
    <span shiro:lacksPermission="expenseReporting:view,expenseReporting:update,expenseReporting:delete">
        <span class="layui-badge-dot febs-bg-orange"></span> 无权限
    </span>
    <a lay-event="detail" shiro:hasPermission="expenseReporting:view"><i
            class="layui-icon febs-edit-area febs-green">&#xe7a5;</i></a>
</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdownMenu', 'jquery', 'laydate', 'form', 'table', 'febs', 'xmSelect'], function () {
        let $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            dropdownMenu = layui.dropdownMenu,
            $view = $('#expenseReporting-list'),
            $query = $view.find('#query'),
            $addTo = $view.find('#addTo'),
            $deleteTo = $view.find('#deleteTo'),
            $updateTo = $view.find('#updateTo'),
            $confirmTo = $view.find('#confirmTo'),
            $cancelTo = $view.find('#cancelTo'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'createTime', type: null},
            tableIns,
            deptXmlSelect;

        form.render();

        var firstDate = new Date();
        firstDate.setDate(1); //本月第一天
        var datetime =firstDate.getFullYear() + '-' + (firstDate.getMonth() + 1) + '-' + firstDate.getDate();
        /*  var endDate = new Date(firstDate);
          endDate.setMonth(firstDate.getMonth()+1);
          endDate.setDate(0);*///本月最后一天
        //开始日期
        var start = laydate.render({
            elem: '#start_date',
            max: 0 ,//设置一个默认最大值//最大值为当前日期
            trigger: 'click',
            value: new Date(firstDate),//初始赋值,//默认值本月第一天
            done:function(value,date){
                if(value && (value>$("#end_date").val())){
                    /*开始时间大于结束时间时，清空结束时间*/
                    $("#end_date").val("");
                }
                end.config.min ={
                    year:date.year,
                    month:date.month-1,
                    date: date.date,
                };
            }
        });
        //结束日期
        var end = laydate.render({
            elem: '#end_date',
            min : datetime,//最大值为当前日期
            trigger: 'click',
            value: new Date(),//初始赋值,//默认当前时间
            done:function(value,date){
                start.config.max={
                    year:date.year,
                    month:date.month-1,
                    date: date.date,
                }
            }
        });

        initExpenseReportingTable();

        dropdownMenu.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                let checkStatus = table.checkStatus('expenseReportingTable');
                if (name === 'add') {
                    febs.modal.open('新增人事参数', 'personnel/expenseReporting/add', {
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        yes: function (index, layero) {
                            $('#expenseReporting-add').find('#submit').trigger('click');
                        },
                        btn2: function () {
                            $('#expenseReporting-add').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        febs.alert.warn('请选择需要删除的数据');
                    } else {
                        febs.modal.confirm('删除参数信息', '确定删除？', function () {
                            let ids = [];
                            layui.each(checkStatus.data, function (key, item) {
                                ids.push(item.id)
                            });
                            deleteExpenseReporting(ids.join(','));
                        });
                    }
                }
            },
            options: []
        });
        table.on('tool(expenseReportingTable)', function (obj) {
            let data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'detail') {
                febs.modal.view('员工档案信息', 'personnel/expenseReporting/detail/' + data.userId, {
                    area: $(window).width() <= 750 ? '95%' : '50%'
                });
            }
            if (layEvent === 'edit') {
                febs.modal.open('修改员工档案', 'personnel/expenseReporting/update/' + data.userId, {
                    area: $(window).width() <= 750 ? '90%' : '50%',
                    content: $('#uploadPic'), // 可以添加另外的页面 通过 div
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#expenseReporting-update').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }
        });
        table.on('sort(expenseReportingTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });

        $query.on('click', function () {
            let params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
            tableIns.reload({where: getQueryParams(), page: {curr: 1}});
        });
        $addTo.on('click', function () {
            febs.modal.open('【费用报支】新增', 'expenses/expenseReporting/add', {
                btn: ['保存', '关闭'],
                area: $(window).width() <= 750 ? '95%' : '50%',
                //area:["50%","70%"],
                yes: function (index, layero) {
                    $('#expenseReporting-add').find('#submit').trigger('click');
                },
                btn2: function () {
                    $('#expenseReporting-add').find('#reset').trigger('click');
                    return false;
                }
            });
        });
        $deleteTo.on('click', function () {
            let checkStatus = table.checkStatus('expenseReportingTable');
            if (!checkStatus.data.length) {
                febs.alert.warn('请选择需要删除的数据');
            } else {
                febs.modal.confirm('删除费用报支信息', '确定删除？', function () {
                    let ids = [];
                    layui.each(checkStatus.data, function (key, item) {
                        ids.push(item.id)
                    });
                    deleteExpenseReporting(ids.join(','));
                });
            }
        });
        $updateTo.on('click', function () {
            let checkStatus = table.checkStatus('expenseReportingTable');
            if (!checkStatus.data.length) {
                febs.alert.warn('请选择需要修改的数据');
            }else if(checkStatus.data.length>1){
                febs.alert.warn('请选择一条需要修改的数据');
            }else{
                layui.each(checkStatus.data, function (key, item) {
                    febs.modal.open('【费用报支】修改', 'expenses/expenseReporting/update/' + item.id, {
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        btn: ['保存', '关闭'],
                        yes: function (index, layero) {
                            $('#expenseReporting-update').find('#submit').trigger('click');
                        },
                        btn2: function () {
                            layer.closeAll();
                        }
                    });
                });
            }
        });
        /*确认*/
        $confirmTo.on('click', function () {
            let checkStatus = table.checkStatus('expenseReportingTable');
            if (!checkStatus.data.length) {
                febs.alert.warn('请选择需要确认的数据');
            }else if(checkStatus.data.length>1){
                febs.alert.warn('请选择一条需要确认的数据');
            }else{
                layui.each(checkStatus.data, function (key, item) {
                    if (item.expenseReportingState== "1") {
                        febs.post(ctx + 'expenseReporting/confirm/' + item.id, null, function () {
                            febs.alert.success('确认成功');
                            $query.click();
                        });
                    }else if (item.expenseReportingState== "2"){
                        febs.alert.warn('该数据已确认!');
                        return false;
                    }else {
                        febs.alert.warn('该数据不是登记状态不能确认!');
                        return false;
                    }
                });
            }
        });
        /*取消*/
        $cancelTo.on('click', function () {
            let checkStatus = table.checkStatus('expenseReportingTable');
            if (!checkStatus.data.length) {
                febs.alert.warn('请选择需要取消的数据');
            }else if(checkStatus.data.length>1){
                febs.alert.warn('请选择一条需要取消的数据');
            }else{
                layui.each(checkStatus.data, function (key, item) {
                    if (item.expenseReportingState== "2") {
                        febs.post(ctx + 'expenseReporting/cancel/' + item.id, null, function () {
                            febs.alert.success('取消成功');
                            $query.click();
                        });
                    }else if (item.expenseReportingState== "1"){
                        febs.alert.warn('该数据已是登记状态,无法执行取消操作!');
                        return false;
                    }else {
                        febs.alert.warn('该数据不是确认状态不能取消!');
                        return false;
                    }
                });
            }
        });
        function initExpenseReportingTable() {
            tableIns = febs.table.init({
                elem: $view.find('table'),
                id: 'expenseReportingTable',
                url: ctx + 'expenseReporting/list',
                where:{
                    signedDateFrom:$('#start_date').val(),
                    signedDateTo:$('#end_date').val()
                },
                cols: [[
                    {type: 'checkbox'},
                    {field:'number',title:'序号',align:'center',width:80,templet:function (d) {
                                        return d.LAY_INDEX;}},
                    {title: '状态', templet: '#expenseReporting-state',align:'center',minWidth: 90},
                    {field: 'expenseReportingDate', title: '日期',align:'center',templet:'<div>{{ layui.util.toDateString(d.expenseReportingDate, "yyyy-MM-dd") }}</div>', minWidth: 110, sort: true},
                    {field: 'oddNumbers', title: '单号',align:'center', minWidth: 140},
                    {field: 'unitName', title: '单位',align:'center', minWidth: 100},
                    {field: 'deptName', title: '部门',align:'center', minWidth: 100},
                    {field: 'expenseTypeName', title: '费用类别',align:'center', minWidth: 100},
                    {field: 'amountUsed', title: '金额',align:'center', minWidth: 90},
                    {field: 'expenseReportingPurpose', title: '用途',align:'center', minWidth: 110},
                    {field: 'expenseReportingPreparer', title: '制单人',align:'center', minWidth: 95},
                    {title: '开票状态', templet: '#invoice-or-not',align:'center',minWidth: 90}
                ]]
            });
        }

        function getQueryParams() {
            let params = $searchForm.serializeJson();
            params.invalidate_ie_cache = new Date();
            return params;
        }

        function deleteExpenseReporting(ids) {
            febs.get(ctx + 'expenseReporting/delete/' + ids, null, function () {
                febs.alert.success('删除费用报支成功');
                $query.click();
            });
        }

    })
</script>