<style>
    #purchaseRefund-list xm-select {
        min-height: 30px;
        line-height: 30px;
    }
    #purchaseRefund-list xm-select > .xm-label .scroll .label-content {
        display: flex;
        padding: 0 30px 0 10px;
    }
</style>
<div class="layui-fluid layui-anim febs-anim" id="purchaseRefund-list" lay-title="采购退货">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="parameter-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md12">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-mid layui-form-label-sm">状态</label>
                                        <div class="layui-input-inline">
                                            <select name="refundState">
                                                <option value=""></option>
                                                <option value="1">登记</option>
                                                <option value="2">出库</option>
                                                <option value="2">结算</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-mid">日期&nbsp;<b>:</b></label>
                                        <div class="layui-input-inline" style="width: 145px">
                                            <input type="text" id="start_date" name="signedDateFrom" placeholder="" lay-verify='date' class="layui-input"/>
                                            <i class="layui-icon" id="start_date_icon"></i>
                                        </div>
                                        <label class="layui-form-mid">至：</label>
                                        <div class="layui-input-inline" style="width: 145px">
                                            <input type="text" id="end_date" name="signedDateTo" placeholder="" lay-verify='date' class="layui-input"/>
                                            <i class="layui-icon " id="end_date_icon"></i>
                                        </div>
                                    </div>
                                    <div class="layui-inline" >
                                        <label class="layui-form-mid layui-form-label-sm">单号</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="refundNumber" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline" >
                                        <label class="layui-form-mid layui-form-label-sm">供应商</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="supplierNameRefund" id="supplierNameRefund" lay-verify="required" ondblclick="dblclickCustomerName()"
                                                   autocomplete="off" class="layui-input" placeholder="双击选择" style="width: 145px"  readonly>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-mid layui-form-label-sm">库房</label>
                                        <div class="layui-input-inline">
                                            <select name="refundLibrary">
                                                <option value=""></option>
                                                <option value="1">外购库</option>
                                                <option value="2">机加库</option>
                                                <option value="3">废品库</option>
                                                <option value="4">资产库</option>
                                                <option value="5">成品库</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="purchaseRefundList" id="purchaseRefundList" lay-data="{id: 'purchaseRefundList'}"></table>
                    <div class="layui-col-md6">
                        <div class="layui-form-item"></div>
                    </div>
                    <div class="layui-col-md6 layui-col-sm12 layui-col-xs12 table-action-area">
                        <!--搜索按钮-->
                        <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action" id="query">
                            <i class="layui-icon">&#xe848;</i>查询
                        </div>
                        <!-- 刷新表格按钮-->
                        <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-green-plain table-action" id="reset">
                            <i class="layui-icon">&#xe79b;</i>刷新
                        </div>
                        <!--添加按钮-->
                        <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action
                                     "shiro:hasAnyPermissions="purchaseRefund:add" id="addTo">
                            <i class="layui-icon">&#xe78a;</i>新增
                        </div>
                        <!--修改按钮-->
                        <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action "
                             shiro:hasAnyPermissions="purchaseRefund:update" id="updateTo">
                            <i class="layui-icon">&#xe642;</i>修改
                        </div>
                    </div>
                    <br>
                    <br>
                    <table lay-filter="purchaseRefundTable" id="purchaseRefundTable" lay-data="{id: 'purchaseRefundTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="refund-state">
    {{#
    let refundState = {
    1: {title: '登记'},
    2: {title: '出库'},
    3: {title: '结算'}
    }[d.refundState];
    }}
    <span>{{ refundState.title }}</span>
</script>

<script type="text/html" id="refundLibrary-state">
    {{#
    let refundLibrary = {
    1: {title: '外购库'},
    2: {title: '机加库'},
    3: {title: '废品库'},
    4: {title: '资产库'},
    5: {title: '成品库'}
    }[d.refundLibrary];
    }}
    <span>{{ refundLibrary.title }}</span>
</script>

<script type="text/html" id="parameter-option">
    <span shiro:lacksPermission="purchaseRefund:view,purchaseRefund:update">
        <span class="layui-badge-dot febs-bg-orange"></span> 无权限
    </span>
    <a lay-event="edit" shiro:hasPermission="purchaseRefund:update"><i
            class="layui-icon febs-edit-area febs-blue">&#xe7a4;</i></a>
</script>
<script langguage="JavaScript">
    var deliveryDateTo = new Date().getFullYear() + '-' + (new Date().getMonth() + 1) + '-' + new Date().getDate();
</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdownMenu', 'jquery', 'laydate', 'form', 'table', 'febs', 'xmSelect'], function () {
        let $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            dropdownMenu = layui.dropdownMenu,
            $view = $('#purchaseRefund-list'),
            $query = $view.find('#query'),
            $addTo = $view.find('#addTo'),
            $updateTo = $view.find('#updateTo'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'createTime', type: null},
            tableIns;

        form.render();
        initPurchaseRequisitionTable();

        var firstDate = new Date();
        firstDate.setDate(1); //本月第一天
        var datetime =firstDate.getFullYear() + '-' + (firstDate.getMonth() + 1) + '-' + firstDate.getDate();
        /*  var endDate = new Date(firstDate);
          endDate.setMonth(firstDate.getMonth()+1);
          endDate.setDate(0);*///本月最后一天
        //开始日期
        var start = laydate.render({
            elem: '#start_date',
            max: 0 ,//设置一个默认最大值//最大值为当前日期
            trigger: 'click',
            value: new Date(firstDate),//初始赋值,//默认值本月第一天
            done:function(value,date){
                if(value && (value>$("#end_date").val())){
                    /*开始时间大于结束时间时，清空结束时间*/
                    $("#end_date").val("");
                }
                end.config.min ={
                    year:date.year,
                    month:date.month-1,
                    date: date.date,
                };
            }
        });
        //结束日期
        var end = laydate.render({
            elem: '#end_date',
            min : datetime,//最大值为当前日期
            trigger: 'click',
            value: new Date(),//初始赋值,//默认当前时间
            done:function(value,date){
                start.config.max={
                    year:date.year,
                    month:date.month-1,
                    date: date.date,
                }
            }
        });

        dropdownMenu.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                let checkStatus = table.checkStatus('purchaseRefundList');
            },
            options: []
        });

        table.on('tool(purchaseRefundList)', function (obj) {
            let data = obj.data,
                layEvent = obj.event;
        });

        table.on('sort(purchaseRefundList)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });
        var purchaseTableData = new Array(); // 用于存放表格数据
        $query.on('click', function () {
            let params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
            tableIns.reload({where: getQueryParams(), page: {curr: 1}});
        });
        $addTo.on('click', function () {
            febs.modal.open('【采购退货】 新增', 'purchase/purchaseRefund/add', {
                btn: ['删除行','删除整单','保存', '关闭'],
                area: ["80%","60%"],
                yes: function (index, layero) {
                    let checkStatus = table.checkStatus('purchaseRefundAdd-table')
                        , demo = table.cache["purchaseRefundAdd-table"];//获取表格中的数据
                    if (checkStatus.data.length < 1) {
                        layer.alert("请选择一条数据操作");
                        return false;
                    }else {
                        var tablelist = [];//存储未选中的数据
                        //循环表格数据
                        for (var i in demo) {
                            //判断未选中数据
                            if (!demo[i].LAY_CHECKED) {
                                //存入数组
                                tablelist.push(demo[i]);
                            }
                        }
                        //重载表格
                        table.reload('purchaseRefundAdd-table', {
                            data: tablelist
                        });

                    }
                    return false;
                },
                btn2: function () {
                    var dataBak = [];
                    layui.table.reload('purchaseRefundAdd-table',{
                        data:dataBak
                    });
                    return false;
                },
                btn3: function () {
                    $('#purchaseRefund-add').find('#submit').trigger('click');
                    return false;
                },
                btn4: function () {
                    layer.closeAll();
                }
            });
        });
        $updateTo.on('click', function () {
            let checkStatus = table.checkStatus('purchaseRefundList');
            if (!checkStatus.data.length) {
                febs.alert.warn('请选择需要修改的数据');
            }else if(checkStatus.data.length>1){
                febs.alert.warn('请选择一条需要修改的数据');
            }else{
                layui.each(checkStatus.data, function (key, item) {
                    febs.modal.open('【采购退货】 修改', 'purchase/purchaseRefund/update/' + item.id, {
                        area: ["80%","60%"],
                        btn: ['删除行','删除整单','保存', '关闭'],
                        yes: function (index, layero) {
                            let checkStatus = table.checkStatus('purchaseRefundRequisitionList')
                                , demo = table.cache["purchaseRefundRequisitionList"];//获取表格中的数据
                            if (checkStatus.data.length < 1) {
                                layer.alert("请选择一条数据操作");
                                return false;
                            }else {
                                var tablelist = [];//存储未选中的数据
                                //循环表格数据
                                for (var i in demo) {
                                    //判断未选中数据
                                    if (!demo[i].LAY_CHECKED) {
                                        //存入数组
                                        tablelist.push(demo[i]);
                                    }
                                }
                                //重载表格
                                table.reload('purchaseRefundRequisitionList', {
                                    data: tablelist
                                });

                            }
                            return false;
                        },
                        btn2: function () {
                            let refundNumber = [];
                            layui.each(checkStatus.data, function (key, item) {
                                refundNumber.push(item.refundNumber)
                            });
                            deletePurchaseRefundNumber(refundNumber.join(','));
                            layer.closeAll();
                            var dataBak = [];
                            layui.table.reload('purchaseRefundRequisitionList',{
                                data:dataBak
                            });
                            return false;
                        },
                        btn3: function () {
                            $('#purchaseRefund-update').find('#submit').trigger('click');
                            return false;
                        },
                        btn4: function () {
                            layer.closeAll();
                        }
                    });
                });
            }
        });

        function initPurchaseRequisitionTable() {
            tableIns = febs.table.init({
                elem: '#purchaseRefundList',
                id: 'purchaseRefundList',
                url: ctx + 'purchaseRefund/list',
                cols: [[
                    {type: 'checkbox'},
                    {field:'number',title:'序号',align:'center',width:60,templet:function (d) {
                            return d.LAY_INDEX;}},
                    {title: '状态', templet: '#refund-state',align:'center',width:60},
                    {field: 'refundDate', title: '日期',align:'center',templet:'<div>{{ layui.util.toDateString(d.refundDate, "yyyy-MM-dd") }}</div>', minWidth: 110, sort: true},
                    {field: 'refundNumber', title: '退货单号', minWidth: 145,align:'center'},
                    {field: 'supplierName', title: '供应商', minWidth: 120,align:'center'},
                    {title: '库房', templet: '#refundLibrary-state',align:'center',width:120},
                    {field: 'refundQuantity',title: '数量', minWidth: 55,align:'center'},
                    {field: 'refundMoney', title: '金额', minWidth: 95,align:'center'},
                    {field: 'currencyName', title: '币种', minWidth: 80,align:'center'},
                    {field: 'taxRateName', title: '税率', minWidth: 80,align:'center'},
                    {field: 'refundPreparer', title: '制单人', minWidth: 95,align:'center'},
                    {field: 'refundPreparationDate', title: '制单日期',align:'center',templet:'<div>{{ layui.util.toDateString(d.refundPreparationDate, "yyyy-MM-dd HH:mm:ss") }}</div>', minWidth: 160, sort: true},
                    {field: 'refundOutbound', title: '出库人', minWidth: 95,align:'center'},
                    {field: 'refundOutboundDate', title: '出库日期',align:'center',templet:'<div>{{ layui.util.toDateString(d.refundOutboundDate, "yyyy-MM-dd HH:mm:ss") }}</div>', minWidth: 160, sort: true}

                ]]
            });
        }
        table.on('row(purchaseRefundList)', function (obj) {

            let oddNumbers = obj.data.refundNumber;
            var dataBak = [];
            layui.table.reload('purchaseRefundTable',{
                data:dataBak
            });
            $.ajax({
                url: '/purchaseRefund/query',
                data:{"oddNumbers":oddNumbers},
                success : function(data) {
                    var oldDataOne;
                    var arr = data.replies;
                    for(var i=0;i<arr.length;i++){
                        var refundCode = arr[i].refundCode;
                        var refundName = arr[i].refundName;
                        var refundSpecifications = arr[i].refundSpecifications;
                        var refundQuality = arr[i].refundQuality;
                        var refundBrand = arr[i].refundBrand;
                        var refundCompany = arr[i].refundCompany;
                        var refundQuantity = arr[i].refundQuantity;
                        var refundPrice = arr[i].refundPrice;
                        var refundMoney = arr[i].refundMoney;
                        var orderNumber = arr[i].orderNumber;
                        var refundRemarks = arr[i].refundRemarks;
                        var dataOne={"refundCode":refundCode,"refundName":refundName,"refundSpecifications":refundSpecifications,"refundQuality":refundQuality,"refundBrand":refundBrand,"refundCompany":refundCompany,
                            "refundQuantity":refundQuantity,"refundPrice":refundPrice,"refundMoney":refundMoney,"orderNumber":orderNumber,"refundRemarks":refundRemarks};
                        oldDataOne =  table.cache["purchaseRefundTable"];
                        oldDataOne.push(dataOne);
                    }
                    layui.table.reload('purchaseRefundTable',{
                        data : oldDataOne
                    });
                }
            });
        });
        table.render({
            elem:'#purchaseRefundTable',
            data:purchaseTableData,
            cols: [[
                {field:'number',title:'序号',align:'center',width:60,templet:function (d) {
                        return d.LAY_INDEX;}},
                {field: 'refundCode',title: '编码', minWidth: 90,align:'center'},
                {field: 'refundName', title: '名称', minWidth: 90,align:'center'},
                {field: 'refundSpecifications', title: '规格', minWidth: 90,event:'specification',align:'center'},
                {field: 'refundQuality',title: '材质', minWidth: 55,align:'center'},
                {field: 'refundBrand',title: '品牌', minWidth: 55,align:'center'},
                {field: 'refundCompany',title: '单位', minWidth: 55,align:'center'},
                /*{field: 'orderQuantity',title: '订购数量', minWidth: 55,align:'center'},*/
                {field: 'refundQuantity',title: '退货数量', minWidth: 55,align:'center'},
                {field: 'refundPrice',title: '单价', minWidth: 55,align:'center'},
                {field: 'refundMoney',title: '金额', minWidth: 55,align:'center'},
                {field: 'orderNumber',title: '采购订单', minWidth: 55,align:'center'},
                {field: 'refundRemarks', title: '备注', minWidth: 72}
            ]]
        });

        function getQueryParams() {
            let params = $searchForm.serializeJson();
            params.invalidate_ie_cache = new Date();
            return params;
        }

        function deletePurchaseRefundNumber(refundNumber) {
            febs.get(ctx + 'purchaseRefund/delete/' + refundNumber, null, function () {
                febs.alert.success('删除整单参数成功');
                $query.click();
            });
        }
    })
    function dblclickCustomerName(){
        layui.use(['febs', 'form', 'validate', 'xmSelect'], function () {
            let $ = layui.$,
                febs = layui.febs;
            febs.modal.open('供应商选择列表', 'purchase/purchaseRefundAddName', {
                area:["55%","60%"],
                yes: function (index, layero) {
                }

            });
        });
    }

</script>