<style>
    #purchaseRefund-add xm-select {
        min-height: 30px;
        line-height: 30px;
    }
    #purchaseRefund-add xm-select > .xm-label .scroll .label-content {
        display: flex;
        padding: 0 30px 0 10px;
    }
    .layui-form-item .layui-input-inline {
        width: 160px;
    }
</style>
<div class="layui-fluid layui-anim febs-anim" id="purchaseRefund-add" lay-title="采购退货选择列表">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="purchaseRefund-add-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <label class="layui-form-mid" >单&nbsp;&nbsp;&nbsp;&nbsp;号&nbsp;<b>:</b></label>
                                    <div class="layui-input-inline" style="width: 115px">
                                        <input type="text" name="refundNumber" id="refundNumber"
                                               autocomplete="off" class="layui-input" placeholder="为空时自动生成" readonly>
                                    </div>
                                    <label class="layui-form-mid">日&nbsp;期&nbsp;<b>:</b></label>
                                    <div class="layui-input-inline" style="width: 115px">
                                        <input type="text" name="refundDate" id="refundDate"
                                               autocomplete="off" class="layui-input createDate" readonly>
                                    </div>
                                    <label class="layui-form-mid">供应商&nbsp;<b>:</b></label>
                                    <div class="layui-input-inline" style="width: 115px">
                                        <input type="text" name="supplierName" lay-verify="required"  id="supplierName" lay-reqtext="系统提示，请选择客户"  ondblclick="dblclickCustomerAddName()"
                                               autocomplete="off" class="layui-input" placeholder="请双击" readonly>
                                    </div>
                                    <label class="layui-form-mid">库&nbsp;房&nbsp;<b>:</b></label>
                                    <div class="layui-input-inline" style="width: 115px">
                                        <select name="storageLibrary" id="storageLibrary">
                                            <option th:each="location:${location}" th:value="${location.locationSorting}">[[${location.locationName}]]</option>
                                        </select>
                                    </div>
                                    <label class="layui-form-mid">币&nbsp;种&nbsp;<b>:</b></label>
                                    <div class="layui-input-inline" style="width: 115px">
                                        <select id="currencyNameAdd"  name="currencyNameAdd" lay-verify="required" class="layui-form-select" >
                                            <option th:each="currency:${currency}" th:value="${currency.id}">[[${currency.financeParameterName}]]</option>
                                        </select>
                                    </div>
                                    <label class="layui-form-mid">税&nbsp;率&nbsp;<b>:</b></label>
                                    <div class="layui-input-inline" style="width: 115px">
                                        <select id="taxRateNameAdd"  name="taxRateNameAdd" lay-verify="required" class="layui-form-select" >
                                            <option th:each="taxRate:${taxRate}" th:value="${taxRate.id}">[[${taxRate.financeParameterName}]]</option>
                                        </select>
                                    </div>
                                    <br>
                                    <br>
                                    <label class="layui-form-mid">入库单&nbsp;<b>:</b></label>
                                    <div class="layui-input-inline" style="width: 115px">
                                        <input type="text"  name="storageNumbers" autocomplete="off" class="layui-input">
                                    </div>
                                    <label class="layui-form-mid">编&nbsp;码&nbsp;<b>:</b></label>
                                    <div class="layui-input-inline" style="width: 115px">
                                        <input type="text" id="storageCode" name="storageCode" autocomplete="off" class="layui-input">
                                    </div>
                                    <label class="layui-form-mid">名&nbsp;&nbsp;&nbsp;&nbsp;称&nbsp;<b>:</b></label>
                                    <div class="layui-input-inline" style="width: 115px">
                                        <input type="text" name="storageName" autocomplete="off" class="layui-input">
                                    </div>
                                    <label class="layui-form-mid">规&nbsp;格&nbsp;<b>:</b></label>
                                    <div class="layui-input-inline" style="width: 115px">
                                        <input type="text" name="storageSpecifications" autocomplete="off" class="layui-input">
                                    </div>
                                    <label class="layui-form-mid">小&nbsp;类&nbsp;<b>:</b></label>
                                    <div class="layui-input-inline" style="width: 115px">
                                        <select name="storageSubclass" id="storageSubclass">
                                            <option value=""></option>
                                            <option value="1">键盘</option>
                                            <option value="2">电脑</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <!--搜索按钮-->
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>查询
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="purchaseRefundAdd" id="purchaseRefundAdd" lay-data="{id: 'purchaseRefundAdd'}"></table>
                    <br>
                    <table lay-filter="purchaseRefundAdd-table" id="purchaseRefundAdd-table" lay-data="{id: 'purchaseRefundAdd-table'}"></table>
                    <div class="layui-form-item febs-hide">
                        <button class="layui-btn" lay-submit="" lay-filter="purchaseRefund-add-form-submit" id="submit"></button>
                        <button type="reset" class="layui-btn" id="reset"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="material-state">
    {{#
    let materialState = {
    1: {title: '启用', color: 'green'},
    2: {title: '禁用', color: 'volcano'}
    }[d.materialState];
    }}
    <span class="layui-badge febs-bg-{{materialState.color}}">{{ materialState.title }}</span>
</script>
<script type="text/html" id="zizeng">
    {{d.LAY_TABLE_INDEX+1}}
</script>
<script langguage="JavaScript">

    var now = new Date();
    refundDate.value=new Date().getFullYear() + '-' + (new Date().getMonth() + 1) + '-' + new Date().getDate();

</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdownMenu', 'jquery', 'laydate', 'form', 'table', 'febs', 'xmSelect' , 'validate'], function () {
        let $ = layui.jquery,
            febs = layui.febs,
            form = layui.form,
            laydate = layui.laydate,
            table = layui.table,
            layer = layui.layer,
            $view = $('#purchaseRefund-add'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'createDate', type: null},
            createdDateFrom,
            createdDateTo,
            tableIns;

        form.render();

        initTable();

        let userName = currentUser.username;
        table.on('tool(purchaseRefundAdd)', function (obj) {
            let data = obj.data,
                layEvent = obj.event;

        });

        //日期同时绑定多个
        lay('.createDate').each(function(){
            laydate.render({
                elem: this
                ,trigger: 'click'
            });
        });

        table.on('sort(purchaseRefundAdd)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });
        table.on('rowDouble(purchaseRefundAdd)', function (obj) {
            var data = obj.data;
            var storageLibrary = data.storageLibrary;
            var supplierName = data.supplierName;
            var storageCode = data.storageCode;
            var storageName = data.storageName;
            var storageSpecifications = data.storageSpecifications;
            var storageQuality = data.storageQuality;
            var storageCompany = data.storageCompany;
            var storageQuantity = data.storageQuantity;
            var refundAmount = data.refundQuantity;
            var unitPrice = data.unitPrice;
            var storageMoney = data.storageMoney;
            var storageRemarks = data.storageRemarks;
            var orderNumber = data.orderNumber;
            var storageBrand = data.storageBrand;
            var storageSubclass = data.storageSubclass;
            var storageCategory = data.storageCategory;
            var storageDeposit = data.storageDeposit;
            $.ajax({
                url: '/saleOrder/random',
                success : function(data) {
                    var random = data.data;
                    var oldData =  table.cache["purchaseRefundAdd-table"];
                    var dataOne={"refundLibrary":storageLibrary,
                        "supplierName":supplierName,"refundCode":storageCode,
                        "refundName":storageName,"refundSpecifications":storageSpecifications,
                        "refundQuality":storageQuality,"refundCompany":storageCompany,
                        "refundPrice":unitPrice,"refundQuantity":storageQuantity,"refundAmount":refundAmount,"refundMoney":storageMoney,
                        "refundRemarks":storageRemarks, "orderNumber":orderNumber, "refundBrand":storageBrand,
                        "refundSubclass":storageSubclass, "refundCategory":storageCategory , "refundDeposit":storageDeposit};
                    oldData.push(dataOne);
                    layui.table.reload('purchaseRefundAdd-table',{
                        data : oldData
                    });
                }
            });
        });
        var tableData=new Array(); // 用于存放表格数据
        $query.on('click', function () {
            let params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });
        $reset.on('click', function () {
            $searchForm[0].reset();
            tableIns.reload({where: getQueryParams(), page: {curr: 1}});
        });

        function initTable() {
            tableIns = febs.table.init({
                elem: '#purchaseRefundAdd',
                id: 'purchaseRefundAdd',
                url: ctx + 'purchaseRefundAdd/list',
                where:{
                    supplierName:$('#supplierName').val()
                },
                cols: [
                    [
                        {type: 'checkbox'},
                        {field: 'storageLibrary', title: '库房',align:'center', minWidth: 120},
                        {field: 'supplierName', title: '供应商',align:'center', minWidth: 120},
                        {field: 'storageCode', title: '编码',align:'center', minWidth: 100},
                        {field: 'storageName', title: '名称',align:'center', minWidth: 100},
                        {field: 'storageSpecifications', title: '规格',align:'center', minWidth: 100},
                        {field: 'storageQuality', title: '材质',align:'center', minWidth: 100},
                        {field: 'storageCompany', title: '单位',align:'center', minWidth: 60},
                        {field: 'storageQuantity', title: '库存数量',align:'center', minWidth: 100},
                        /* {field: 'meteringCompany', title: '最近采购单价',align:'center', minWidth: 100},*/
                        {field: 'refundQuantity', title: '数量',align:'center',minWidth: 80,edit: true},
                        {
                            field: 'unitPrice',
                            title: '单价',
                            minWidth: 55,
                            align: 'center',
                            templet: function (data) {
                                var price = parseFloat(data.unitPrice).toFixed(2); //设置小数点后个数
                                return price;
                            }
                        },
                        //{field: 'refundMoney', title: '金额',align:'center', minWidth: 80},
                        {
                            field: 'storageMoney',
                            title: '金额',
                            minWidth: 55,
                            align: 'center',
                            templet: function (data) {
                                var price = parseFloat(data.storageMoney).toFixed(2); //设置小数点后个数
                                return price;
                            }
                        },
                        {field: 'storageRemarks', title: '备注',align:'center', minWidth: 80}
                    ]
                ]
            });
        };
        table.render({
            elem:'#purchaseRefundAdd-table',
            data:tableData,
            cols: [[
                {type: 'checkbox'},
                {field: 'refundLibrary', title: '库房',align:'center', minWidth: 120},
                {field: 'supplierName', title: '供应商',align:'center', minWidth: 120},
                {field: 'refundCode', title: '编码',align:'center', minWidth: 100},
                {field: 'refundName', title: '名称',align:'center', minWidth: 100},
                {field: 'refundSpecifications', title: '规格',align:'center', minWidth: 100},
                {field: 'refundQuality', title: '材质',align:'center', minWidth: 100},
                {field: 'refundCompany', title: '单位',align:'center', minWidth: 60},
                {field: 'refundQuantity', title: '库存数量',align:'center', minWidth: 100},
                {field: 'refundAmount', title: '退货数',align:'center',minWidth: 80},
                //{field: 'refundPrice', title: '单价',align:'center', minWidth: 80},
                {
                    field: 'refundPrice',
                    title: '单价',
                    minWidth: 55,
                    align: 'center',
                    templet: function (data) {
                        var price = parseFloat(data.refundPrice).toFixed(2); //设置小数点后个数
                        return price;
                    }
                },
                //{field: 'refundMoney', title: '金额',align:'center', minWidth: 80},
                {
                    field: 'refundMoney',
                    title: '金额',
                    minWidth: 55,
                    align: 'center',
                    templet: function (data) {
                        var price = parseFloat(data.refundMoney).toFixed(2); //设置小数点后个数
                        return price;
                    }
                },
                {field: 'refundRemarks', title: '备注',align:'center', minWidth: 80}
            ]]
        });
        table.on('rowDouble(purchaseRefundAdd-table)', function (obj) {
            var data = obj.data;
            var oldData =  table.cache["purchaseRefundAdd-table"];
            if (obj.tr.data('index') != -1) {
                oldData.splice(obj.tr.data('index'), 1)//根据索引删除当前行
                layui.table.reload('purchaseRefundAdd-table',{
                    data: oldData
                });
            }
        });
        function getQueryParams() {
            let params = $searchForm.serializeJson();
            let signedTime = params.signedTime;
            if (signedTime) {
                createdDateFrom = signedTime.split(' - ')[0];
                createdDateTo = signedTime.split(' - ')[1];
            }
            params.createdDateFrom = createdDateFrom;
            params.createdDateTo = createdDateTo;
            params.invalidate_ie_cache = new Date();
            return params;
        }

        //监听行单击事件  给每一行数据绑定点击事件T
        //row(tableBigType)  表格的id
        table.on('edit(purchaseRefundAdd-table)', function(obj){
            trDataMoney = obj.data
            var tdOrderQuantity =  trDataMoney.refundAmount;
            if (tdOrderQuantity !="" && tdOrderQuantity != undefined && tdOrderQuantity != null){
                var tdUnitPrice = trDataMoney.refundPrice;
                var money  = parseInt(tdOrderQuantity) * parseInt(tdUnitPrice);
                trDataMoney.refundMoney = money;
                obj.update(obj.data);
            }
        });

        //监听行单击事件  给每一行数据绑定点击事件T
        //row(tableBigType)  表格的id
        table.on('edit(purchaseRefundAdd)', function(obj){
            trDataMoney = obj.data
            var tdOrderQuantity =  trDataMoney.refundQuantity;
            if (tdOrderQuantity !="" && tdOrderQuantity != undefined && tdOrderQuantity != null){
                var tdUnitPrice = trDataMoney.unitPrice;
                var money  = parseInt(tdOrderQuantity) * parseInt(tdUnitPrice);
                trDataMoney.storageMoney = money;
                obj.update(obj.data);
            }
            var tdStorageQuantity =  trDataMoney.storageQuantity;
            if (tdStorageQuantity !="" && tdStorageQuantity != undefined && tdStorageQuantity != null){
                var tdRefundQuantity = trDataMoney.refundQuantity;
                var storageQuantity  = parseInt(tdStorageQuantity) - parseInt(tdRefundQuantity);
                trDataMoney.storageQuantity = storageQuantity;
                obj.update(obj.data);
            }
        });

        form.on('submit(purchaseRefund-add-form-submit)', function (data) {
            var supplierName = $('#supplierNameRefund').val();
            var refundLibrary = $('#refundLibrary').val();
            var currencyNameAdd = $('#currencyNameAdd').val();
            var taxRateNameAdd = $('#taxRateNameAdd').val();
            var refundDate = $('#refundDate').val();
            let dataThree = new Array();
            let purchaseRefundTable =  table.cache["purchaseRefundAdd-table"];
            for (i=0;i<purchaseRefundTable.length;i++){
                let dataOne={
                    "refundLibrary":purchaseRefundTable[i].refundLibrary,
                    "supplierName":purchaseRefundTable[i].supplierName,
                    "refundCode":purchaseRefundTable[i].refundCode,
                    "refundName":purchaseRefundTable[i].refundName,
                    "refundSpecifications":purchaseRefundTable[i].refundSpecifications,
                    "refundQuality":purchaseRefundTable[i].refundQuality,
                    "refundCompany":purchaseRefundTable[i].refundCompany,
                    "refundPrice":purchaseRefundTable[i].refundPrice,
                    "refundQuantity":purchaseRefundTable[i].refundQuantity,
                    "refundAmount":purchaseRefundTable[i].refundAmount,
                    "refundMoney":purchaseRefundTable[i].refundMoney,
                    "refundRemarks":purchaseRefundTable[i].refundRemarks,
                    "orderNumber":purchaseRefundTable[i].orderNumber,
                    "refundBrand":purchaseRefundTable[i].refundBrand,
                    "refundSubclass":purchaseRefundTable[i].refundSubclass,
                    "refundCategory":purchaseRefundTable[i].refundCategory,
                    "refundDeposit":purchaseRefundTable[i].refundDeposit
                };
                dataThree.push(dataOne);
            }
            let entity = {userName:userName,refundLibrary: refundLibrary,supplierName:supplierName,currencyId: currencyNameAdd,
                taxRateId: taxRateNameAdd,refundDate:refundDate}
            $.ajax({
                url: '/purchaseRefund/add',
                type:"post",
                data: {purchaseRefund:JSON.stringify(entity),dataTable:JSON.stringify(dataThree)},
                success : function(res) {
                    layer.closeAll();
                    $('#purchaseRefund-list').find('#query').click();
                    var dataBak = [];
                    layui.table.reload('purchaseRequisitionTableOne',{
                        data:dataBak
                    });
                }
            });
            return false;
        });



    });
    function dblclickCustomerAddName(){
        layui.use(['febs', 'form', 'validate', 'xmSelect'], function () {
            let $ = layui.$,
                febs = layui.febs;
            febs.modal.open('供应商选择列表', 'purchase/purchaseRefundAddName', {
                area:["55%","60%"],
                yes: function (index, layero) {
                }

            });
        });
    }
</script>