<style>
    #febs-personnelMobility xm-select {
        min-height: 30px;
        line-height: 30px;
    }
    #febs-personnelMobility xm-select > .xm-label .scroll .label-content {
        display: flex;
        padding: 0 30px 0 10px;
    }
    .layui-form-item .layui-input-inline {
        width: 160px;
    }
</style>
<div class="layui-fluid layui-anim febs-anim" id="febs-personnelMobility" lay-title="调岗记录">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="parameter-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md9">
                                <div class="layui-form-item">
                                    <div class="layui-inline" >
                                        <label class="layui-form-label layui-form-label-sm">工号</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="jobNumber" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline" >
                                        <label class="layui-form-label layui-form-label-sm">姓名</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="userName" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">状态</label>
                                        <div class="layui-input-inline">
                                            <select name="transferStatus">
                                                <option value=""></option>
                                                <option value="1">晋升</option>
                                                <option value="2">降级</option>
                                                <option value="3">岗位调动</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md3 layui-col-sm12 layui-col-xs12 table-action-area">
                                <!--搜索按钮-->
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>搜索
                                </div>
                               <!-- 刷新表格按钮-->
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-green-plain table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>刷新
                                </div>
                                <!--添加按钮-->
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action "shiro:hasAnyPermissions="personnelMobility:add" id="addTo">
                                    <i class="layui-icon">&#xe78a;</i>添加
                                </div>
                                <!--删除按钮-->
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action "shiro:hasAnyPermissions="personnelMobility:delete" id="deleteTo">
                                    <i class="layui-icon">&#xe8a1;</i>删除
                                </div>
                               <!-- <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action action-more"
                                     shiro:hasAnyPermissions="personnelMobility:export" id="exportTo">
                                    <i class="layui-icon">&#xe7a8;</i>导出
                                </div>-->
                            </div>
                        </div>
                    </form>
                    <table lay-filter="mobilityTable" lay-data="{id: 'mobilityTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="mobility-gender">
    {{#
    let gender = {
    1: {title: '男'},
    2: {title: '女'}
    }[d.gender];
    }}
    <span>{{ gender.title }}</span>
</script>
<script type="text/html" id="mobility_transferStatus">
    {{#
    let transferStatus = {
    1: {title: '晋升', color: 'green'},
    2: {title: '降级', color: 'red'},
    3: {title: '岗位调动', color: 'blue'}
    }[d.transferStatus];
    }}
    <span class="layui-badge febs-bg-{{transferStatus.color}}">{{ transferStatus.title }}</span>
</script>
<script type="text/html" id="parameter-option">
    <span shiro:lacksPermission="personnelMobility:list,personnelMobility:update,personnelMobility:delete">
        <span class="layui-badge-dot febs-bg-orange"></span> 无权限
    </span>
   <!-- <a lay-event="edit" shiro:hasPermission="personnelMobility:update"><i
            class="layui-icon febs-edit-area febs-blue">&#xe7a4;</i></a>-->
    <!--<a lay-event="del" shiro:hasPermission="personnelMobility:delete"><i class="layui-icon febs-del-area febs-red">&#xe7f9;</i></a>-->
    <a lay-event="export" shiro:hasPermission="personnelMobility:export"><i
            class="layui-icon febs-export-area febs-blue">&#xe67d;</i></a>
</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdownMenu', 'jquery', 'laydate', 'form', 'table', 'febs', 'xmSelect'], function () {
        let $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            dropdownMenu = layui.dropdownMenu,
            $view = $('#febs-personnelMobility'),
            $query = $view.find('#query'),
            $addTo = $view.find('#addTo'),
            $deleteTo = $view.find('#deleteTo'),
            $exportTo = $view.find('#exportTo'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'createDate', type: null},
            tableIns;

        form.render();

        initTable();

        //日期同时绑定多个
        lay('.createTime').each(function(){
            laydate.render({
                elem: this,
                range: true,
                trigger: 'click'
            });
        })
        dropdownMenu.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                let checkStatus = table.checkStatus('mobilityTable');
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        febs.alert.warn('请选择需要删除的数据');
                    } else {
                        febs.modal.confirm('删除领取记录信息', '确定删除？', function () {
                            let ids = [];
                            layui.each(checkStatus.data, function (key, item) {
                                ids.push(item.id)
                            });
                            deletePersonnelMobility(ids.join(','));
                        });
                    }
                }
            },
            options: [{
                name: 'add',
                title: '新增',
                perms: 'personnelMobility:add'
            }, {
                name: 'delete',
                title: '删除',
                perms: 'personnelMobility:delete'
            }]
        });
        table.on('tool(mobilityTable)', function (obj) {
            let data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'export') {
                exportPersonnelMobility(data.id);
            }
            if (layEvent === 'del') {
                febs.modal.confirm('删除调岗记录信息', '确定删除？', function () {
                   deletePersonnelMobility(data.id);
                });
            }
            if (layEvent === 'edit') {
                febs.modal.open('修改领取记录信息', 'personnel/personnelMobility/update/' + data.id, {
                    area: $(window).width() <= 750 ? '90%' : '30%',
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#personnelMobility-update').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }
        });

        table.on('sort(mobilityTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });

        $query.on('click', function () {
            let params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
            tableIns.reload({where: getQueryParams(), page: {curr: 1}});
        });
        $addTo.on('click', function () {
            febs.modal.open('新增调岗记录', 'personnel/personnelMobility/add', {
                type:1,
                btn: ['提交', '重置'],
                area: $(window).width() <= 750 ? '95%' : '40%',
                yes: function (index, layero) {
                    $('#personnelMobility-add').find('#submit').trigger('click');
                },
                btn2: function () {
                    $('#personnelMobility-add').find('#reset').trigger('click');
                    $("#mobilityUserId").attr("value","");
                    $("#mobilityGender").attr("value","");
                    $("#mobilityJobNumber").attr("value","");
                    $("#mobilityUserName").attr("value","");
                    $("#mobilityBirthdate").attr("value","");
                    $("#mobilityPhone").attr("value","");
                    $("#mobilityDepartmentName").attr("value","");
                    $("#mobilityPositionName").attr("value","");
                    $("#mobilityGroupingName").attr("value","");
                    $("#mobilityIdentityArd").attr("value","");
                    return false;
                }
            });
        });
        $deleteTo.on('click', function () {
            let checkStatus = table.checkStatus('mobilityTable');
            if (!checkStatus.data.length) {
                febs.alert.warn('请选择需要删除的数据');
            } else {
                febs.modal.confirm('删除参数信息', '确定删除？', function () {
                    let ids = [];
                    layui.each(checkStatus.data, function (key, item) {
                        ids.push(item.id)
                    });
                    deletePersonnelMobility(ids.join(','));
                });
            }
        });
        $exportTo.on('click', function () {
            let params = getQueryParams();
            params.pageSize = $view.find(".layui-laypage-limits option:selected").val();
            params.pageNum = $view.find(".layui-laypage-em").next().html();
            febs.download(ctx + 'personnelMobility/excel', params, '员工合同表.xlsx');
        });
        function initTable() {
            tableIns = febs.table.init({
                elem: $view.find('table'),
                id: 'mobilityTable',
                url: ctx + 'personnelMobility/list',
                cols: [[
                    {type: 'checkbox'},
                    {field:'number',title:'序列号',align:'center',width:80,templet:function (d) {
                                        return d.LAY_INDEX;}},
                    {field: 'id', title: '编号',hide:true,sort: true},
                    {field: 'jobNumber', title: '工号',align:'center', minWidth: 90},
                    {field: 'userName', title: '姓名',align:'center', minWidth: 80},
                    {title: '性别', templet: '#mobility-gender',align:'center', minWidth: 60},
                    {field: 'phone', title: '联系方式', minWidth: 85},
                    {field: 'identityArd', title: '身份证号', minWidth: 80},
                    {field: 'departmentName', title: '原部门', minWidth: 100},
                    {field: 'positionName', title: '原岗位', minWidth: 100},
                    {field: 'groupingName', title: '原职务', minWidth: 80},
                    {field: 'toDepartmentName', title: '调至部门',align:'center', minWidth: 90},
                    {field: 'toPositionName', title: '调至岗位', minWidth: 100},
                    {field: 'toGroupingName', title: '调至职务', minWidth: 90},
                    {field: 'transferData', title: '生效日期',align:'center',templet:'<div>{{ layui.util.toDateString(d.transferData, "yyyy-MM-dd") }}</div>', minWidth: 110, sort: true},
                    {title: '类型', templet: '#mobility_transferStatus',align:'center', minWidth: 100},
                    {title: '操作', toolbar: '#parameter-option', minWidth: 75}
                ]]
            });
        }

        function getQueryParams() {
            let params = $searchForm.serializeJson();
            params.invalidate_ie_cache = new Date();
            return params;
        }


        function deletePersonnelMobility(ids) {
            febs.get(ctx + 'personnelMobility/delete/' + ids, null, function () {
                febs.alert.success('删除调岗记录成功');
                $query.click();
            });
        }
        function exportPersonnelMobility(id) {
            location.href = "personnelMobility/export/"+ id
        }

    })

</script>