<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.sale.mapper.SaleParametersMapper">

    <sql id="countSaleParameterssSql" >
        SELECT
            COUNT( 1 )
        FROM
            jr_sale_parameters sp
        WHERE
            1 = 1
        <if test="saleParameters.parameterName != null and saleParameters.parameterName != ''">
            AND sp.parameter_name = #{saleParameters.parameterName}
        </if>
        <if test="saleParameters.parameterCategory != null and saleParameters.parameterCategory != ''">
            AND sp.parameter_category = #{saleParameters.parameterCategory}
        </if>
        <if test="saleParameters.parameterState != null and saleParameters.parameterState != ''">
            AND sp.parameter_state = #{saleParameters.parameterState}
        </if>
    </sql>
    <sql id="findSaleParameterssSql" >
        SELECT
            sp.id,
            sp.parameter_category parameterCategory,
            sp.parameter_value parameterValue,
            sp.parameter_name parameterName,
            sp.parameter_sort parameterSort,
            sp.parameter_state parameterState,
            sp.parameter_remarks parameterRemarks
        FROM
            jr_sale_parameters sp
        WHERE
            1 = 1
        <if test="saleParameters.parameterName != null and saleParameters.parameterName != ''">
            AND sp.parameter_name = #{saleParameters.parameterName}
        </if>
        <if test="saleParameters.parameterCategory != null and saleParameters.parameterCategory != ''">
            AND sp.parameter_category = #{saleParameters.parameterCategory}
        </if>
        <if test="saleParameters.parameterState != null and saleParameters.parameterState != ''">
            AND sp.parameter_state = #{saleParameters.parameterState}
        </if>
        ORDER BY sp.parameter_category, sp.parameter_sort
    </sql>
    <select id="countSaleParameterss" parameterType="com.erp.sale.entity.SaleParameters" resultType="long">
        <include refid="countSaleParameterssSql"/>
    </select>

    <select id="findSaleParameterssPage" parameterType="com.erp.sale.entity.SaleParameters" resultType="com.erp.sale.entity.SaleParameters">
        <include refid="findSaleParameterssSql"/>
    </select>

    <select id="findSaleParametersById" parameterType="long" resultType="com.erp.sale.entity.SaleParameters">
        SELECT
            sp.id,
            sp.parameter_category parameterCategory,
            sp.parameter_value parameterValue,
            sp.parameter_name parameterName,
            sp.parameter_sort parameterSort,
            sp.parameter_state parameterState,
            sp.parameter_remarks parameterRemarks
        FROM
            jr_sale_parameters sp
        WHERE
            sp.id = #{id}
    </select>
</mapper>
