<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.sale.mapper.SaleApplicationMapper">
    <sql id="countSaleApplicationSql" >
        SELECT
            COUNT( 1 )
        FROM
            jr_sale_application sa
        LEFT JOIN jr_sale_application_schedule sas ON ( sa.application_no = sas.application_no )
        WHERE
            1 = 1
        <if test="saleApplicationAll.signedDateFrom != null and saleApplicationAll.signedDateFrom !=''">
            And sa.requested_delivery_date &gt; #{saleApplicationAll.signedDateFrom}
        </if>
        <if test="saleApplicationAll.signedDateTo != null and saleApplicationAll.signedDateTo !=''">
            And sa.requested_delivery_date &lt; #{saleApplicationAll.signedDateTo}
        </if>
        <if test="saleApplicationAll.customerName != null and saleApplicationAll.customerName !=''">
            And sa.customer_name = #{saleApplicationAll.customerName}
        </if>
        <if test="saleApplicationAll.salesmanName != null and saleApplicationAll.salesmanName !=''">
            And sa.salesman_name = #{saleApplicationAll.salesmanName}
        </if>
        <if test="saleApplicationAll.applicationNo != null and saleApplicationAll.applicationNo !=''">
            And sa.application_no = #{saleApplicationAll.applicationNo}
        </if>
        <if test="saleApplicationAll.productName != null and saleApplicationAll.productName !=''">
            And sas.product_name = #{saleApplicationAll.productName}
        </if>
        <if test="saleApplicationAll.specificationModel != null and saleApplicationAll.specificationModel !=''">
            And sas.specification_model = #{saleApplicationAll.specificationModel}
        </if>
    </sql>
    <sql id="findSaleApplicationSql" >
        SELECT
        sa.id,
        sa.requested_delivery_date requestedDeliveryDate,
        sa.application_no applicationNo,
        sa.customer_id customerId,
        sa.customer_name customerName,
        sa.salesman_name salesmanName,
        sa.enclosure_name enclosureName,
        sas.design_date designDate,
        sas.design_reply designReply,
        sas.purchase_date purchaseDate,
        sas.purchase_reply purchaseReply,
        sas.production_date productionDate,
        sas.production_reply productionReply,
        sas.assembling_date assemblingDate,
        sas.assembling_reply assemblingReply,
        sas.id scheduleId,
        sas.product_name productName,
        sas.specification_model specificationModel,
        sas.configure_name configureName,
        sas.company_name companyName,
        sas.quantity_name quantityName,
        sas.explain_name explainName,
        sas.machine_requirements machineRequirements,
        sas.computer_configuration computerConfiguration,
        sas.tool_size toolSize,
        sas.hourly_production hourlyProduction,
        sas.processing_procedure processingProcedure,
        sas.fixture_requirements fixtureRequirements,
        sas.product_shape productShape,
        sas.product_size productSize,
        sas.other_requirements otherRequirements
        FROM
        jr_sale_application sa
        LEFT JOIN jr_sale_application_schedule sas ON (sa.application_no = sas.application_no)
        WHERE
        1 = 1
        <if test="saleApplicationAll.signedDateFrom != null and saleApplicationAll.signedDateFrom !=''">
            And sa.requested_delivery_date &gt; #{saleApplicationAll.signedDateFrom}
        </if>
        <if test="saleApplicationAll.signedDateTo != null and saleApplicationAll.signedDateTo !=''">
            And sa.requested_delivery_date &lt; #{saleApplicationAll.signedDateTo}
        </if>
        <if test="saleApplicationAll.customerName != null and saleApplicationAll.customerName !=''">
            And sa.customer_name = #{saleApplicationAll.customerName}
        </if>
        <if test="saleApplicationAll.salesmanName != null and saleApplicationAll.salesmanName !=''">
            And sa.salesman_name = #{saleApplicationAll.salesmanName}
        </if>
        <if test="saleApplicationAll.applicationNo != null and saleApplicationAll.applicationNo !=''">
            And sa.application_no = #{saleApplicationAll.applicationNo}
        </if>
        <if test="saleApplicationAll.productName != null and saleApplicationAll.productName !=''">
            And sas.product_name = #{saleApplicationAll.productName}
        </if>
        <if test="saleApplicationAll.specificationModel != null and saleApplicationAll.specificationModel !=''">
            And sas.specification_model = #{saleApplicationAll.specificationModel}
        </if>
        order by  sa.application_no
    </sql>
    <select id="countSaleApplication" parameterType="com.erp.sale.entity.SaleApplicationAll" resultType="long">
        <include refid="countSaleApplicationSql"/>
    </select>

    <select id="findSaleApplicationPage" parameterType="com.erp.sale.entity.SaleApplicationAll" resultType="com.erp.sale.entity.SaleApplicationAll">
        <include refid="findSaleApplicationSql"/>
    </select>
    <insert id="addSaleApplication" parameterType="com.erp.sale.entity.SaleApplication">
        INSERT INTO jr_sale_application (
            requested_delivery_date, application_no, customer_name,salesman_name,enclosure_name,create_date)
        VALUES
            (#{requestedDeliveryDate},
             #{applicationNo},
             #{customerName},
             #{salesmanName},
             #{enclosureName},
             #{createDate}
            )
    </insert>
    <insert id="addSaleApplicationSchedule" parameterType="com.erp.sale.entity.SaleApplicationSchedule">
        INSERT INTO jr_sale_application_schedule (
            application_no,product_name,specification_model,configure_name
            ,company_name, quantity_name, explain_name,machine_requirements,computer_configuration,
            tool_size,hourly_production,processing_procedure,fixture_requirements,product_shape,product_size,other_requirements)
        VALUES
            (
             #{applicationNo},
             #{productName},
             #{specificationModel},
             #{configureName},
             #{companyName},
             #{quantityName},
             #{explainName},
             #{machineRequirements},
             #{computerConfiguration},
             #{toolSize},
             #{hourlyProduction},
             #{processingProcedure},
             #{fixtureRequirements},
             #{productShape},
             #{productSize},
             #{otherRequirements}
            )
    </insert>

    <select id="quantityNameStatistics" resultType="int">
        select sum(jsa.quantity_name) from jr_sale_application jsa
    </select>

    <!--销售申请页面查看配置信息-->
    <select id="findSaleApplicationConfigureViewById" parameterType="long" resultType="com.erp.sale.entity.SaleApplicationSchedule">
       SELECT
            sas.machine_requirements machineRequirements,
            sas.computer_configuration computerConfiguration,
            sas.tool_size toolSize,
            sas.hourly_production hourlyProduction,
            sas.processing_procedure processingProcedure,
            sas.fixture_requirements fixtureRequirements,
            sas.product_shape productShape,
            sas.product_size productSize,
            sas.other_requirements otherRequirements
        FROM
            jr_sale_application_schedule sas
        WHERE
            sas.id = #{id}
    </select>


    <!-- 设计回复回显查询-->
    <select id="findSaleApplicationById" parameterType="Long" resultType="com.erp.sale.entity.SaleApplication">
       SELECT
            sa.id,
            sa.requested_delivery_date requestedDeliveryDate,
            sa.application_no applicationNo,
            sa.customer_id customerId,
            sa.customer_name customerName,
            sa.salesman_name salesmanName,
            sa.enclosure_name enclosureName
        FROM
            jr_sale_application sa
        WHERE
            sa.id =  #{id}
    </select>


    <select id="saleApplicationsList" parameterType="String" resultType="com.erp.sale.entity.SaleApplicationAll">
        SELECT
            sa.id,
            sa.requested_delivery_date requestedDeliveryDate,
            sa.application_no applicationNo,
            sa.customer_id customerId,
            sa.customer_name customerName,
            sa.salesman_name salesmanName,
            sa.enclosure_name enclosureName,
            sas.design_date designDate,
            sas.design_reply designReply,
            sas.purchase_date purchaseDate,
            sas.purchase_reply purchaseReply,
            sas.production_date productionDate,
            sas.production_reply productionReply,
            sas.assembling_date assemblingDate,
            sas.assembling_reply assemblingReply,
            sas.id scheduleId,
            sas.product_name productName,
            sas.specification_model specificationModel,
            sas.configure_name configureName,
            sas.company_name companyName,
            sas.quantity_name quantityName,
            sas.explain_name explainName,
            sas.machine_requirements machineRequirements,
            sas.computer_configuration computerConfiguration,
            sas.tool_size toolSize,
            sas.hourly_production hourlyProduction,
            sas.processing_procedure processingProcedure,
            sas.fixture_requirements fixtureRequirements,
            sas.product_shape productShape,
            sas.product_size productSize,
            sas.other_requirements otherRequirements
        FROM
            jr_sale_application sa
        LEFT JOIN jr_sale_application_schedule sas ON (sa.application_no = sas.application_no)
        WHERE
            sa.application_no = #{applicationNoTwo}
    </select>
     <!--根据传过来的参数，回复销售申请表里的设计交期，备注内容-->
    <update id = "designReplySaleApplication" parameterType = "String" >
        UPDATE jr_sale_application_schedule sas
        SET sas.design_date = #{designDate},
            sas.design_reply = #{designReply}
        WHERE sas.id = #{id}
    </update>
    <!--根据传过来的参数，回复销售申请表里的采购交期，备注内容-->
    <update id = "saleApplicationPurchaseReply" parameterType = "String" >
        UPDATE jr_sale_application_schedule sas
        SET sas.purchase_date = #{purchaseDate},
            sas.purchase_reply = #{purchaseReply}
        WHERE sas.id = #{id}
    </update>
    <!--根据传过来的参数，回复销售申请表里的生产交期，备注内容-->
    <update id = "saleApplicationProductionReply" parameterType = "String" >
        UPDATE jr_sale_application_schedule sas
        SET sas.production_date = #{productionDate},
            sas.production_reply = #{productionReply}
        WHERE sas.id = #{id}
    </update>
    <!--根据传过来的参数，回复销售申请表里的装配交期，备注内容-->
    <update id = "saleApplicationAssemblingReply" parameterType = "String" >
        UPDATE jr_sale_application_schedule sas
        SET sas.assembling_date = #{assemblingDate},
            sas.assembling_reply = #{assemblingReply}
        WHERE sas.id = #{id}
    </update>
  <!--向数据库添加回复数据-->
    <insert id="addSaleApplicationReply" parameterType="com.erp.sale.entity.SaleApplicationReply">
        INSERT INTO
            jr_sale_application_reply
            (sale_application_id,
             respondent,
             reply_date,
             reply_delivery_date,
             reply_content,
             reply_department
             )
        VALUES
            (
             #{saleApplicationId},
             #{respondent},
             #{replyDate},
             #{replyDeliveryDate},
             #{replyContent},
             #{replyDepartment}
            )
    </insert>
   <!--查看设计回复详情-->
    <select id="findSaleApplicationDesignViewById" resultType="com.erp.sale.entity.SaleApplicationReply">
        SELECT
            sar.sale_application_id saleApplicationId,
            sar.respondent,
            sar.reply_date replyDate,
            sar.reply_delivery_date replyDeliveryDate,
            sar.reply_content replyContent
        FROM
            jr_sale_application_reply sar
        WHERE
            sar.sale_application_id =  #{id} and sar.reply_department  = #{replyDepartment}
    </select>

    <select id="findSaleApplicationDesignById" resultType="int">
        SELECT
            COUNT( 1 )
        FROM
            jr_sale_application_reply sar
        WHERE
            sar.sale_application_id =  #{id} and  sar.reply_department  = #{replyDepartment}
    </select>

    <!--进行修改新回复的数据-->
    <update id = "updateSaleApplicationReply" parameterType = "com.erp.sale.entity.SaleApplicationReply" >
        UPDATE jr_sale_application_reply sar
        SET sar.respondent = #{respondent},
            sar.reply_date = #{replyDate},
            sar.reply_delivery_date = #{replyDeliveryDate},
            sar.reply_content = #{replyContent},
            sar.reply_department = #{replyDepartment}
        WHERE sar.sale_application_id = #{saleApplicationId} and sar.reply_department  = #{replyDepartment}
    </update>
     <!--查询出最后一个销售申请单号-->
    <select id="querySaleApplication" resultType="com.erp.sale.entity.SaleApplication">
        SELECT
            sa.id,
            sa.requested_delivery_date requestedDeliveryDate,
            sa.application_no applicationNo,
            sa.customer_id customerId,
            sa.customer_name customerName,
            sa.salesman_name salesmanName,
            sa.enclosure_name enclosureName,
            sa.create_date createDate
        FROM
            jr_sale_application sa
        GROUP BY
            sa.create_date
        ORDER BY
            sa.create_date DESC
            LIMIT 1;
    </select>
    <!--删除附表数据-->
    <delete id="deleteSaleApplication">
        delete from jr_sale_application_schedule  where application_no = #{applicationNo}
    </delete>
    <!--向数据库添加修改之后的数据-->
    <insert id="saveSaleApplicationSchedule" parameterType="com.erp.sale.entity.SaleApplicationSchedule">
         INSERT INTO jr_sale_application_schedule (
            application_no,
            product_name,
            specification_model,
            configure_name
            ,company_name,
            quantity_name,
            explain_name,
            machine_requirements,
            computer_configuration,
            tool_size,
            hourly_production,
            processing_procedure,
            fixture_requirements,
            product_shape,
            product_size,
            other_requirements)
        VALUES
            (
             #{applicationNo},
             #{productName},
             #{specificationModel},
             #{configureName},
             #{companyName},
             #{quantityName},
             #{explainName},
             #{machineRequirements},
             #{computerConfiguration},
             #{toolSize},
             #{hourlyProduction},
             #{processingProcedure},
             #{fixtureRequirements},
             #{productShape},
             #{productSize},
             #{otherRequirements}
            )
    </insert>
    <!--进行修改主表的数据-->
    <update id = "updateSaleApplication" parameterType = "com.erp.sale.entity.SaleApplication" >
        UPDATE jr_sale_application sa
        SET sa.requested_delivery_date = #{requestedDeliveryDate},
            sa.application_no = #{applicationNo},
            sa.customer_name = #{customerName},
            sa.salesman_name = #{salesmanName},
            sa.enclosure_name = #{enclosureName}
        WHERE sa.application_no = #{applicationNo}
    </update>

</mapper>
