<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.sale.mapper.SaleOrderMapper">
    <sql id="countSaleOrderSql" >
        SELECT
            COUNT( 1 )
        FROM
            jr_sale_order so
        LEFT JOIN jr_sale_order_schedule sos ON ( so.odd_numbers = sos.odd_numbers )
        LEFT JOIN jr_finance_parameters fpa ON ( so.currency_id = fpa.id )
        LEFT JOIN jr_finance_parameters fpb ON ( so.tax_rate_id = fpb.id )
        LEFT JOIN jr_finance_parameters fpc ON ( so.payment_method_id = fpc.id )
        WHERE
            1 = 1
        <if test="saleOrder.orderState != null and saleOrder.orderState !=''">
            And sos.order_state = #{saleOrder.orderState}
        </if>
        <if test="saleOrder.startTimeFrom != null and saleOrder.startTimeFrom !=''">
            And so.order_date &gt; #{saleOrder.startTimeFrom}
        </if>
        <if test="saleOrder.endTimeTo != null and saleOrder.endTimeTo !=''">
            And so.order_date &lt; #{saleOrder.endTimeTo}
        </if>
        <if test="saleOrder.customerName != null and saleOrder.customerName !=''">
            And so.customer_name = #{saleOrder.customerName}
        </if>
        <if test="saleOrder.salesmanName != null and saleOrder.salesmanName !=''">
            And so.salesman_name = #{saleOrder.salesmanName}
        </if>
        <if test="saleOrder.afterSalesClerk != null and saleOrder.afterSalesClerk !=''">
            And so.after_sales_clerk = #{saleOrder.afterSalesClerk}
        </if>
         <if test="saleOrder.oddNumbers != null and saleOrder.oddNumbers !=''">
            And so.odd_numbers = #{saleOrder.oddNumbers}
        </if>
        <if test="saleOrder.productName != null and saleOrder.productName !=''">
            And sos.product_name = #{saleOrder.productName}
        </if>
        <if test="saleOrder.specificationModel != null and saleOrder.specificationModel !=''">
            And sos.specification_model = #{saleOrder.specificationModel}
        </if>
         <if test="saleOrder.currencyName != null and saleOrder.currencyName !=''">
            And so.currency_id = #{saleOrder.currencyName}
        </if>
    </sql>
    <sql id="findSaleOrderSql" >
            SELECT
                so.id,
                sos.order_state orderState,
                so.odd_numbers oddNumbers,
                so.order_date orderDate,
                so.customer_name customerName,
                so.salesman_name salesmanName,
                fpa.finance_parameter_name currencyName,
                fpb.finance_parameter_name taxRate,
                fpc.finance_parameter_name paymentMethod,
                so.deposit_money depositMoney,
                so.invoice_not invoiceNot,
                so.contacts_name contactsName,
                so.mobile_phone mobilePhone,
                so.enclosure_name enclosureName,
                so.order_type orderType,
                so.after_sales_clerk afterSalesClerk,
                sos.id orderScheduleId,
                sos.product_name productName,
                sos.specification_model specificationModel,
                sos.configure_name configureName,
                sos.company_name companyName,
                sos.quantity_name quantityName,
                sos.unit_price unitPrice,
                sos.amount_money amountMoney,
                sos.delivery_date deliveryDate,
                sos.order_remarks orderRemarks,
                sos.machine_requirements machineRequirements,
                sos.computer_configuration computerConfiguration,
                sos.tool_size toolSize,
                sos.hourly_production hourlyProduction,
                sos.processing_procedure processingProcedure,
                sos.fixture_requirements fixtureRequirements,
                sos.product_shape productShape,
                sos.product_size productSize,
                sos.other_requirements otherRequirements,
                so.create_date createDate
            FROM
                jr_sale_order so
            LEFT JOIN jr_sale_order_schedule sos ON ( so.odd_numbers = sos.odd_numbers )
            LEFT JOIN jr_finance_parameters fpa ON ( so.currency_id = fpa.id )
            LEFT JOIN jr_finance_parameters fpb ON ( so.tax_rate_id = fpb.id )
            LEFT JOIN jr_finance_parameters fpc ON ( so.payment_method_id = fpc.id )
            WHERE
            1 = 1
            <if test="saleOrder.orderState != null and saleOrder.orderState !=''">
                And sos.order_state = #{saleOrder.orderState}
            </if>
            <if test="saleOrder.startTimeFrom != null and saleOrder.startTimeFrom !=''">
                And so.order_date &gt; #{saleOrder.startTimeFrom}
            </if>
            <if test="saleOrder.endTimeTo != null and saleOrder.endTimeTo !=''">
                And so.order_date &lt; #{saleOrder.endTimeTo}
            </if>
            <if test="saleOrder.customerName != null and saleOrder.customerName !=''">
                And so.customer_name = #{saleOrder.customerName}
            </if>
            <if test="saleOrder.salesmanName != null and saleOrder.salesmanName !=''">
                And so.salesman_name = #{saleOrder.salesmanName}
            </if>
            <if test="saleOrder.afterSalesClerk != null and saleOrder.afterSalesClerk !=''">
                And so.after_sales_clerk = #{saleOrder.afterSalesClerk}
            </if>
            <if test="saleOrder.oddNumbers != null and saleOrder.oddNumbers !=''">
                And so.odd_numbers = #{saleOrder.oddNumbers}
            </if>
            <if test="saleOrder.productName != null and saleOrder.productName !=''">
                And sos.product_name = #{saleOrder.productName}
            </if>
            <if test="saleOrder.specificationModel != null and saleOrder.specificationModel !=''">
                And sos.specification_model = #{saleOrder.specificationModel}
            </if>
            <if test="saleOrder.currencyName != null and saleOrder.currencyName !=''">
                And so.currency_id = #{saleOrder.currencyName}
            </if>
    </sql>

    <select id="countSaleOrder" parameterType="com.erp.sale.entity.SaleOrderAll" resultType="long">
        <include refid="countSaleOrderSql"/>
    </select>

    <select id="findSaleOrderPage" parameterType="com.erp.sale.entity.SaleOrderAll" resultType="com.erp.sale.entity.SaleOrderAll">
        <include refid="findSaleOrderSql"/>
    </select>

    <!--查询出最后一个销售订单单号-->
    <select id="querySaleOrder" resultType="com.erp.sale.entity.SaleOrder">
        SELECT
            so.id,
            so.odd_numbers oddNumbers,
            so.order_date orderDate,
            so.customer_name customerName,
            so.salesman_name salesmanName,
            so.currency_id currencyId,
            so.tax_rate_id taxRateId,
            so.payment_method_id paymentMethodId,
            so.deposit_money depositMoney,
            so.invoice_not invoiceNot,
            so.contacts_name contactsName,
            so.mobile_phone mobilePhone,
            so.enclosure_name enclosureName,
            so.order_type orderType,
            so.after_sales_clerk afterSalesClerk,
            so.create_date createDate
        FROM
	        jr_sale_order so
        GROUP BY
            so.create_date
        ORDER BY
            so.create_date DESC
            LIMIT 1;
    </select>

    <insert id="addSaleOrder" parameterType="com.erp.sale.entity.SaleOrder">
        INSERT INTO jr_sale_order (
                    odd_numbers ,
                    order_date ,
                    customer_name ,
                    salesman_name ,
                    currency_id ,
                    tax_rate_id ,
                    payment_method_id ,
                    deposit_money ,
                    invoice_not ,
                    contacts_name ,
                    mobile_phone ,
                    enclosure_name ,
                    order_type ,
                    after_sales_clerk ,
                    create_date  )
        VALUES
                    (#{oddNumbers},
                     #{orderDate},
                     #{customerName},
                     #{salesmanName},
                     #{currencyId},
                     #{taxRateId},
                     #{paymentMethodId},
                     #{depositMoney},
                     #{invoiceNot},
                     #{contactsName},
                     #{mobilePhone},
                     #{enclosureName},
                     #{orderType},
                     #{afterSalesClerk},
                     #{createDate}
            )
    </insert>
    <insert id="addSaleOrderSchedule" parameterType="com.erp.sale.entity.SaleOrderSchedule">
        INSERT INTO jr_sale_order_schedule (
                    odd_numbers ,
                    product_name ,
                    specification_model ,
                    configure_name ,
                    company_name ,
                    quantity_name ,
                    unit_price ,
                    amount_money ,
                    delivery_date ,
                    order_remarks ,
                    machine_requirements ,
                    computer_configuration ,
                    tool_size ,
                    hourly_production ,
                    processing_procedure ,
                    fixture_requirements ,
                    product_shape ,
                    product_size ,
                    other_requirements)
        VALUES
                    (#{oddNumbers},
                     #{productName},
                     #{specificationModel},
                     #{configureName},
                     #{companyName},
                     #{quantityName},
                     #{unitPrice},
                     #{amountMoney},
                     #{deliveryDate},
                     #{orderRemarks},
                     #{machineRequirements},
                     #{computerConfiguration},
                     #{toolSize},
                     #{hourlyProduction},
                     #{processingProcedure},
                     #{fixtureRequirements},
                     #{productShape},
                     #{productSize},
                     #{otherRequirements}
            )
    </insert>

    <!-- 配置回显查询-->
    <select id="findSaleOrderConfigureViewById" parameterType="long" resultType="com.erp.sale.entity.SaleOrderSchedule">
        SELECT
            sos.machine_requirements machineRequirements,
            sos.computer_configuration computerConfiguration,
            sos.tool_size toolSize,
            sos.hourly_production hourlyProduction,
            sos.processing_procedure processingProcedure,
            sos.fixture_requirements fixtureRequirements,
            sos.product_shape productShape,
            sos.product_size productSize,
            sos.other_requirements otherRequirements
        FROM
            jr_sale_order_schedule sos
        WHERE
            sos.id = #{id}
    </select>

    <!-- 销售订单修改回显查询-->
    <select id="findSaleOrderById" parameterType="long" resultType="com.erp.sale.entity.SaleOrder">
        SELECT
            so.id,
            so.odd_numbers oddNumbers,
            so.order_date orderDate,
            so.customer_name customerName,
            so.salesman_name salesmanName,
            so.currency_id currencyId,
            so.tax_rate_id taxRateId,
            so.payment_method_id paymentMethodId,
            so.deposit_money depositMoney,
            so.invoice_not invoiceNot,
            so.contacts_name contactsName,
            so.mobile_phone mobilePhone,
            so.enclosure_name enclosureName,
            so.order_type orderType,
            so.after_sales_clerk afterSalesClerk,
            so.create_date createDate
        FROM
	        jr_sale_order so
        WHERE
            so.id = #{id}
    </select>
    <!-- 销售订单修改加载附表-->
    <select id="saleOrderSchedulesList" parameterType="String" resultType="com.erp.sale.entity.SaleOrderSchedule">
         SELECT
            sos.id,
            sos.order_state orderState,
            sos.odd_numbers oddNumbers,
            sos.product_name productName,
            sos.specification_model specificationModel,
            sos.configure_name configureName,
            sos.company_name companyName,
            sos.quantity_name quantityName,
            sos.unit_price unitPrice,
            sos.amount_money amountMoney,
            sos.delivery_date deliveryDate,
            sos.order_remarks orderRemarks,
            sos.machine_requirements machineRequirements,
            sos.computer_configuration computerConfiguration,
            sos.tool_size toolSize,
            sos.hourly_production hourlyProduction,
            sos.processing_procedure processingProcedure,
            sos.fixture_requirements fixtureRequirements,
            sos.product_shape productShape,
            sos.product_size productSize,
            sos.other_requirements otherRequirements
        FROM
            jr_sale_order_schedule sos
        WHERE
            sos.odd_numbers = #{oddNumbersTwo}
    </select>

    <!--删除附表数据-->
    <delete id="deleteSaleOrderSchedule">
        delete from jr_sale_order_schedule where odd_numbers = #{oddNumbers}
    </delete>

    <!--进行修改主表的数据-->
    <update id = "updateSaleOrder" parameterType = "com.erp.sale.entity.SaleOrder" >
        UPDATE jr_sale_order so
        SET
            so.order_date = #{orderDate},
            so.customer_name = #{customerName},
            so.salesman_name = #{salesmanName},
            so.currency_id = #{currencyId},
            so.tax_rate_id = #{taxRateId},
            so.payment_method_id = #{paymentMethodId},
            so.deposit_money = #{depositMoney},
            so.invoice_not = #{invoiceNot},
            so.contacts_name = #{contactsName},
            so.mobile_phone = #{mobilePhone},
            so.enclosure_name = #{enclosureName},
            so.order_type = #{orderType},
            so.after_sales_clerk = #{afterSalesClerk}
        WHERE so.odd_numbers = #{oddNumbers}
    </update>

</mapper>
