<style>
    #purchaseClosed-list xm-select {
        min-height: 30px;
        line-height: 30px;
    }
    #purchaseClosed-list xm-select > .xm-label .scroll .label-content {
        display: flex;
        padding: 0 30px 0 10px;
    }
</style>
<div class="layui-fluid layui-anim febs-anim" id="purchaseClosed-list" lay-title="采购收货">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="parameter-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md12">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-mid layui-form-label-sm">状态</label>
                                        <div class="layui-input-inline">
                                            <select name="closedState">
                                                <option value=""></option>
                                                <option value="1">登记</option>
                                                <option value="2">入库</option>
                                                <option value="2">结算</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-inline" >
                                        <label class="layui-form-mid layui-form-label-sm">单号</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="closedNumber" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-mid layui-form-label-sm">库房</label>
                                        <div class="layui-input-inline">
                                            <select name="warehouseState">
                                                <option value=""></option>
                                                <option value="1">外购库</option>
                                                <option value="2">机加库</option>
                                                <option value="3">废品库</option>
                                                <option value="4">资产库</option>
                                                <option value="5">成品库</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="purchaseClosedTable" id="purchaseClosedTable" lay-data="{id: 'purchaseClosedTable'}"></table>
                    <div class="layui-col-md6">
                        <div class="layui-form-item"></div>
                    </div>
                    <div class="layui-col-md6 layui-col-sm12 layui-col-xs12 table-action-area">
                        <!--搜索按钮-->
                        <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action" id="query">
                            <i class="layui-icon">&#xe848;</i>查询
                        </div>
                        <!-- 刷新表格按钮-->
                        <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-green-plain table-action" id="reset">
                            <i class="layui-icon">&#xe79b;</i>刷新
                        </div>
                        <!--添加按钮-->
                        <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action
                                     "shiro:hasAnyPermissions="purchaseClosed:add" id="addTo">
                            <i class="layui-icon">&#xe78a;</i>新增
                        </div>
                        <!--修改按钮-->
                        <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action "
                             shiro:hasAnyPermissions="purchaseClosed:update" id="updateTo">
                            <i class="layui-icon">&#xe642;</i>修改
                        </div>
                    </div>
                    <br>
                    <br>
                    <table lay-filter="purchaseClosed-table" id="purchaseClosed-table" lay-data="{id: 'purchaseClosed-table'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="closed-state">
    {{#
    let closedState = {
    1: {title: '登记'},
    2: {title: '入库'},
    3: {title: '结算'}
    }[d.closedState];
    }}
    <span>{{ closedState.title }}</span>
</script>

<script type="text/html" id="warehouse-state">
    {{#
    let warehouseState = {
    1: {title: '外购库'},
    2: {title: '机加库'},
    3: {title: '废品库'},
    4: {title: '资产库'},
    5: {title: '成品库'}
    }[d.warehouseState];
    }}
    <span>{{ warehouseState.title }}</span>
</script>

<script type="text/html" id="parameter-option">
    <span shiro:lacksPermission="purchaseClosed:view,purchaseClosed:update">
        <span class="layui-badge-dot febs-bg-orange"></span> 无权限
    </span>
    <a lay-event="edit" shiro:hasPermission="purchaseClosed:update"><i
            class="layui-icon febs-edit-area febs-blue">&#xe7a4;</i></a>
</script>
<script langguage="JavaScript">
    var deliveryDateTo = new Date().getFullYear() + '-' + (new Date().getMonth() + 1) + '-' + new Date().getDate();
</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdownMenu', 'jquery', 'laydate', 'form', 'table', 'febs', 'xmSelect'], function () {
        let $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            dropdownMenu = layui.dropdownMenu,
            $view = $('#purchaseClosed-list'),
            $query = $view.find('#query'),
            $addTo = $view.find('#addTo'),
            $updateTo = $view.find('#updateTo'),
            $confirmTo = $view.find('#confirmTo'),
            $cancelTo = $view.find('#cancelTo'),
            $deleteTo = $view.find('#deleteTo'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'createTime', type: null},
            tableIns;

        form.render();
        initPurchaseRequisitionTable();

        dropdownMenu.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                let checkStatus = table.checkStatus('purchaseClosedTable');
            },
            options: []
        });

        table.on('tool(purchaseClosedTable)', function (obj) {
            let data = obj.data,
                layEvent = obj.event;
        });

        table.on('sort(purchaseClosedTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });
        var purchaseTableData = new Array(); // 用于存放表格数据
        $query.on('click', function () {
            let params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
            tableIns.reload({where: getQueryParams(), page: {curr: 1}});
        });
        $addTo.on('click', function () {
            febs.modal.open('【采购收货】 新增', 'purchase/purchaseClosed/add', {
                btn: ['增加行','删除行','删除整单','保存', '关闭'],
                area: ["80%","60%"],
                yes: function (index, layero) {
                    var dataBak = [];
                    var tableBak = layui.table.cache['purchaseClosedRequisition-table'];
                    for (var i=0;i<tableBak.length; i++){
                        dataBak.push(tableBak[i]);
                    }
                    dataBak.push({
                        "orderNumber":"",
                        "orderCode":"",
                        "materialName":"",
                        "orderSpecifications":"",
                        "orderQuality":"",
                        "orderBrand":"",
                        "orderCompany":"",
                        "orderQuantity":"",
                        "unitPrice":"0.00",
                        "orderMoney":"0.00",
                        "deliveryDate":deliveryDateTo,
                        "orderRemarks":"",
                    });
                    console.log(dataBak);
                    layui.table.reload('purchaseClosedRequisition-table',{
                        data:dataBak
                    });
                },
                btn2: function () {
                    let checkStatus = table.checkStatus('purchaseClosedRequisition-table')
                        , demo = table.cache["purchaseClosedRequisition-table"];//获取表格中的数据
                    if (checkStatus.data.length < 1) {
                        layer.alert("请选择一条数据操作");
                        return false;
                    }else {
                        var tablelist = [];//存储未选中的数据
                        //循环表格数据
                        for (var i in demo) {
                            //判断未选中数据
                            if (!demo[i].LAY_CHECKED) {
                                //存入数组
                                tablelist.push(demo[i]);
                            }
                        }
                        //重载表格
                        table.reload('purchaseClosedRequisition-table', {
                            data: tablelist
                        });

                    }
                    return false;
                },
                btn3: function () {
                    var dataBak = [];
                    layui.table.reload('purchaseClosedRequisition-table',{
                        data:dataBak
                    });
                    return false;
                },
                btn4: function () {
                    $('#purchaseClosed-add').find('#submit').trigger('click');
                    return false;
                },
                btn5: function () {
                    layer.closeAll();
                }
            });
        });
        $updateTo.on('click', function () {
            let checkStatus = table.checkStatus('purchaseClosedTable');
            if (!checkStatus.data.length) {
                febs.alert.warn('请选择需要修改的数据');
            }else if(checkStatus.data.length>1){
                febs.alert.warn('请选择一条需要修改的数据');
            }else{
                layui.each(checkStatus.data, function (key, item) {
                    febs.modal.open('【采购订单】 修改', 'purchase/purchaseClosed/update/' + item.id, {
                        area: ["80%","60%"],
                        btn: ['增加行','删除行','删除整单','保存', '关闭'],
                        yes: function (index, layero) {
                            var buttonArr = [];
                            var tableBak = layui.table.cache['purchaseClosedRequisitionList'];//获取之前编辑过的全部数据，前提是编辑数据是要更新缓存，buttonList 为表格的id
                            for (var i = 0; i < tableBak.length; i++) {
                                buttonArr.push(tableBak[i]);      //将之前的数组存储
                            }
                            buttonArr.push({
                                "applyCode":"",
                                "applyName":"",
                                "applySpecifications":"",
                                "applyQuality":"",
                                "applyBrand":"",
                                "applyCompany":"",
                                "applyQuantity":"",
                                "unitPrice":"0.00",
                                "orderMoney":"0.00",
                                "deliveryDate":deliveryDateTo,
                                "applyRemarks":"",
                            });
                            table.reload('purchaseClosedRequisitionList',{
                                data:buttonArr
                            });
                        },
                        btn2: function () {
                            let checkStatus = table.checkStatus('purchaseClosedRequisitionList')
                                , demo = table.cache["purchaseClosedRequisitionList"];//获取表格中的数据
                            if (checkStatus.data.length < 1) {
                                layer.alert("请选择一条数据操作");
                                return false;
                            }else {
                                var tablelist = [];//存储未选中的数据
                                //循环表格数据
                                for (var i in demo) {
                                    //判断未选中数据
                                    if (!demo[i].LAY_CHECKED) {
                                        //存入数组
                                        tablelist.push(demo[i]);
                                    }
                                }
                                //重载表格
                                table.reload('purchaseClosedRequisitionList', {
                                    data: tablelist
                                });

                            }
                            return false;
                        },
                        btn3: function () {
                            var dataBak = [];
                            layui.table.reload('purchaseClosedRequisitionList',{
                                data:dataBak
                            });
                            return false;
                        },
                        btn4: function () {
                            $('#purchaseClosed-update').find('#submit').trigger('click');
                            return false;
                        },
                        btn5: function () {
                            layer.closeAll();
                        }
                    });
                });
            }
        });
        $confirmTo.on('click', function () {
            let checkStatus = table.checkStatus('purchaseClosedTable');
            if (!checkStatus.data.length) {
                febs.alert.warn('请选择需要确认的数据');
            } else {
                febs.modal.confirm('确认采购参数', '是否确认？', function () {
                    let ids = [];
                    layui.each(checkStatus.data, function (key, item) {
                        ids.push(item.id)
                    });
                    confirmPurchaseRequisition(ids.join(','));
                });
            }
        });
        $cancelTo.on('click', function () {
            let checkStatus = table.checkStatus('purchaseClosedTable');
            if (!checkStatus.data.length) {
                febs.alert.warn('请选择需要取消的数据');
            } else {
                alert("取消")
            }
        });
        $deleteTo.on('click', function () {
            let checkStatus = table.checkStatus('purchaseClosedTable');
            if (!checkStatus.data.length) {
                febs.alert.warn('请选择需要删除的数据');
            } else {
                febs.modal.confirm('删除采购参数', '确定删除？', function () {
                    let ids = [];
                    layui.each(checkStatus.data, function (key, item) {
                        ids.push(item.id)
                    });
                    deletePurchaseRequisition(ids.join(','));
                });
            }
        });

        function initPurchaseRequisitionTable() {
            tableIns = febs.table.init({
                elem: '#purchaseClosedTable',
                id: 'purchaseClosedTable',
                url: ctx + 'purchaseClosed/list',
                cols: [[
                    {type: 'checkbox'},
                    {field:'number',title:'序号',align:'center',width:60,templet:function (d) {
                            return d.LAY_INDEX;}},
                    {title: '状态', templet: '#closed-state',align:'center',width:60},
                    {field: 'purchaseRequisitionDate', title: '日期',align:'center',templet:'<div>{{ layui.util.toDateString(d.purchaseRequisitionDate, "yyyy-MM-dd") }}</div>', minWidth: 110, sort: true},
                    {field: 'closedNumber', title: '收货单号', minWidth: 145,align:'center'},
                    {field: 'supplierName', title: '供应商', minWidth: 120,align:'center'},
                    {title: '库房', templet: '#warehouse-state',align:'center',width:120},
                    {field: 'orderQuantity',title: '数量', minWidth: 55,align:'center'},
                    {field: 'orderMoney', title: '金额', minWidth: 95,align:'center'},
                    {field: 'currencyName', title: '币种', minWidth: 80,align:'center'},
                    {field: 'taxRateName', title: '税率', minWidth: 80,align:'center'},
                    {field: 'closedStorage', title: '入库人', minWidth: 95,align:'center'},
                    {field: 'closedStorageDate', title: '入库日期',align:'center',templet:'<div>{{ layui.util.toDateString(d.closedStorageDate, "yyyy-MM-dd HH:mm:ss") }}</div>', minWidth: 160, sort: true}
                ]]
            });
        }
        table.on('row(purchaseClosedTable)', function (obj) {
            let oddNumbers = obj.data.closedNumber;
            $.ajax({
                url: '/purchaseClosed/query',
                data:{"oddNumbers":oddNumbers},
                async:false
                ,dataType:"json"
                ,success : function(data) {
                    purchaseTableData = data.replies;
                    layui.table.reload('purchaseClosed-table',{
                        data : purchaseTableData
                    });
                }
            });
        });
        table.render({
            elem:'#purchaseClosed-table',
            data:purchaseTableData,
            cols: [[
                {field:'number',title:'序号',align:'center',width:60,templet:function (d) {
                        return d.LAY_INDEX;}},
                {field: 'orderCode',title: '编码', minWidth: 90,align:'center'},
                {field: 'materialName', title: '名称', minWidth: 90,align:'center'},
                {field: 'orderSpecifications', title: '规格', minWidth: 90,event:'specification',align:'center'},
                {field: 'orderQuality',title: '材质', minWidth: 55,align:'center'},
                {field: 'orderBrand',title: '品牌', minWidth: 55,align:'center'},
                {field: 'orderCompany',title: '单位', minWidth: 55,align:'center'},
                /*{field: 'orderQuantity',title: '订购数量', minWidth: 55,align:'center'},*/
                {field: 'orderQuantity',title: '收货数量', minWidth: 55,align:'center'},
                {field: 'unitPrice',title: '单价', minWidth: 55,align:'center'},
                {field: 'orderMoney',title: '金额', minWidth: 55,align:'center'},
                {field: 'applicationNo',title: '采购订单', minWidth: 55,align:'center'},
                {field: 'orderRemarks', title: '备注', minWidth: 72}
            ]]
        });

        function getQueryParams() {
            let params = $searchForm.serializeJson();
            params.invalidate_ie_cache = new Date();
            return params;
        }

        function deletePurchaseRequisition(ids) {
            febs.get(ctx + 'purchaseOrder/delete/' + ids, null, function () {
                febs.alert.success('删除采购参数成功');
                $query.click();
            });
        }

        function confirmPurchaseRequisition(ids) {
            febs.get(ctx + 'purchaseOrder/confirm/' + ids, null, function () {
                febs.alert.success('确认采购参数成功');
                $query.click();
            });
        }

    })

</script>