<style>
    #purchaseClosed-add {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="purchaseClosed-add">
    <form class="layui-form" action="" lay-filter="purchaseClosed-add-form">
        <div class="layui-form-item">
            <label class="layui-form-mid" >单号&nbsp;<b>:</b></label>
            <div class="layui-input-inline" style="width: 115px">
                <input type="text" name="orderNumber" id="orderNumber" style="width: 115px"
                       autocomplete="off" class="layui-input" placeholder="为空时自动生成" readonly>
            </div>
            <label class="layui-form-mid">日期&nbsp;<b>:</b></label>
            <div class="layui-input-inline" style="width: 100px">
                <input type="text" name="purchaseRequisitionDate" id="purchaseRequisitionDate"
                       autocomplete="off" class="layui-input createDate" readonly>
            </div>
            <label class="layui-form-mid">类型&nbsp;<b>:</b></label>
            <div class="layui-input-inline" style="width: 145px">
                <select id="paymentMethod"  name="paymentMethod" class="layui-form-select" >
                    <option value="1">直接采购</option>
                </select>
            </div>
            <label class="layui-form-mid">供应商&nbsp;<b>:</b></label>
            <div class="layui-input-inline" style="width: 145px">
                <input type="text" name="supplierNameClosed" id="supplierNameClosed" lay-verify="required" ondblclick="purchaseClosedAddName()"
                       autocomplete="off" class="layui-input" placeholder="双击选择" style="width: 145px"  readonly>
            </div>
            <label class="layui-form-mid">库房&nbsp;<b>:</b></label>
            <div class="layui-input-inline" style="width: 145px">
                <select name="warehouseState" id="warehouseState">
                    <option value="1">外购库</option>
                    <option value="2">机加库</option>
                    <option value="2">废品库</option>
                    <option value="2">资产库</option>
                    <option value="2">成品库</option>
                </select>
            </div>
            <label class="layui-form-mid">币&nbsp;种&nbsp;<b>:</b></label>
            <div class="layui-input-inline" style="width: 90px">
                <select id="currencyName"  name="currencyName" lay-verify="required" class="layui-form-select" >
                    <option th:each="currency:${currency}" th:value="${currency.id}">[[${currency.financeParameterName}]]</option>
                </select>
            </div>
            <label class="layui-form-mid">税&nbsp;率&nbsp;<b>:</b></label>
            <div class="layui-input-inline" style="width: 85px">
                <select id="taxRateName"  name="taxRateName" lay-verify="required" class="layui-form-select" >
                    <option th:each="taxRate:${taxRate}" th:value="${taxRate.id}">[[${taxRate.financeParameterName}]]</option>
                </select>
            </div>
        </div>
        <table class="layui-table layui-form" id="purchaseClosedRequisition-table" lay-filter="purchaseClosedRequisition-table"></table>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="purchaseClosed-add-form-submit" id="submit"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script langguage="JavaScript">

    var now = new Date();
    purchaseRequisitionDate.value=new Date().getFullYear() + '-' + (new Date().getMonth() + 1) + '-' + new Date().getDate();
    var deliveryDateTo = new Date().getFullYear() + '-' + (new Date().getMonth() + 1) + '-' + new Date().getDate();
</script>
<script>
    layui.use(['febs', 'form', 'validate','table', 'xmSelect','upload','laydate'], function () {
        let $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            form = layui.form,
            laydate = layui.laydate,
            validate = layui.validate,
            table = layui.table,
            deptXmlSelect;


        form.verify(validate);
        form.render();

        let userName = currentUser.username;
        deptXmlSelect = xmSelect.render({
            el: '#purchase-add-dept',
            model: {label: {type: 'text'}},
            tree: {
                show: true,
                strict: false,
                showLine: false,
                clickCheck: true,
                expandedKeys: [-1],
            },
            name: 'departmentId',
            theme: {
                color: '#52c41a',
            },
            prop: {
                value: 'id'
            },
            height: 'auto',
            on: function (data) {
                if (data.isAdd) {
                    return data.change.slice(0, 1)
                }
            }
        });

        febs.get(ctx + 'dept/select/tree', null, function (data) {
            deptXmlSelect.update(
                data
            )
        });

        //日期同时绑定多个
        lay('.createDate').each(function(){
            laydate.render({
                elem: this
                ,trigger: 'click'
            });
        });
        table.render({
            elem: "#purchaseClosedRequisition-table",
            data:[],
            even:true,
            cols: [
                [
                    {type: 'checkbox'},
                    {field: 'orderNumber',title: '采购订单',align:'center', minWidth: 145,event:'choice'},
                    {field: 'orderCode',title: '编码', align:'center',minWidth: 115},
                    {field: 'materialName', title: '名称',align:'center', minWidth: 90},
                    {field: 'orderSpecifications', title: '规格', align:'center',minWidth: 90},
                    {field: 'orderQuality',title: '材质', minWidth: 55,align:'center'},
                    {field: 'orderBrand',title: '品牌', minWidth: 55,align:'center'},
                    {field: 'orderCompany',title: '单位', minWidth: 55,align:'center'},
                    {field: 'orderQuantity', edit:true,title: '数量', minWidth: 50,align:'center'},
                    {field: 'unitPrice', edit:true,title: '单价',minWidth: 55,align:'center',align:'center',templet:function (data) {
                            var price = parseFloat(data.unitPrice).toFixed(2); //设置小数点后个数
                            return price;}},
                    {field: 'orderMoney',title: '金额', minWidth: 55,align:'center',templet:function (data) {
                            var price = parseFloat(data.orderMoney).toFixed(2); //设置小数点后个数
                            return price;}},
                    {field: 'orderRemarks',edit:true, title: '备注', minWidth: 72}
                ]
            ]
        });

        table.on('tool(purchaseClosedRequisition-table)', function (obj) {
            let data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'choice') {
                var tableData = layui.table.cache['purchaseClosedRequisition-table'];
                var rowIndex = $(obj.tr).attr('data-index');//当前行的索引
                if (tableData != ""){
                    $("#parameterIndex").val(rowIndex);//获取索引
                    tableData.splice(rowIndex,1); //删除缓存的行
                }
                febs.modal.view('采购收货选择列表', "purchase/purchaseClosedQueryList", {
                    area:["70%","80%"]
                });
            }

            if (layEvent === 'deliveryDateOne') {
                var field = $(this).data('field');  //获取当前对象的字段名称，（如：field:'velappr'）
                laydate.render({
                    elem: this.firstChild
                    , show: true //直接显示
                    , closeStop: this  //这里代表的意思是：点击 this 所在元素阻止关闭事件冒泡。如果不设定，则无法弹出控件
                    , done: function (value) {
                        data[field] = value; //修改后的值
                        obj.update(data);
                    }
                });
            }
        });
        //监听行单击事件  给每一行数据绑定点击事件T
        //row(tableBigType)  表格的id
        table.on('edit(purchaseClosedRequisition-table)', function(obj){
            trDataMoney = obj.data
            var tdOrderQuantity =  trDataMoney.orderQuantity;
            if (tdOrderQuantity !="" && tdOrderQuantity != undefined && tdOrderQuantity != null){
                var tdUnitPrice = trDataMoney.unitPrice;
                var money  = parseInt(tdOrderQuantity) * parseInt(tdUnitPrice);
                trDataMoney.orderMoney = money;
                obj.update(obj.data);
            }
        });
        form.on('submit(purchaseClosed-add-form-submit)', function (data) {
            let dataThree = new Array();
            let purchaseClosedRequisitionTable =  table.cache["purchaseClosedRequisition-table"];
            alert(purchaseClosedRequisitionTable);
            for (i=0;i<purchaseClosedRequisitionTable.length;i++){
                let dataOne={
                    "orderNumber":purchaseClosedRequisitionTable[i].orderNumber,
                    "orderCode":purchaseClosedRequisitionTable[i].orderCode,
                    "materialName":purchaseClosedRequisitionTable[i].materialName,
                    "orderSpecifications":purchaseClosedRequisitionTable[i].orderSpecifications,
                    "orderQuality":purchaseClosedRequisitionTable[i].orderQuality,
                    "orderBrand":purchaseClosedRequisitionTable[i].orderBrand,
                    "orderCompany":purchaseClosedRequisitionTable[i].orderCompany,
                    "orderQuantity":purchaseClosedRequisitionTable[i].orderQuantity,
                    "unitPrice":purchaseClosedRequisitionTable[i].unitPrice,
                    "orderMoney":purchaseClosedRequisitionTable[i].orderMoney,
                    "orderRemarks":purchaseClosedRequisitionTable[i].orderRemarks
                };
                dataThree.push(dataOne);
            }
            let entity = {userName:userName,purchaseRequisitionDate: data.field.purchaseRequisitionDate,supplierName:data.field.supplierNameClosed,currencyId: data.field.currencyName,
                taxRateId: data.field.taxRateName,paymentMethod: data.field.paymentMethod,orderDeposit: data.field.orderDeposit,warehouseState: data.field.warehouseState}
            $.ajax({
                url: '/purchaseClosed/add',
                type:"post",
                data: {purchaseClosed:JSON.stringify(entity),dataTable:JSON.stringify(dataThree)},
                success : function(res) {
                    layer.closeAll();
                    $('#purchaseClosed-list').find('#query').click();
                    var dataBak = [];
                    layui.table.reload('purchaseClosed-table',{
                        data:dataBak
                    });
                }
            });
            return false;
        });

        $("#deletePicBtn").click(function () {
            var contFile = document.getElementById("span-img").innerText;
            if(contFile == ""){
                return layer.msg('您还没有上传文件！');
            }else {
                $.ajax({
                    url: '/saleDocumentFile/deleteFile',
                    data: {contFile: contFile},
                    success : function(res) {
                        //如果上传失败
                        if(res.code >0){
                            return layer.msg('删除失败');
                        }else {
                            $('#span-img').html("");
                            return layer.msg('删除成功');
                        }
                    }
                });
            }

        });

    });
    function purchaseClosedAddName(){
        layui.use(['febs', 'form', 'validate', 'xmSelect'], function () {
            let $ = layui.$,
                febs = layui.febs;
            febs.modal.open('供应商选择列表', 'purchase/purchaseClosedAddName', {
                area:["55%","60%"],
                yes: function (index, layero) {
                }

            });
        });
    }
</script>
